#avt-cus {
  position: relative;
  top: -14px;
  left: 15px;
}

.btn-login {
  height: 40px;
  width: 100px;
  background: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  position: relative;
  top: -10px;
}

.btn-login:hover {
  background: #FFF;
  color: #D10024;
  border: solid 2px #D10024;
}

.lang-item {
  padding: 9px;
}

.lang-item:hover {
  background: #D10024;
  color: #FFF;
}

.btn-lang {
  width: 100px;
  background: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;

}

.btn-lang:hover {
  width: 100px;
  background: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
}
::ng-deep .header-search .ant-input {
  border: none !important;
}
.search-btn {
  width: 160px;
  height: 40px;
  font-weight: 700;
  background: #D10024;
  color: #FFF;
  border: none;
  border-radius: 0px 40px 40px 0px;
}

.input-select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 40px 0px 0px 40px;
  //background: #D10024;
  //color: #FFF;
  font-weight: 700;
}
