<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li>
                    <a class="text-white"><i class="fas fa-phone"></i> 0925573154</a>
                </li>
                <li>
                    <a class="text-white"><i class="fas fa-envelope-o"></i> huynq1808@email.com</a>
                </li>
                <li>
                    <a class="text-white"><i class="fas fa-map-marker"></i> 82 Duy Tân Tân, Cầu Giấy, Hà Nội</a>
                </li>
            </ul>
            <ul class="header-links pull-right">
                <li>
                    <button
                        class="btn btn-lang"
                        nz-button
                        nz-dropdown
                        [nzDropdownMenu]="langmulti"
                        [nzPlacement]="'bottomRight'"
                    >
                        {{ "common.lang" | translate }}
                    </button>
                </li>
            </ul>
            <nz-dropdown-menu #langmulti="nzDropdownMenu">
                <ul nz-menu>
                    <li (click)="onChangeLanguage(EN)" class="lang-item">
                        <a role="button"><i class="fas fa-user-circle-o"></i> {{ "common.en" | translate }}</a>
                    </li>
                    <li (click)="onChangeLanguage(VI)" class="lang-item">
                        <a role="button"><i class="fas fa-user-plus"></i> {{ "common.vi" | translate }}</a>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo pl-4">
                        <a class="logo" role="button" [routerLink]="['/home']">
                            <img src="https://www.duckychannel.com.tw/assets/img/logo.png" height="70" alt="" />
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-5 col-lg-5">
                    <div class="header-search">
                        <div class="row">
                            <!--                            <nz-cascader class="input-select col-3"-->
                            <!--                                         [nzOptions]="nzOptions"-->
                            <!--                                         [(ngModel)]="selectCate"-->
                            <!--                            ></nz-cascader>-->
                            <input
                                [(ngModel)]="keyword"
                                class="input input-select col"
                                placeholder="{{ 'common.action.search' | translate }}"
                            />
                            <button (click)="this.goToSearch()" class="search-btn col-3">
                                {{ "common.action.search" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col clearfix p-0">
                    <div class="header-ctn" style="width: 100%">
                        <!-- Wishlist -->
                        <div>
                            <a role="button" [routerLink]="['/wishlist']">
                                <i class="far fa-heart"></i>
                                <span>{{ "wishlist.title" | translate }}</span>
                                <div class="qty">{{ this.dataCenter.totalItemFavorite? this.dataCenter.totalItemFavorite: 0 }}</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        <div>
                            <a [routerLink]="['/cart']">
                                <i class="fas fa-cart-plus"></i>
                                <span>{{ "cart.title" | translate }}</span>
                                <!--                                số lượng sản phẩm trong giở hàng-->
                                <!-- <div class="qty">{{ this.dataCenter.cartList?.length }}</div> -->
                               <div class="qty">{{ this.dataCenter.totalItemCart? this.dataCenter.totalItemCart:0 }}</div>
                            </a>
                        </div>
                        <!-- /Cart -->
                        <!-- /userAccount -->
                        <!--                        *hasRoles="['ROLE_CUSTOMER']"-->
                        <div
                            class="ml-0"
                            *ngIf="!!this.authService.userIdentity && authService.userType == 'CUSTOMER'; else login"
                        >
                            <a role="button" nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomLeft'">
                                <ngx-avatar
                                    [name]="this.authService?.userIdentity?.userName"
                                    size="40"
                                    id="avt-cus"
                                ></ngx-avatar>
                            </a>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item [routerLink]="['/user/myprofile']" routerLinkActive="active">
                                        {{ "home.user.myProfile" | translate }}
                                    </li>
                                    <li nz-menu-item [routerLink]="['/user/my-list-order']" routerLinkActive="active">
                                        {{ "home.user.myOrder" | translate }}
                                    </li>
                                    <li nz-menu-item (click)="this.dologOut()">
                                        {{ "home.user.myLogout" | translate }}
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                            <!--                            <ngx-avatar value="75%"></ngx-avatar>-->
                        </div>
                        <ng-template #login>
                            <button class="btn btn-login ml-3" [routerLink]="['/login']">
                                {{ "common.action.login" | translate }}
                            </button>
                        </ng-template>
                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<nav id="navigation" *ngIf="!this.isShowNavbar">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav ">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav d-inline">
                <li [routerLink]="['/home']" [routerLinkActive]="'active'">
                    <a role="button">{{ "navBar.home" | translate }}</a>
                </li>
                <li [routerLink]="['/product']" [routerLinkActive]="'active'">
                    <a role="button">{{ "navBar.category" | translate }}</a>
                </li>
                <li [routerLink]="['/blog']" [routerLinkActive]="'active'">
                    <a role="button">{{ "navBar.blog" | translate }}</a>
                </li>
                <li [routerLink]="['/about']" [routerLinkActive]="'active'">
                    <a role="button">{{ "navBar.aboutme" | translate }}</a>
                </li>
                <li [routerLink]="['/contact']" [routerLinkActive]="'active'">
                    <a role="button">{{ "navBar.contact" | translate }}</a>
                </li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
