
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="/assets/image/p/keyboard2.png" alt="" style="height: 233px;">
                    </div>
                    <div class="shop-body">
                        <h3>{{'home.keyBoard'| translate}}<br>{{'home.collection'| translate}}</h3>
                        <a [routerLink]="['/product']" [queryParams]="{categoryId: 2}" class="cta-btn">{{'home.shopNow'| translate}}
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="assets/image/p/shop03.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>{{'home.headphone'| translate}}<br>{{'home.collection'| translate}}</h3>
                        <a [routerLink]="['/product']" [queryParams]="{categoryId: 31}" class="cta-btn">{{'home.shopNow'| translate}}
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="assets/image/p/miceDucky.png" alt="" style="height: 233px;">
                    </div>
                    <div class="shop-body">
                        <h3>{{'home.mice'| translate}}<br>{{'home.collection'| translate}}</h3>
                        <a [routerLink]="['/product']" [queryParams]="{categoryId: 3}" class="cta-btn">{{'home.shopNow'| translate}}
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
