
 <nz-modal [(nzVisible)]="isVisible" nzOkDisabled nzTitle="{{ 'changePassword.title' | translate }}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzWidth="700px">
      <ng-container *nzModalContent>
         <app-change-password></app-change-password>
      </ng-container>
    </nz-modal>
<section class="inner-content">
    <div class="container-fluid">
        <h4 class="text-md-center m-md-2">{{ "home.profile.customerAccountManagement" | translate }}</h4>
        <form [formGroup]="this.profileForm" *ngIf="!!this.profileForm">
            <div class="row mt-md-5" style="margin-left: 78px">
                <div class="col-md-9">
                    <div class="row mt-md-4">
                        <div class="col-md-3 mt-md-4">
                            <label class="form-label">{{ "common.fullName" | translate }}</label>
                        </div>
                        <div class="col-md-9 mb-3 mt-md-4">
                            <input type="text" class="form-control" formControlName="fullName" />
                            <span
                                    class="text-danger"
                                    *ngIf="
                                    this.profileForm.get('fullName').invalid &&
                                    (this.profileForm.get('fullName').dirty || this.profileForm.get('fullName').touched)
                                ">
                                <small *ngIf="this.profileForm.getError('required', 'fullName')"
                                >*{{ "register.message.error.fullName" | translate }}</small
                                >
                            </span>
                        </div>
                    </div>
                    <div class="row mt-md-4">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">{{ "customer.detail.email" | translate }}</label>
                        </div>
                        <div class="col-md-9 mb-3">
                            <input type="text" class="form-control" formControlName="email" />
                            <span
                                    class="text-danger"
                                    *ngIf="
                                    this.profileForm.get('email').invalid &&
                                    (this.profileForm.get('email').dirty || this.profileForm.get('email').touched)
                                ">
                                <small *ngIf="this.profileForm.getError('required', 'email')">*{{ "register.message.error.email" | translate }}</small>
                                <small *ngIf="this.profileForm.getError('pattern', 'email')"
                                >*{{ "register.message.error.emailFormat" | translate }}</small
                                >
                            </span>
                        </div>
                    </div>
                    <div class="row mt-md-4">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">{{
                                "customer.detail.phoneNumber" | translate
                                }}</label>
                        </div>
                        <div class="col-md-9 mb-3">
                            <input type="text" class="form-control" formControlName="phoneNumber" />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.profileForm.get('phoneNumber').invalid &&
                                    (this.profileForm.get('phoneNumber').dirty ||
                                        this.profileForm.get('phoneNumber').touched)
                                "
                            >
                                <small *ngIf="this.profileForm.getError('required', 'phoneNumber')"
                                    >*{{ "register.message.error.phoneNumber" | translate }}</small
                                >
                                <small *ngIf="this.profileForm.getError('pattern', 'phoneNumber')"
                                    >*{{ "register.message.error.phoneNumberFormat" | translate }}</small
                                >
                            </span>
                        </div>
                    </div>
                    <div class="row mt-md-4">
                        <div class="col-md-3 mb-3">
                            <label  class="form-label">{{ "customer.detail.dob" | translate }}</label>
                        </div>
                        <div class="col-md-9 mb-3">
                            <input type="date" class="form-control" formControlName="dob" />
                        </div>
                    </div>
                    <div class="row mt-md-4">
                        <div class="col-md-3 mb-3">
                            <label  class="form-label">{{ "customer.detail.gender" | translate }}</label>
                        </div>
                        <div class="col-md-3 ">
                            <nz-form-control >
                                <nz-select
                                        class="w-100"
                                    formControlName="gender"
                                    nzPlaceHolder="{{ 'customer.detail.select' | translate }}"
                                >
                                    <nz-option
                                        [nzValue]="1"
                                        nzLabel="{{ 'customer.detail.male' | translate }}"
                                    ></nz-option>
                                    <nz-option
                                        [nzValue]="0"
                                        nzLabel="{{ 'customer.detail.female' | translate }}"
                                    ></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2 mt-md-5">
                    <button (click)="onSubmitForm()" class="btn-change">
                        <i class="bi bi-save"></i> {{ "common.action.save" | translate }}
                    </button>
                </div>
                 <div class="col-md-2 mt-md-5">
                    <button (click)="showModal()" class="btn-change">
                        <i class="bi bi-arrow-clockwise"></i> {{ "changePassword.title" | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
