<app-category-component></app-category-component>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container-fluid" style="padding: 0px">
        <!-- row -->
        <div class="row d-flex justify-content-center">

            <!-- section title -->
            <div class="col-10  ">
                <div class="section-title">
                    <h3 class="title">{{'home.newProducts' | translate}}</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li *ngFor="let item of this.categorySale"
                                [ngClass]="item.id?.toString() == this.indexCategoryMOI ? 'active' : '' "
                            >
                                <a
                                   (click)="changeCategory(item.id, 'moi')">{{item.label | translate}}
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <app-item-slick  [listProducts]="this.listProductMoi" ></app-item-slick>


            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- HOT DEAL SECTION -->
<div  class="section">
    <!-- container -->
    <div class="">
        <!-- row -->
        <div class="row">
            <app-slider>

            </app-slider>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="">
    <!-- container -->
    <div class="">
        <!-- row -->
        <div class="row d-flex justify-content-center">

            <!-- section title -->
                <div class="section-title col-10">
                    <h3 class="title">{{'home.topSelling' | translate}}</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
<!--                            <li class="active"><a data-toggle="tab" href="#tab2">{{'home.keycap' | translate}}</a></li>-->
<!--                            <li><a data-toggle="tab">{{'home.keyBoard' | translate}}</a></li>-->
<!--                            <li><a data-toggle="tab">{{'home.mice' | translate}}</a></li>-->
<!--                            <li><a data-toggle="tab">{{'home.periphetals' | translate}}</a></li>-->
                            <li *ngFor="let item of this.categorySale"
                                [ngClass]="item.id?.toString() == this.productTopSellingQuery?.categoryId ? 'active' : '' "
                            >
                                <a (click)="changeCategory(item.id, 'SALE')">{{item.label | translate}}
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
        <app-item-slick *ngIf="!!this.listProductTopSelling" [listProducts]="this.listProductTopSelling"></app-item-slick>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>{{'home.SignUpFor' | translate}}  <strong>{{'home.promotion' | translate}}</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="{{'employee.placeholder.email' | translate}}">
                        <button class="newsletter-btn"><i class="bi bi-envelope"></i> {{'home.subscribe' | translate}}</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a ><i class="bi bi-facebook"></i></a>
                        </li>
                        <li>
                            <a ><i class="bi bi-twitter"></i></a>
                        </li>
                        <li>
                            <a ><i class="bi bi-instagram"></i></a>
                        </li>
                        <li>
                            <a ><i class="bi bi-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
