<section>
    <div class="row">
        <div class="col">
            <h2>Chính sách đổi trả</h2>
        </div>
    </div>
    <div class="row">
        <div class="col" style="font-size: 18px">
                <p><strong>1. Điều kiện đổi trả</strong></p>
                <p>
                    Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại hàng&nbsp;ngay tại thời
                    điểm giao/nhận hàng&nbsp;trong những trường hợp sau:
                </p>
                <ul>
                    <li>
                        Hàng không đúng chủng loại, mẫu mã trong đơn hàng đã đặt hoặc như trên website tại thời điểm đặt
                        hàng.
                    </li>
                    <li>Không đủ số lượng, không đủ bộ như trong đơn hàng.</li>
                    <li>Tình trạng bên ngoài bị ảnh hưởng như rách bao bì, bong tróc, bể vỡ…</li>
                </ul>
                <p>
                    &nbsp;Khách hàng có trách nhiệm trình giấy tờ liên quan chứng minh sự thiếu sót trên để hoàn thành
                    việc&nbsp;hoàn trả/đổi trả hàng hóa.&nbsp;
                </p>
                <p>&nbsp;</p>
                <p><strong>2. Quy định về thời gian thông báo và gửi sản phẩm đổi&nbsp;</strong></p>
                <ul>
                    <li>
                        <strong>Thời gian thông báo đổi </strong>:&nbsp;trong vòng 48h kể từ khi nhận sản phẩm đối với
                        trường hợp sản phẩm bị bong tróc hình in , loang màu.
                    </li>
                    <li>
                        <strong>Thời gian gửi chuyển trả sản phẩm</strong>: trong vòng 7&nbsp;ngày kể từ khi nhận sản
                        phẩm.
                    </li>
                    <li>
                        <strong>Địa điểm đổi sản phẩm</strong>: Khách hàng có thể mang hàng trực tiếp đến văn phòng/ cửa
                        hàng của chúng tôi .
                    </li>
                    <li>
                        Khách hàng&nbsp;<strong>được đổi miễn phí</strong>&nbsp;sản phẩm&nbsp;<strong
                            >trong vòng 30&nbsp;ngày</strong
                        >&nbsp;kể từ ngày nhận được sản phẩm nếu gặp các vẫn đề liên quan đến in ấn.
                    </li>
                </ul>
                <p>
                    Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý
                    Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng&nbsp;của chúng tôi.
                </p>
        </div>
    </div>
</section>
