agm-map {
  height: 700px;
  width: 600px;
}
.contact {
  margin-left: 50px;
  margin-top: 10px;
  
}
.wrap-box{
  margin: 60px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 60px;
}
.list-info{
  margin-top: 15px;
}
.ask-us{
  margin-top: 10px;
}
.login-form {
        max-width: 300px;
      }

