<section class="inner-content">
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-6">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 inner-content" style="max-width: 500px">
                <div class="ml-md-5 mt-md-3">
                    <div class="header-page-contact clearfix">
                        <h1>{{ "navBar.contact" | translate }}</h1>
                    </div>
                    <div class="box-info-contact">
                        <ul class="list-info">
                            <li>
                                <p>{{ "contact.address" | translate }}</p>
                                <p><strong>82 Duy Tân Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</strong></p>
                            </li>
                            <li>
                                <p>{{ "contact.email" | translate }}</p>
                                <p><strong>huynq1808@email.com</strong></p>
                            </li>
                            <li>
                                <p>{{ "contact.phoneNumber" | translate }}</p>
                                <p><strong>0925573154</strong></p>
                            </li>
                            <li>
                                <p>{{ "contact.timeWork" | translate }}</p>
                                <p><strong>Thứ 2 đến Chủ Nhật</strong></p>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-md-5 ask-us">
                        <h2>{{ "contact.askUs" | translate }}</h2>
                        <br />
                        <form nz-form class="login-form">
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-input-group nzPrefixIcon="user">
                                        <input type="text" nz-input placeholder="{{ 'employee.placeholder.fullName' | translate }}" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <br />
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-input-group nzPrefixIcon="mail">
                                        <input type="text" nz-input placeholder="{{ 'employee.placeholder.email' | translate }}" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <br />
                            <nz-form-item>
                                <nz-form-control>
                                    <textarea
                                        nz-input
                                        placeholder="{{ 'employee.placeholder.describe' | translate }}"
                                        [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                                    ></textarea>
                                </nz-form-control>
                            </nz-form-item>

                            <button
                                class="btn btn-default mt-md-4 ml-md-5"
                                style="background-color: #d10024; color: #fff"
                            >
                                {{ "contact.sendUs" | translate }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
