<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/assets/css/p/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/assets/css/p/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/p/slick-theme.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/assets/css/p/nouislider.min.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/assets/css/p/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/assets/css/p/style.css"/>

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- HEADER -->
<app-public-header></app-public-header>
<!-- /HEADER -->
<!-- ROUTER -->
<router-outlet></router-outlet>
<!-- /NEWSLETTER -->
<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">{{'footer.aboutme'| translate}}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut.</p>
                        <ul class="footer-links">
                            <li><a><i class="fas fa-map-marker"></i> 82 Duy Tân Tân, Cầu Giấy, Hà Nội</a></li>
                            <li><a><i class="bi bi-earbuds"></i>+84925574154</a></li>
                            <li><a><i class="fas fa-envelope-o"></i>huynq@email.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">{{'sidebar.category.title'|translate}}</h3>
                        <ul class="footer-links">
                            <li><a href="#">sản phẩm mua nhiều</a></li>
                            <li><a href="#">Bàn phím</a></li>
                            <li><a href="#">chuột</a></li>
                            <li><a href="#">Tai nghe</a></li>
                            <li><a href="#">Tình Yêu</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

<!--                FanPage                         -->
            </div>
            <!-- /row -->
        </div>
        <div class="compare" *ngIf="compare.checkIsEmpty()">
            <div class="compare-box" >
                <i [routerLink]="['compare-products']" style="font-size: 30px" nz-icon nzType="bars" nzTheme="outline"></i><br>
                <span class="w-100">{{'common.compare'| translate}} <i (click)="this.clearCompare()" nz-tooltip="Xóa danh sách so sánh" nz-icon nzType="close-circle" nzTheme="outline"></i></span>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->

    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="assets/js/p/jquery.min.js"></script>
<script src="assets/js/p/bootstrap.min.js"></script>
<script src="assets/js/p/slick.min.js"></script>
<script src="assets/js/p/nouislider.min.js"></script>
<!-- <script src="js/jquery.zoom.min.js"></script> -->
<script src="assets/js/p/main.js"></script>
</body>
</html>
