<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">{{'home.category.categoriesTitle'| translate}}</h3>
                    <div class="checkbox-filter">

                        <div class="input-checkbox" *ngFor="let item of listCategory">
                            <input type="checkbox" (change)="categoriesCheckBox($event, item.id)"  id="{{item.id}}">
                            <label for="{{item.id}}">
                                <span></span>
                                {{item.categoryName}}
                                <small>({{item.countProduct}})</small>
                            </label>
                        </div>

                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">{{'home.category.priceFilterTitle' | translate}}</h3>
                    <label>Giá từ</label>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" [(ngModel)]="minPrice" type="number" placeholder="{{'home.category.priceFilterFrom' | translate}}">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" [(ngModel)]="maxPrice" type="number"
                                   placeholder="{{'home.category.priceFilterTo' | translate}}">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>

                    <button href="#"
                            style="width: 95%; margin-top: 5%;"
                            class="primary-btn cta-btn"
                            (click)="priceFilter()">{{'home.category.applyFilteButton' | translate}}</button>

                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">{{'home.category.favoriteTop' | translate}}</h3>
                    <div class="product-widget" *ngFor="let item of favoriteProductList">
                        <div class="product-img">
                            <img style="width: 100%; height: 70px;"
                            onerror="this.onerror=null; this.src='assets/image/default/product_default.png'"
                            src="{{this.fileService.viewImageByOwnerIdAndOwnerType(item.id, TYPE_PRODUCT)}}" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{item.categoryName}}</p>
                            <h3 class="product-name"><a [routerLink]="['product/'+ item.id]">{{item.productName}}</a>
                            </h3>
                            <h4 class="product-price">{{(item.price * (100 - item.discount) / 100) |currency: "VND": "symbol"}}
                                VNĐ
                                <del *ngIf="item.discount > 0"
                                     class="product-old-price">{{item.price |currency: "VND": "symbol"}} VNĐ
                                </del>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            {{'home.category.sortBy' | translate}}
                            <select class="input-select" [(ngModel)]="querySearch.sort" (ngModelChange)="sortByFilter()">
                                <option *ngFor="let item of SORT_PRODUCT_BY"  value="{{item.value}}">{{item.label}}</option>
                            </select>
                        </label>

                        <label>
                            {{'home.category.showFilter' | translate}}
                            <select class="input-select" [(ngModel)]="querySearch.size" (ngModelChange)="recordShow()">
                                <option *ngFor="let item of SHOW_RECORD" value="{{item.value}}">{{item.label}}</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fas fa-th"></i></li>
                        <li><a href="#"><i class="fas fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->
                        <!-- store products -->
                        <div class="row">
                            <!-- product -->
                            <div class="col-md-4 col-xs-6" *ngFor="let item of listProduct">
                                <div class="product">
                                    <div class="product-img">
                                        <img class="image-thumnail"
                                        onerror="this.onerror=null; this.src='assets/image/default/product_default.png'"
                                        src="{{this.fileService.viewImageByOwnerIdAndOwnerType(item.id, TYPE_PRODUCT)}}"
                                        >
                                        <div class="product-label">
                                             <span *ngIf="!!this.item.maxDiscount" class="sale">-{{item.maxDiscount}}%</span>
                                            <span *ngIf="checkIsNewProduct(item.createDate)" class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body" style="height: 250px;">
                                        <p class="product-category">{{item.categoryName}}</p>
                                        <h3 class="product-name"><a href="#">{{item.productName}}</a></h3>
                                        <h4 class="product-price">{{item.minPrice * (100 - item.maxDiscount) / 100 |currency: "VND": "symbol"}} VNĐ<del *ngIf="item.discount > 0" class="product-old-price">{{item.price}} VNĐ</del></h4>
                                        <nz-rate [ngModel]="item.ratingPoint || 5" nzDisabled></nz-rate>

                                        <div class="product-btns">
                                            <button (click)="this.likeProduct(item)"
                                                    class="add-to-wishlist" tabindex="-1"><i class="fas fa-heart-o"></i><span
                                                    class="tooltipp">{{'productItem.wishList'| translate}}</span></button>
                                            <button class="add-to-compare" tabindex="-1"><i class="fas fa-exchange-alt"></i><span
                                                    class="tooltipp">{{'productItem.compare'| translate}}</span></button>
                                            <button role="button" [routerLink]="['/product/',item.id]"  class="quick-view" tabindex="-1"><i class="fas fa-eye"
                                                                                        ></i><span
                                                    class="tooltipp">{{'productItem.qickview'| translate}}</span></button>
                                        </div>

                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn" (click)="this.goToDetail(item.id)">
                                            <i class="fas fa-shopping-cart" >

                                            </i> Xem sản phẩm</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /product -->
                        </div>
                        <!-- /store products -->


                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">{{'home.category.productSizeShow' | translate}}</span>

                    <nz-pagination class="store-pagination" [nzPageIndex]="1" [nzTotal]="totalItem" [nzPageSize]="querySearch.size" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fas fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi bi-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->
