@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3h9y78');
  src:  url('fonts/icomoon.eot?3h9y78#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3h9y78') format('truetype'),
    url('fonts/icomoon.woff?3h9y78') format('woff'),
    url('fonts/icomoon.svg?3h9y78#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-merge:before {
  content: "\a1308";
}
.icon-unmerge:before {
  content: "\b1308";
}
.icon-note:before {
  content: "\e900";
}
.icon-micromic-off:before {
  content: "\e901";
}
.icon-attachment:before {
  content: "\e902";
}
.icon-delete-3:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-uniE905:before {
  content: "\e905";
}
.icon-uniE906:before {
  content: "\e906";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-1:before {
  content: "\e908";
}
.icon-action-in-circle---pause:before {
  content: "\e909";
}
.icon-action-in-circle---play:before {
  content: "\e90a";
}
.icon-action-in-circle---stop:before {
  content: "\e90b";
}
.icon-activity:before {
  content: "\e90c";
}
.icon-add-group:before {
  content: "\e90d";
}
.icon-airplay:before {
  content: "\e90e";
}
.icon-alarm:before {
  content: "\e90f";
}
.icon-align-center:before {
  content: "\e910";
}
.icon-align-justify:before {
  content: "\e911";
}
.icon-align-left:before {
  content: "\e912";
}
.icon-align-right:before {
  content: "\e913";
}
.icon-anchor:before {
  content: "\e914";
}
.icon-aperture:before {
  content: "\e915";
}
.icon-archive:before {
  content: "\e916";
}
.icon-arrows---refresh-left:before {
  content: "\e917";
}
.icon-arrows---refresh-right:before {
  content: "\e918";
}
.icon-arrows---repeat:before {
  content: "\e919";
}
.icon-arrows---shuffle:before {
  content: "\e91a";
}
.icon-arrows-in-circle---down:before {
  content: "\e91b";
}
.icon-arrows-in-circle---left:before {
  content: "\e91c";
}
.icon-arrows-in-circle---right:before {
  content: "\e91d";
}
.icon-arrows-in-circle---up:before {
  content: "\e91e";
}
.icon-at-sign:before {
  content: "\e91f";
}
.icon-award:before {
  content: "\e920";
}
.icon-backspace:before {
  content: "\e921";
}
.icon-bar-chart-3:before {
  content: "\e922";
}
.icon-bar-chart:before {
  content: "\e923";
}
.icon-bluetooth-off:before {
  content: "\e924";
}
.icon-bluetooth:before {
  content: "\e925";
}
.icon-book-open:before {
  content: "\e926";
}
.icon-book:before {
  content: "\e927";
}
.icon-bookmark:before {
  content: "\e928";
}
.icon-box:before {
  content: "\e929";
}
.icon-briefcase:before {
  content: "\e92a";
}
.icon-calendar:before {
  content: "\e92b";
}
.icon-camera-off:before {
  content: "\e92c";
}
.icon-camera-on:before {
  content: "\e92d";
}
.icon-cast:before {
  content: "\e92e";
}
.icon-charging:before {
  content: "\e92f";
}
.icon-check:before {
  content: "\e930";
}
.icon-chevron-double-down:before {
  content: "\e931";
}
.icon-chevron-double-left:before {
  content: "\e932";
}
.icon-chevron-double-right:before {
  content: "\e933";
}
.icon-chevron-double-up:before {
  content: "\e934";
}
.icon-chevron-down:before {
  content: "\e935";
}
.icon-chevron-left:before {
  content: "\e936";
}
.icon-chevron-right:before {
  content: "\e937";
}
.icon-chevron-sort:before {
  content: "\e938";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-circle:before {
  content: "\e93a";
}
.icon-clipboard:before {
  content: "\e93b";
}
.icon-clock:before {
  content: "\e93c";
}
.icon-cloud-drizzle:before {
  content: "\e93d";
}
.icon-cloud-lightning:before {
  content: "\e93e";
}
.icon-cloud-rain:before {
  content: "\e93f";
}
.icon-cloud-snow:before {
  content: "\e940";
}
.icon-cloud:before {
  content: "\e941";
}
.icon-code:before {
  content: "\e942";
}
.icon-coffee:before {
  content: "\e943";
}
.icon-columns:before {
  content: "\e944";
}
.icon-command:before {
  content: "\e945";
}
.icon-company:before {
  content: "\e946";
}
.icon-compass:before {
  content: "\e947";
}
.icon-copy:before {
  content: "\e948";
}
.icon-copy-1:before {
  content: "\e949";
}
.icon-corner-arrows---down-left:before {
  content: "\e94a";
}
.icon-corner-arrows---down-right:before {
  content: "\e94b";
}
.icon-corner-arrows---left-down:before {
  content: "\e94c";
}
.icon-corner-arrows---left-up:before {
  content: "\e94d";
}
.icon-corner-arrows---right-down:before {
  content: "\e94e";
}
.icon-corner-arrows---right-up:before {
  content: "\e94f";
}
.icon-corner-arrows---up-left:before {
  content: "\e950";
}
.icon-corner-arrows---up-right:before {
  content: "\e951";
}
.icon-cpu:before {
  content: "\e952";
}
.icon-credit-card:before {
  content: "\e953";
}
.icon-crop:before {
  content: "\e954";
}
.icon-crosshair:before {
  content: "\e955";
}
.icon-database:before {
  content: "\e956";
}
.icon-default:before {
  content: "\e957";
}
.icon-disc:before {
  content: "\e958";
}
.icon-dollar-sign:before {
  content: "\e959";
}
.icon-download-cloud:before {
  content: "\e95a";
}
.icon-download:before {
  content: "\e95b";
}
.icon-droplet:before {
  content: "\e95c";
}
.icon-edit-form:before {
  content: "\e95d";
}
.icon-edit:before {
  content: "\e95e";
}
.icon-empty:before {
  content: "\e95f";
}
.icon-eye-off:before {
  content: "\e960";
}
.icon-eye-on:before {
  content: "\e961";
}
.icon-family:before {
  content: "\e962";
}
.icon-file-minus:before {
  content: "\e963";
}
.icon-file-plus:before {
  content: "\e964";
}
.icon-file-text:before {
  content: "\e965";
}
.icon-file:before {
  content: "\e966";
}
.icon-film:before {
  content: "\e967";
}
.icon-filter:before {
  content: "\e968";
}
.icon-flag:before {
  content: "\e969";
}
.icon-folder-minus:before {
  content: "\e96a";
}
.icon-folder-plus:before {
  content: "\e96b";
}
.icon-folder:before {
  content: "\e96c";
}
.icon-font---bold:before {
  content: "\e96d";
}
.icon-font---italic:before {
  content: "\e96e";
}
.icon-font---type:before {
  content: "\e96f";
}
.icon-font---underline:before {
  content: "\e970";
}
.icon-forward---left:before {
  content: "\e971";
}
.icon-forward---right:before {
  content: "\e972";
}
.icon-forward:before {
  content: "\e973";
}
.icon-frown:before {
  content: "\e974";
}
.icon-gift:before {
  content: "\e975";
}
.icon-git-branch:before {
  content: "\e976";
}
.icon-git-commit:before {
  content: "\e977";
}
.icon-git-merge:before {
  content: "\e978";
}
.icon-git-pull-request:before {
  content: "\e979";
}
.icon-globe:before {
  content: "\e97a";
}
.icon-grid:before {
  content: "\e97b";
}
.icon-hard-drive:before {
  content: "\e97c";
}
.icon-hash:before {
  content: "\e97d";
}
.icon-headphones:before {
  content: "\e97e";
}
.icon-heart:before {
  content: "\e97f";
}
.icon-highlight:before {
  content: "\e980";
}
.icon-home:before {
  content: "\e981";
}
.icon-image:before {
  content: "\e982";
}
.icon-inbox:before {
  content: "\e983";
}
.icon-info:before {
  content: "\e984";
}
.icon-key:before {
  content: "\e985";
}
.icon-label:before {
  content: "\e986";
}
.icon-layers:before {
  content: "\e987";
}
.icon-layout:before {
  content: "\e988";
}
.icon-left:before {
  content: "\e989";
}
.icon-life-buoy:before {
  content: "\e98a";
}
.icon-link-3:before {
  content: "\e98b";
}
.icon-link:before {
  content: "\e98c";
}
.icon-list:before {
  content: "\e98d";
}
.icon-loader:before {
  content: "\e98e";
}
.icon-locked:before {
  content: "\e98f";
}
.icon-log-in:before {
  content: "\e990";
}
.icon-log-out:before {
  content: "\e991";
}
.icon-mail:before {
  content: "\e992";
}
.icon-map-pin:before {
  content: "\e993";
}
.icon-map:before {
  content: "\e994";
}
.icon-maximize-3:before {
  content: "\e995";
}
.icon-maximize:before {
  content: "\e996";
}
.icon-meh:before {
  content: "\e997";
}
.icon-menu:before {
  content: "\e998";
}
.icon-micromic-on:before {
  content: "\e999";
}
.icon-minimize-3:before {
  content: "\e99a";
}
.icon-minimize:before {
  content: "\e99b";
}
.icon-monitor:before {
  content: "\e99c";
}
.icon-moon:before {
  content: "\e99d";
}
.icon-more-horizontal:before {
  content: "\e99e";
}
.icon-more-vertical:before {
  content: "\e99f";
}
.icon-mouse-pointer:before {
  content: "\e9a0";
}
.icon-move:before {
  content: "\e9a1";
}
.icon-music-off:before {
  content: "\e9a2";
}
.icon-music:before {
  content: "\e9a3";
}
.icon-navigation-3:before {
  content: "\e9a4";
}
.icon-navigation:before {
  content: "\e9a5";
}
.icon-notification-off:before {
  content: "\e9a6";
}
.icon-notification-on:before {
  content: "\e9a7";
}
.icon-octagon-:before {
  content: "\e9a8";
}
.icon-octagon-empty:before {
  content: "\e9a9";
}
.icon-octagon-x:before {
  content: "\e9aa";
}
.icon-off-1:before {
  content: "\e9ab";
}
.icon-on:before {
  content: "\e9ac";
}
.icon-package:before {
  content: "\e9ad";
}
.icon-pause:before {
  content: "\e9ae";
}
.icon-pen-tool:before {
  content: "\e9af";
}
.icon-percent:before {
  content: "\e9b0";
}
.icon-pie-chart:before {
  content: "\e9b1";
}
.icon-play:before {
  content: "\e9b2";
}
.icon-pocket:before {
  content: "\e9b3";
}
.icon-power:before {
  content: "\e9b4";
}
.icon-printer:before {
  content: "\e9b5";
}
.icon-radio:before {
  content: "\e9b6";
}
.icon-relationship:before {
  content: "\e9b7";
}
.icon-remove:before {
  content: "\e9b8";
}
.icon-reply:before {
  content: "\e9b9";
}
.icon-right:before {
  content: "\e9ba";
}
.icon-rotation-left:before {
  content: "\e9bb";
}
.icon-rotation-right:before {
  content: "\e9bc";
}
.icon-rss:before {
  content: "\e9bd";
}
.icon-save:before {
  content: "\e9be";
}
.icon-scissors-tool:before {
  content: "\e9bf";
}
.icon-search:before {
  content: "\e9c0";
}
.icon-search-1:before {
  content: "\e9c1";
}
.icon-send:before {
  content: "\e9c2";
}
.icon-server:before {
  content: "\e9c3";
}
.icon-settings:before {
  content: "\e9c4";
}
.icon-share-3:before {
  content: "\e9c5";
}
.icon-share-4:before {
  content: "\e9c6";
}
.icon-shield-off:before {
  content: "\e9c7";
}
.icon-shield-on:before {
  content: "\e9c8";
}
.icon-shopping-bag:before {
  content: "\e9c9";
}
.icon-shopping-cart:before {
  content: "\e9ca";
}
.icon-sidebar:before {
  content: "\e9cb";
}
.icon-sim-1:before {
  content: "\e9cc";
}
.icon-sim-2:before {
  content: "\e9cd";
}
.icon-skip---back:before {
  content: "\e9ce";
}
.icon-skip---forward:before {
  content: "\e9cf";
}
.icon-sliders:before {
  content: "\e9d0";
}
.icon-smartphone:before {
  content: "\e9d1";
}
.icon-smartphone-1:before {
  content: "\e9d2";
}
.icon-smile:before {
  content: "\e9d3";
}
.icon-speaker:before {
  content: "\e9d4";
}
.icon-square:before {
  content: "\e9d5";
}
.icon-square-:before {
  content: "\e9d6";
}
.icon-square-check:before {
  content: "\e9d7";
}
.icon-square-empty:before {
  content: "\e9d8";
}
.icon-square-x:before {
  content: "\e9d9";
}
.icon-square1:before {
  content: "\e9da";
}
.icon-star:before {
  content: "\e9db";
}
.icon-stop:before {
  content: "\e9dc";
}
.icon-straight-arrows---down-left:before {
  content: "\e9dd";
}
.icon-straight-arrows---down-right:before {
  content: "\e9de";
}
.icon-straight-arrows---down:before {
  content: "\e9df";
}
.icon-straight-arrows---left:before {
  content: "\e9e0";
}
.icon-straight-arrows---right:before {
  content: "\e9e1";
}
.icon-straight-arrows---up-left:before {
  content: "\e9e2";
}
.icon-straight-arrows---up-right:before {
  content: "\e9e3";
}
.icon-straight-arrows---up:before {
  content: "\e9e4";
}
.icon-sun:before {
  content: "\e9e5";
}
.icon-sunrise:before {
  content: "\e9e6";
}
.icon-sunset:before {
  content: "\e9e7";
}
.icon-symbol:before {
  content: "\e9e8";
}
.icon-symbol-:before {
  content: "\e9e9";
}
.icon-symbol-check:before {
  content: "\e9ea";
}
.icon-symbol-stop:before {
  content: "\e9eb";
}
.icon-symbol-x:before {
  content: "\e9ec";
}
.icon-tablet:before {
  content: "\e9ed";
}
.icon-tag:before {
  content: "\e9ee";
}
.icon-target:before {
  content: "\e9ef";
}
.icon-terminal:before {
  content: "\e9f0";
}
.icon-thermometer:before {
  content: "\e9f1";
}
.icon-thumb-down:before {
  content: "\e9f2";
}
.icon-thumb-up:before {
  content: "\e9f3";
}
.icon-timer-off:before {
  content: "\e9f4";
}
.icon-timer:before {
  content: "\e9f5";
}
.icon-tool:before {
  content: "\e9f6";
}
.icon-trending-down:before {
  content: "\e9f7";
}
.icon-trending-up:before {
  content: "\e9f8";
}
.icon-triangle-:before {
  content: "\e9f9";
}
.icon-triangle-empty:before {
  content: "\e9fa";
}
.icon-truck:before {
  content: "\e9fb";
}
.icon-tv:before {
  content: "\e9fc";
}
.icon-umbrella:before {
  content: "\e9fd";
}
.icon-unlocked:before {
  content: "\e9fe";
}
.icon-upload-cloud:before {
  content: "\e9ff";
}
.icon-upload:before {
  content: "\ea00";
}
.icon-user-check:before {
  content: "\ea01";
}
.icon-user-minus:before {
  content: "\ea02";
}
.icon-user-plus:before {
  content: "\ea03";
}
.icon-user-x:before {
  content: "\ea04";
}
.icon-user:before {
  content: "\ea05";
}
.icon-users:before {
  content: "\ea06";
}
.icon-vibrate:before {
  content: "\ea07";
}
.icon-vmessage:before {
  content: "\ea08";
}
.icon-voicemail:before {
  content: "\ea09";
}
.icon-volume---level-3:before {
  content: "\ea0a";
}
.icon-volume---level-4:before {
  content: "\ea0b";
}
.icon-volume---level-5:before {
  content: "\ea0c";
}
.icon-volume---mute:before {
  content: "\ea0d";
}
.icon-watch:before {
  content: "\ea0e";
}
.icon-wifi-lock:before {
  content: "\ea0f";
}
.icon-wifi-off:before {
  content: "\ea10";
}
.icon-wifi-on:before {
  content: "\ea11";
}
.icon-wind:before {
  content: "\ea12";
}
.icon-x:before {
  content: "\ea13";
}
.icon-zap-off:before {
  content: "\ea14";
}
.icon-zap-on:before {
  content: "\ea15";
}
