<section class="inner-content ml-md-4 mt-md-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index">

                    <nz-step nzTitle="{{ 'orderDetail.ordered' | translate }}" nzIcon="diff"></nz-step>
                    <nz-step nzTitle="{{ 'order.waitingForPayment' | translate }}" nzIcon="money-collect"></nz-step>
                    <nz-step nzTitle="{{ 'order.waitingConfirm' | translate }}" nzIcon="solution"></nz-step>
                    <nz-step nzTitle="{{ 'order.confirmed' | translate }}" nzIcon="check"></nz-step>
                    <nz-step nzTitle="{{ 'orderDetail.delivered' | translate }}" nzIcon="retweet"></nz-step>
                    <nz-step nzTitle="{{ 'orderDetail.receivedOrder' | translate }}" nzIcon="check-circle"></nz-step>
                    <nz-step nzTitle="{{ 'order.orderStatus.cancel' | translate }}" nzIcon="close-circle"></nz-step>
                </nz-steps>
            </div>
        </div>
        <div class="row mt-4 ml-md-2">
            <div class="col-3">
                <h4>{{ "orderDetail.deliveryAddress" | translate }}</h4>
                <div class="fw-bold">{{ this.listOfOrder?.receiver }}</div>
                <span>{{ this.listOfOrder?.phoneNumber }}</span> <br />
                <span>{{ this.listOfOrder?.address }}</span
                >
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-4">
                <nz-timeline>
                    <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item>
                    <nz-timeline-item>Solve initial network problems 2015-09-01</nz-timeline-item>
                    <nz-timeline-item>Technical testing 2015-09-01</nz-timeline-item>
                    <nz-timeline-item>Network problems being solved 2015-09-01</nz-timeline-item>
                </nz-timeline>
            </div>
            <div class="row mb-1">
                <div class="col shadow-sm rounded" style="background-color: rgba(0, 0, 0, 0.85); height: 50px">
                    <img
                        src="https://www.duckychannel.com.tw/assets/img/logo.png"
                        style="width: 120px; height: 40px; transform: rotate(-15deg)"
                        alt=""
                    />
                    <button *ngIf="this.listOfOrder?.paymentMethod === PAID" class="mt-3 ml-md-3 btn-xs">{{ "orderDetail.ratting" | translate }}</button>
                    <button *ngIf="this.listOfOrder?.paymentMethod === PAID" class="mt-3 ml-md-3 btn-xs">{{ "orderDetail.repurchase" | translate }}</button>
                </div>
            </div>
            <div
                class="row products shadow-sm p-3 mb-5 bg-white rounded"
                *ngFor="let orderDetail of listOfOrder?.orderDetails"
            >
                <div class="col-1">
                    <img
                        src="{{ this.fileUpload.viewImageByOwnerIdAndOwnerType(orderDetail?.productId, PRODUCT_TYPE) }}"
                        alt=""
                        style="width: 65px; height: 60px"
                    />
                </div>
                <div class="col-8">
                    <strong>{{ orderDetail?.productName }}</strong> <br />
                    <!-- <span>type: keyboard</span> <br> -->
                    <span>x{{ orderDetail?.quantity }}</span>
                </div>
                <div class="col-2">
                    <strong class="ml-md-5" style="font-size: large">{{
                        orderDetail?.quantity * orderDetail?.productPrice | currency: "VND":"symbol"
                    }}</strong>
                    <br />
                    <!--                    <button  class="btn btn-default" style="margin-left: 10px">{{'product-returns.title' | translate}}</button>-->
                </div>
            </div>
            <div class="row">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="size-table" colspan="2">{{ "orderDetail.totalItem" | translate }}</td>
                            <td>
                                <strong style="font-size: large">{{
                                    this.intoMoneyData | currency: "VND":"symbol"
                                }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="size-table" colspan="2">{{ "orderDetail.deliveryCharges" | translate }}</td>
                            <td>{{ this.deliveryCharges | currency: "VND":"symbol" }}</td>
                        </tr>
                        <tr>
                            <td class="size-table" colspan="2">{{ "orderDetail.total" | translate }}</td>
                            <td>
                                <strong style="font-size: x-large; color: #d10024">{{
                                    this.intoMoneyData - this.deliveryCharges | currency: "VND":"symbol"
                                }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="size-table" colspan="2">{{ "orderDetail.shippingMethod" | translate }}</td>
                            <td>{{ "orderDetail.payment" | translate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
