<section>
    <div class="container-fluid" style="padding: 0px 9px">
        <!--        <div class="row filter">-->
        <!--            <div class="col-md-4 mt-md-3">-->
        <!--                <i class="bi bi-pencil"></i>-->
        <!--                <span class="ml-3">-->
        <!--                    <strong>{{(!!employeeId ? "employee.edit" : "employee.addNew") | translate }}</strong></span-->
        <!--                >-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="inner-content">
            <div class="row text-md-center">
                <h4 class="mt-md-3" *ngIf="!this.employeeId">Thêm Mới Nhân Viên</h4>
                <h4 class="mt-md-3" *ngIf="this.employeeId">Cập Nhật Thông Tin Nhân Viên</h4>
            </div>
            <form [formGroup]="this.employeeForm" *ngIf="this.employeeForm">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <!-- <div class="row">
                            <div class="col-md-2 mt-md-4">
                                <label for="userName" class="form-label"
                                    >{{ "home.profile.username" | translate }}
                                </label>
                            </div>
                            <div class="col-md-10 mb-3 mt-md-4">
                                <input type="text" class="form-control" id="userName" formControlName="userName" />
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.employeeForm.get('userName').invalid &&
                                        (this.employeeForm.get('userName').dirty ||
                                            this.employeeForm.get('userName').touched)
                                    "
                                >
                                    <small *ngIf="this.employeeForm.getError('required', 'userName')"
                                        >*Tên đăng nhập là bắt buộc</small
                                    >
                                    <small *ngIf="this.employeeForm.getError('minlength', 'userName')">
                                        *Tên đăng nhập phải có ít nhất 5 ký tự</small
                                    >

                                    <small *ngIf="this.employeeForm.getError('pattern', 'userName')"
                                        >*Tên đăng nhập hông đúng định dạng</small
                                    >
                                </span>
                            </div>
                        </div> -->
                        <div class="row mt-md-4">
                            <div class="col-md-2 mb-3">
                                <label for="email" class="form-label"><span class="text-danger">*</span>{{ "customer.detail.email" | translate }}</label>
                            </div>
                            <div class="col-md-10 mb-3">
                                <input type="text" class="form-control" id="email" formControlName="email" />
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.employeeForm.get('email').invalid &&
                                        (this.employeeForm.get('email').dirty || this.employeeForm.get('email').touched)
                                    "
                                >
                                    <small *ngIf="this.employeeForm.getError('required', 'email')"
                                        >*Email là bắt buộc</small
                                    >
                                    <small *ngIf="this.employeeForm.getError('pattern', 'email')"
                                        >*Email không đúng định đạng</small
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="row mt-md-4">
                            <div class="col-md-2 mb-3">
                                <label for="fullName" class="form-label"><span class="text-danger">*</span>{{
                                    "customer.detail.fullName" | translate
                                }}</label>
                            </div>
                            <div class="col-md-10 mb-3">
                                <input type="text" class="form-control" id="fullName" formControlName="fullName" />
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.employeeForm.get('fullName').invalid &&
                                        (this.employeeForm.get('fullName').dirty ||
                                            this.employeeForm.get('fullName').touched)
                                    "
                                >
                                    <small *ngIf="this.employeeForm.getError('required', 'fullName')"
                                        >*{{ 'register.message.error.fullName' | translate }}</small
                                    >
                                    <small *ngIf="this.employeeForm.getError('minLength', 'fullName')"
                                        >*{{ 'employee.placeholder.fullNameFormat' | translate }}</small
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="row mt-md-4">
                            <div class="col-md-2 mb-3">
                                <label for="dob" class="form-label">{{ "customer.detail.dob" | translate }}</label>
                            </div>
                            <div class="col-md-10 mb-3">
                                <input type="date" class="form-control" id="dob" formControlName="dob" />
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.employeeForm.get('dob').invalid &&
                                        (this.employeeForm.get('dob').dirty || this.employeeForm.get('dob').touched)
                                    "
                                >
                                    <small *ngIf="this.employeeForm.getError('required', 'dob')"
                                        >*{{ 'employee.placeholder.dob' | translate }}</small
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="row mt-md-4" *ngIf="!this.employeeId">
                            <div class="col-md-2 mb-3">
                                <label class="form-label"><span class="text-danger">*</span>{{ "employee.password" | translate }}</label>
                            </div>
                            <div class="col-md-10 mb-3">
                                <input type="password" class="form-control" maxlength="20" formControlName="password" />
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.employeeForm.get('password').invalid &&
                                        (this.employeeForm.get('password').dirty ||
                                            this.employeeForm.get('password').touched)
                                    "
                                >
                                    <small *ngIf="this.employeeForm.getError('required', 'password')"
                                        >*{{ 'register.message.error.password' | translate }}</small
                                    >
                                    <small *ngIf="this.employeeForm.get('password').hasError('minlength')"
                                        >*{{ 'employee.message.errorPassword' | translate }}</small
                                    >
                                    <small *ngIf="this.employeeForm.getError('pattern', 'password')"
                                        >*{{ 'employee.message.errorPassword' | translate }}</small
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="row mt-md-4">
                            <div class="col-md-2 mb-3">
                                <label for="phoneNumber" class="form-label"><span class="text-danger">*</span>{{
                                    "customer.detail.phoneNumber" | translate
                                }}</label>
                            </div>
                            <div class="col-md-10 mb-3">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="phoneNumber"
                                    formControlName="phoneNumber"
                                />
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.employeeForm.get('phoneNumber').invalid &&
                                        (this.employeeForm.get('phoneNumber').dirty ||
                                            this.employeeForm.get('phoneNumber').touched)
                                    "
                                >
                                    <small *ngIf="this.employeeForm.getError('required', 'phoneNumber')"
                                        >*{{ 'register.message.error.phoneNumber' | translate }}</small
                                    >
                                    <small *ngIf="this.employeeForm.getError('pattern', 'phoneNumber')"
                                        >*{{ 'register.message.error.phoneNumberFormat' | translate }}</small
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="row mt-md-4">
                            <div class="col-md-2 mb-3">
                                <label for="address" class="form-label"><span class="text-danger">*</span>{{ "employee.address" | translate }}</label>
                            </div>
                            <div class="col-md-10 mb-3">
                                <input type="text" class="form-control" id="address" formControlName="address" />
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.employeeForm.get('address').invalid &&
                                        (this.employeeForm.get('address').dirty ||
                                            this.employeeForm.get('address').touched)
                                    "
                                >
                                    <small *ngIf="this.employeeForm.getError('required', 'address')"
                                        >*{{ 'register.message.error.email' | translate }}</small
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="row mt-md-4">
                            <div class="col-md-2 mb-3">
                                <label class="form-label">{{ "customer.detail.gender" | translate }}</label>
                            </div>
                            <div class="col-md-3">
                                <nz-select
                                    nzShowSearch
                                    nzAllowClear
                                    nzPlaceHolder="Lựa chọn giới tính"
                                    formControlName="gender"
                                    class="w-100"
                                >
                                    <nz-option
                                        [nzValue]="1"
                                        nzLabel="{{ 'customer.detail.male' | translate }}"
                                    ></nz-option>
                                    <nz-option
                                        [nzValue]="0"
                                        nzLabel="{{ 'customer.detail.female' | translate }}"
                                    ></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2 mt-md-4 mb-md-4" style="margin-left: 194px">
                        <button
                            class="btn btn-primary"
                            *ngIf="!this.isDetail; else updateButton"
                            (click)="this.onSubmitForm()"
                        >
                            <i class="bi bi-save"></i> {{ "common.action.save" | translate }}
                        </button>
                    </div>
                    <ng-template class="col-md-2 mt-md-4 mb-md-4" #updateButton>
                        <button class="btn btn-primary" (click)="this.onSubmitForm()">
                            <i class="bi bi-save"></i> {{ "common.action.update" | translate }}
                        </button>
                    </ng-template>
                    <div class="col-md-2 mt-md-4 mb-md-4" *ngIf="this.isDetail">
                        <button class="btn btn-primary" (click)="onResetpassword()">
                            <i class="bi bi-arrow-clockwise"></i> {{ "changePassword.title" | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



<nz-modal
                            [(nzVisible)]="isVisible"
                            nzTitle="{{ 'changePassword.title' | translate }}"
                            (nzOnCancel)="handleCancel()"
                            (nzOnOk)="handleOk()"
                            nzWidth="700px"
                        >
                            <ng-container *nzModalContent>
                                        <form [formGroup]="this.validateForm">
                                            <div class="row justify-content-center">
                                                <div class="col-md-10">
                                                    <div class="form-group mt-md-2">
                                                        <input
                                                            type="password"
                                                            class="form-control form-control-user"
                                                            placeholder="{{
                                                                'register.placeholder.password' | translate
                                                            }}"
                                                            formControlName="password"
                                                        />
                                                        <!-- <span
                                class="text-danger"
                                *ngIf="
                                    this.validateForm.get('password').invalid &&
                                    (this.validateForm.get('password').dirty ||
                                        this.validateForm.get('password').touched)
                                "
                            >
                                <small *ngIf="this.validateForm.getError('required', 'password')"
                                    >*{{ "register.message.error.password" | translate }}</small
                                >
                                <small *ngIf="this.validateForm.getError('password', 'password')"
                                    >*{{ "register.message.error.passwordFormat" | translate }}</small
                                >
                            </span> -->
                                                    </div>
                                                    <div class="form-group mt-md-2">
                                                        <input
                                                            type="password"
                                                            class="form-control form-control-user"
                                                            placeholder="{{
                                                                'changePassword.placeholder.newPassword' | translate
                                                            }}"
                                                            formControlName="newPassword"
                                                        />
                                                        <!-- <span
                                class="text-danger"
                                *ngIf="
                                    this.validateForm.get('newPassword').invalid &&
                                    (this.validateForm.get('newPassword').dirty ||
                                        this.validateForm.get('newPassword').touched)
                                "
                            >
                                <small *ngIf="this.validateForm.getError('required', 'newPassword')"
                                    >*{{ "register.message.error.newPassword" | translate }}</small
                                >
                                <small *ngIf="this.validateForm.getError('newPassword', 'newPassword')"
                                    >*{{ "register.message.error.newPasswordFormat" | translate }}</small
                                >
                            </span> -->
                                                    </div>
                                                    <div class="form-group mt-md-2">
                                                        <input
                                                            type="password"
                                                            class="form-control form-control-user"
                                                            placeholder="{{
                                                                'changePassword.placeholder.repeatNewPassword'
                                                                    | translate
                                                            }}"
                                                            formControlName="repeatNewPassword"
                                                        />
                                                        <!-- <span
                                class="text-danger"
                                *ngIf="
                                    this.validateForm.get('repeatNewPassword').invalid &&
                                    (this.validateForm.get('repeatNewPassword').dirty ||
                                        this.validateForm.get('repeatNewPassword').touched)
                                "
                            >
                                <small *ngIf="this.validateForm.getError('required', 'repeatNewPassword')"
                                    >*{{ "register.message.error.repeatNewPassword" | translate }}</small
                                >
                                <small *ngIf="this.validateForm.getError('repeatNewPassword', 'repeatNewPassword')"
                                    >*{{ "register.message.error.repeatNewPasswordFormat" | translate }}</small
                                >
                            </span> -->
                                                    </div>
                                                    <div class="form-group mt-md-2">
                                                        <re-captcha
                                                            (resolved)="resolved($event)"
                                                            siteKey="6LfUn8EcAAAAAMMkLf9i_Bi1aSBFnkUZgi9qM-a6"
                                                        ></re-captcha>

                                                        <!-- <span
                            class="text-danger"
                            *ngIf="
                                this.validateForm.get('captcha').invalid &&
                                (this.validateForm.get('captcha').dirty || this.validateForm.get('captcha').touched)
                            "
                        >
                            <small *ngIf="this.validateForm.getError('required', 'captcha')"
                                >*{{ "register.message.error.capcha" | translate }}?</small
                            >
                        </span> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                            </ng-container>
                        </nz-modal>
