<html lang="en">
<head>
    <title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://preview.colorlib.com/theme/bootstrap/login-form-17/css/A.style.css.pagespeed.cf.PgCMkVC7B9.css">


</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                        <div class="text w-100">
                            <h2>{{'auth.welcome'| translate}}</h2>
                            <p>{{'auth.dontHaveAccount'| translate}}?</p>
                            <a [routerLink]="['/register']"
                               class="btn btn-white btn-outline-white">{{'common.register'| translate}}</a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">{{'auth.signIn'| translate}}</h3>
                            </div>
                            <div class="w-100">
<!--                                <p class="social-media d-flex justify-content-end">-->
<!--                                    <a href="#"-->
<!--                                       class="social-icon d-flex align-items-center justify-content-center"><span-->
<!--                                            class="fa fa-facebook"></span></a>-->
<!--                                    <a href="#"-->
<!--                                       class="social-icon d-flex align-items-center justify-content-center"><span-->
<!--                                            class="fa fa-twitter"></span></a>-->
<!--                                </p>-->
                            </div>
                        </div>
                        <form action="#" class="signin-form" [formGroup]="form" (ngSubmit)="onLogin()">
                            <div class="form-group mb-3">
                                <label class="label" for="name">{{'auth.emailLogin'| translate}}</label>
                                <input type="text" class="form-control" id="name" formControlName="userName"
                                       placeholder="{{'auth.emailLogin'| translate}}"
                                       required="">
                                <span class="text-danger"
                                      *ngIf="form.get('userName')?.invalid && (form.get('userName')?.dirty || form.get('userName')?.touched)">
<!--            {{form.get('passWord')?.errors|json}}-->
                    <small *ngIf="form.getError('required','userName')"> *{{'auth.message.emailRequired'| translate}}</small>
                    <small *ngIf="form.getError('minlength','userName')"> *{{'auth.message.emailCharacter'| translate}}!</small>
                    <small *ngIf="form.getError('maxLength','userName')"> *{{'auth.message.emailMaxLength'| translate}}</small>
                    <small *ngIf="form.getError('email','userName')"> *{{'auth.message.emailFormat'| translate}}!</small>
                                    <!--                    <small *ngIf="form.getError('pattern','userName')"> *User Name không đúng định dạng!</small>-->

                 </span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">{{'auth.password'| translate}}</label>
                                <input type="password" id="password" class="form-control" formControlName="passWord"
                                       placeholder="{{'auth.password'| translate}}" required="">
                                <span class="text-danger"
                                      *ngIf="form.get('passWord')?.invalid && (form.get('passWord')?.dirty || form.get('passWord')?.touched)">
<!--            {{form.get('passWord')?.errors|json}}-->
                    <small *ngIf="form.getError('required','passWord')"> *{{'auth.message.passwordNull'| translate}}</small>
                    <small *ngIf="form.getError('minlength','passWord')"> *{{'auth.message.passwordNull'| translate}}!</small>
                    <small *ngIf="form.getError('maxLength','passWord')"> *{{'auth.message.passwordNull'| translate}}!</small>
                                    <!--                    <small *ngIf="form.getError('pattern','passWord')"> *Mật khẩu không đúng định dạng!</small>-->
                 </span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3"
                                        [disabled]="!form.valid">{{'auth.signIn'| translate}}
                                </button>
                            </div>
                            <div class="form-group" *ngIf="!this.isLoginAd">
                                <a role="button" class="form-control btn btn-primary submit px-3"
                                        href="http://localhost:8099/oauth2/authorization/google"
                                        >{{'auth.googleLogin'| translate}}
                                </a>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">{{'auth.rm'| translate}}
                                        <input type="checkbox" formControlName="rm" checked="">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/forgot-password">{{'auth.forgotPassWord'| translate}}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://preview.colorlib.com/theme/bootstrap/login-form-17/js/jquery.min.js"></script>
<script
        src="https://preview.colorlib.com/theme/bootstrap/login-form-17/js/popper.js+bootstrap.min.js+main.js.pagespeed.jc.iqDpUqoRp9.js"></script>
<script>eval(mod_pagespeed_qBnQ96WPW1);</script>
<script>eval(mod_pagespeed__CEwjG2SSu);</script>
<script>eval(mod_pagespeed_oaROQS6dN_);</script>
<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon="{&quot;rayId&quot;:&quot;68e27e393ec53c40&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.8.1&quot;,&quot;si&quot;:10}"></script>


<div id="eJOY__extension_root" class="eJOY__extension_root_class" style="all: unset;"></div>
<iframe id="nr-ext-rsicon"
        style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;"></iframe>
</body>
<div style="position: absolute; top: 0px;"></div>
</html>
