body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url("https://i.imgur.com/GMmCQHC.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.blue-text {
    color: #00bcd4;
}

.form-control-label {
    margin-bottom: 0;
}

input,
textarea {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00bcd4;
    outline-width: 0;
    font-weight: 400;
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
}

.btn-block:hover {
    color: #fff !important;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}
input {
    height: 40px;
    width: 400px;
}
.form-group input::placeholder {
    font-size: small;
}
.form-select {
    width: 400px;
}
.btnAction div {
    padding: 10px;
    margin: 0%;
    height: 20px;
    width: 130px;
}
input::placeholder {
    font-size: small;
}
#select-file::-webkit-file-upload-button {
    visibility: hidden;
}
#select-file::before {
    content: "Select file";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    height: 25px;
}
#select-file:hover::before {
    border-color: black;
}
#select-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.col-md-5-e {
    flex: 0 0 41.66667%;
    max-width: 40.99999%;
}
.form-select {
    width: 398px;
}
.col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 8.66667%;
}
.buget {
    width: 404px;
}
.button-size{
    margin-left: 20px;
    width: 120px;
}
