<div class="container-fluid px-1 py-1">
    <div class="text-info">
        <i class="bi bi-person"></i>
        {{ "employee.personalInfo" | translate }}
    </div>
    <hr />
    <div class="row d-flex justify-content-center">
        <div class="text-left">
            <form>
                <div class="row justify-content-between d-flex">
                    <div class="form-group mb-sm-3 col-md-6">
                        <label class="form-control-label col-sm-2"
                            ><strong>{{ "common.fullName" | translate }}</strong
                            ><span class="text-danger">* </span></label
                        >
                        <input
                            type="text"
                            class="col-sm-7 col-md-10"
                            name="fname"
                            placeholder="{{ 'employee.placeholder.fullName' | translate }}"
                        />
                        <br />
                        <label class="form-control-label col-sm-2"
                            ><strong>{{ "employee.password" | translate }}</strong
                            ><span class="text-danger"> * </span></label
                        >
                        <input
                            type="text"
                            class="col-sm-7 col-md-10"
                            name="fname"
                            placeholder="{{ 'employee.placeholder.password' | translate }}"
                        />
                        <br />
                        <label class="form-control-label col-sm-2"
                            ><strong>E-mail</strong><span class="text-danger"> * </span></label
                        >
                        <input
                            type="text"
                            class="col-sm-7 col-md-10"
                            name="fname"
                            placeholder="{{ 'employee.placeholder.email' | translate }}"
                        />
                        <br />
                        <label class="form-control-label col-sm-2"
                            ><strong>{{ "common.cellPhone" | translate }}</strong
                            ><span class="text-danger"> * </span></label
                        >
                        <input
                            type="text"
                            class="col-sm-7 col-md-10"
                            name="fname"
                            placeholder="{{ 'employee.placeholder.phoneNumber' | translate }}"
                        />
                    </div>
                    <div class="col-md-6 mt-md-1">

                        <br>
                        <nz-upload
                        class="ml-md-5"
                            [nzCustomRequest]="handleCustomUploadReq"
                            (nzChange)="handleUploadImg($event)"
                            [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
                        >
                            <button nz-button>
                                <i nz-icon nzType="upload"></i>
                                Select File
                            </button>
                        </nz-upload>
                    </div>
                </div>

                <div class="text-info">
                    <i class="bi bi-file-earmark-medical"></i>
                    {{ "employee.requirement" | translate }}
                </div>
                <hr />
                <div class="row mb-3">
                    <div class="col-sm-2 col-md-1">
                        <label class="form-control-label mt-3"
                            ><strong>{{ "employee.company" | translate }}</strong></label
                        >
                    </div>
                    <div class="col-sm-10 col-md-5">
                        <input type="text" placeholder="{{ 'employee.placeholder.company' | translate }}" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div>
                        <label for="" class="col-md-3" style="margin-left: -10px"
                            ><strong>{{ "employee.project" | translate }}</strong></label
                        >
                        <textarea
                            class="form-control"
                            placeholder="{{ 'employee.placeholder.describe' | translate }}"
                            id=""
                            style="height: 150px"
                        ></textarea>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-danger button-size"><i class="bi bi-trash"></i> Cancel</button>

                    <button class="btn btn-primary button-size"><i class="bi bi-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
