<!--<div class="col-md-12">-->
<div class="row">
    <div class="products-tabs">
        <!-- tab -->
        <div class="tab-pane active">
            <div class="products-slick slick-initialized slick-slider" >
                <!-- product -->
                <div class="slick-list draggable row" *ngIf="!!this.listProducts">
<!--                    <div class="slick-track"-->
<!--                         style="opacity: 1; width: 4102px; transform: translate3d(-1465px, 0px, 0px);">-->
<div class="slider-track">
                        <app-product-item *ngFor="let item of listProducts" [productItem]="item"></app-product-item>
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->
<!--                                                <app-product-item></app-product-item>-->

<!--                    </div>-->
</div>
                </div>

            </div>
            <div id="slick-nav-1" class="products-slick-nav">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button"
                        style="display: inline-block;">Previous
                </button>
                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: inline-block;">
                    Next
                </button>
            </div>
        </div>
        <!-- /tab -->
    </div>
</div>
<!--</div>-->
