<section>
    <div class="row">
        <div class="col">
            <h2>Thời gian nhận hàng và nhận hàng</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <strong><span style="font-size: 18px">1.</span> </strong
                ><span style="font-size: 16px"
                    >Khách hàng check lại thông tin, kiểm tra lại thông tin đơn hàng trong Email .&nbsp; </span
                ><br /><br /><span style="font-size: 18px"><strong>2.</strong></span
                ><span style="font-size: 16px">&nbsp;Các đơn hàng sẽ được gọi xác nhận trong 48 giờ kể từ lúc đặt .</span
                ><br /><span style="font-size: 16px"
                    >&nbsp; &nbsp; Thời gian nhận hàng khoảng 2-3&nbsp;ngày (nội thành), 3&nbsp;- 4&nbsp;ngày (ngoại
                    thành)<br />&nbsp; &nbsp;<span style="color: #e74c3c">
                        Vào thời điểm khuyến mại thời gian nhận hàng khoảng 3-4 ngày (nội thành), 7 - 10 ngày (ngoại
                        thành)</span
                    ></span
                ><br /><br /><span style="font-size: 18px"><strong>3.</strong></span>
                <span style="font-size: 16px"
                    > Khi Khách hàng nhận được hàng, khách hàng lưu ý giúp shop là KIỂM TRA HÀNG VỚI SHIPPER lại có vấn đề gì
                    shop mới giải quyết được, mọi trường họp xảy ra nếu không kiểm tra hàng với shipper thì
                    shop sẽ KHÔNG GIẢI QUYẾT .</span
                >
            </p>
        </div>
    </div>
</section>
