.ant-steps-item-icon .ant-steps-icon {
    position: relative;
    top: -3px;
    color: #18ff24;
    line-height: 1;
}
.btn-md{
    width: 160px;
    height: 35px;

}
.btn-xs{

    width: 90px;
    height: 30px;
    text-align: center;
    font-size: small;
}
.col-10{
        flex: 0 0 83.33333%;
    max-width: 85.33333%;
}
.products{
    // border: 0.1rem solid #02fa0f;
}
.size-table{
    width: 700px;
    text-align: end;
}