<section>
    <div class="row">
        <div class="col">
            <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
                <nz-step nzTitle="Đơn Hàng Đã Đặt" nzIcon="diff"></nz-step>
                <nz-step nzTitle="Đơn Hàng Đã Thanh Toán" nzDescription="97.00VNĐ" nzIcon="money-collect"></nz-step>
                <nz-step nzTitle="Đã Giao Cho ĐVVC" nzIcon="retweet"></nz-step>
                <nz-step nzTitle="Đơn Hàng Đã Nhận" nzIcon="check-circle"></nz-step>
                <nz-step nzTitle="Đánh Giá" nzIcon="star"></nz-step>
            </nz-steps>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <h4>Địa Chỉ Nhận Hàng</h4>
            <div class="fw-bold">Nguyen Van A</div>
            <span>0398275924</span> <br />
            <span>Dong Da Ha Noi</span>
        </div>
        <div class="col-4">
            <nz-timeline>
                <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item>
                <nz-timeline-item>Solve initial network problems 2015-09-01</nz-timeline-item>
                <nz-timeline-item>Technical testing 2015-09-01</nz-timeline-item>
                <nz-timeline-item>Network problems being solved 2015-09-01</nz-timeline-item>
            </nz-timeline>
        </div>
        <div class="col-4">
            <button class="btn btn-primary btn-md">Đánh Giá</button> <br />
            <button class="btn btn-primary mt-4 btn-md">Liên Hệ Người Bán</button><br />
            <button class="btn btn-primary mt-4 btn-md">Mua Lại</button>
        </div>
        <div class="row mb-1">
            <div class="col shadow-sm rounded" style="background-color: rgb(149, 149, 245); height: 50px;">
              <img
                src="https://www.duckychannel.com.tw/assets/img/logo.png"
                style="width: 120px; height: 40px; transform: rotate(-15deg);"
                alt=""
            />
            <button class="btn btn-primary mt-2 ml-md-2 btn-xs">Chat</button>
            <button class="btn btn-primary mt-2 ml-md-2 btn-xs">Xem shop</button>
            </div>
        </div>
        <div class="row products shadow-sm p-3 mb-5 bg-white rounded">
                <div class="col-1">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz8ApQxg7aRtt1uHn-9owxox0f8LauWU9VPQ&usqp=CAU"
                        alt=""
                        style="width: 65px; height: 60px"
                    />
                </div>
                <div class="col-10">
                    <strong>Mechanical Gaming Keyboard RGB LED Rainbow Backlit</strong> <br>
                     <span>type: keyboard</span> <br>
                     <span>x1</span>
                </div>
                 <div class="col-1">
                        <span>đ90.000</span>
                </div>
            </div>
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="size-table" colspan="2">Tổng Tiền Hàng</td>
                        <td>đ90.000</td>
                    </tr>
                    <tr>
                        <td class="size-table" colspan="2">Phí Vận Chuyển</td>
                        <td>đ16.500</td>
                    </tr>
                    <tr>
                        <td class="size-table" colspan="2">Tổng Số Tiền</td>
                        <td>đ106.500</td>
                    </tr>
                    <tr>
                        <td class="size-table" colspan="2">Phương Thức Vận Chuyển</td>
                        <td>Thanh toán khi nhận hàng</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
