<section class="inner-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 mt-2">
                <button class="btn btn-primary btn-xs">{{ "order.addOrder" | translate }}</button>
                <button class="btn btn-primary btn-xs"
                        (click)="exportOrder()"
                        style="margin-left: 20px">
                    {{ "common.action.export" | translate }}
                </button>
            </div>
            <div class="col-4 mt-2">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control bg-light border-1 small"
                            placeholder="{{ 'common.action.search' | translate }}..."
                            aria-label="Search"
                            aria-describedby="basic-addon2"
                            [(ngModel)]="searchValue"
                            (keyup.enter)="this.onFilter(keyword?.value)"
                            name="searchValue"
                            #keyword
                        />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <table class="table table-hover  mt-md-3">
                <thead>
                    <tr>
                        <th scope="col">orderId</th>
                        <th scope="col">{{ "common.fullName" | translate }}</th>
                        <th scope="col">{{ "Số diện thoại" | translate }}</th>
                        <th scope="col">{{ "Trạng thái" | translate }}</th>
                        <!-- <th scope="col">{{ "Tông tiền" | translate }}</th> -->
                        <th scope="col">{{ "Ngày tạo" | translate }}</th>
                        <th scope="col">{{ "Ngày update cuối cùng" | translate }}</th>
                        <th class="w100" scope="col">{{ "customer.manage.action" | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderDetail of listOfOrderDetails; index as i">
                    <td>{{ this.limitText(orderDetail.id, 8) }}</td>
                    <td>{{ orderDetail.receiver }}</td>
                    <td>{{ orderDetail.phoneNumber }}</td>
                    <td>{{this.statusString(orderDetail.orderStatus) }}</td>
                    <!-- <td>{{ orderDetail.totalQuantity * orderDetail.totalPrice | currency: "VND":"symbol" }}</td> -->
                    <td>{{ orderDetail.createDate |slice:0:19 }}</td>
                    <td>{{ orderDetail.lastUpdate |slice:0:19 }}</td>
                    <td>
                        <!-- <button
                            nz-button
                            nzType="default"
                            nz-tooltip="{{ 'common.action.delete' | translate }}"
                            nzDanger
                            nzSize="default"
                        >
                            <i nz-icon nzType="delete"></i>
                        </button> -->
                        <button
                                nz-button
                                nzType="default"
                                nz-tooltip="{{ 'common.action.view' | translate }}"
                                nzSize="default"
                                [routerLink]="['/admin/order/detail/' + orderDetail.id]"
                        >
                            <i nz-icon nzType="eye"></i>
                        </button>
                        <!-- <button
                            nz-button
                            nzType="default"
                            nz-tooltip="{{ 'common.action.update' | translate }}"
                            nzSize="default"
                        >
                            <i nz-icon nzType="edit"></i>
                        </button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="box-center">
                <nz-pagination
                    [nzPageIndex]="1"
                    [nzTotal]="sizePage"
                    (nzPageIndexChange)="pageChange($event)"
                    nzShowSizeChanger
                    [nzPageSize]="10"
                    (nzPageSizeChange)="pageSizeChange($event)"
                ></nz-pagination>
            </div>
        </div>
    </div>
</section>
