.btn-action {
  height: 35px;
  width: 35px;
  background: #F4F5FA;
  border-radius: 71px;
  margin-left: -4px;
  line-height: 20px;
  color: #828286;
  text-align: center;
  padding: 8px;
}
.size-action{
  font-size: 15px;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #F4F5FA;
  border: none;
  border-radius: 10px;
}
.btn-function {
  background: #ECECF3;
  color: #353538;
  border-radius: 10px;
  padding:8px;
  font-weight: normal !important;
  height: 41px
}

.btn-function:hover {
  border-radius: 10px;
  background: #ECECF3;
  color: #353538;
}
.i-function {
  margin-right: 0.5rem;
  font-size:10pt;
}

.search-field {
  width: 311px !important;
  border: 1px solid rgba(60, 60, 67, 0.1) !important;
  height: 42px !important ;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.size1 {
  font-size: 28px !important;
  color: rgba(24, 25, 31, 0.84);
  font-weight: 500;
  line-height: 32px;
}

.size2 {
  font-size: 15px !important;
  margin-left: 3px;
  color: rgba(24, 25, 31, 0.6);
  line-height: 24px;
}

.header {
  margin-bottom: 0px !important;
  height: 100px !important;
}
.search-icon {
  position: absolute;
  top: 10px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.54);
}
input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 25px;
  border: 0;
  height: 45px;
  padding: 8px 8px 8px 50px;
  width: 250px;
  background: #ffffff;
  transition: background 0.2s, width 0.2s;
  background-color: rgba(116, 116, 128, 0.08);
}
li {
  display: inline-block;
}

.btn {
  border-radius: 8px;
}

@media (min-width: 1320px) {
  .modal-xl {
    max-width: 1500px !important;
  }
}
.modal-header {
  background-color: #ececec;
}
.padding12 {
  padding: 0 12px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  height: 68px;
}

.custom-btn-grey-point {
  background-color: #edf1f5;
  border-radius: 20px;
  color: #000000;
  padding: 9px;
}

.custom-btn-grey-select {
  background: #ffffff;
  border-radius: 4px;
  color: #000000;
  padding: 0px 9px 0px 9px;
  border: 1px solid rgba(60, 60, 67, 0.1);
  width: 144px;
  height: 30px;
  box-sizing: border-box;
}
.checkShare {
  background: #ffffff;
  border: 1px solid rgba(48, 48, 48, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  width: 20px !important;
  height: 20px !important;
}
.freeze-table {
  background-color: #ffff;
}
.border-shadow-approval {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  background: #ffffff;
}
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #D5D5D5;
  border-radius: 3px;
  background-color: white;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
.item-filter button{
  color:  #828286;

}
.item-filter{
  padding: 5px 24px;
  height: 42px;
}
.item-filter.active{
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px 10px 0px 0px;
  background: #FFFFFF;

}
.item-filter.active button{
  color: #353538;
  font-weight: 500;
}
.item-filter  .amount{
  width: 32px;
  height: 22px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 4px;
  font-size: 13px;
  color: #353538;
  line-height: 15px;
}
.item-filter.active .amount{
  background: #F4F5FA;
}
.item-filter  span{
  padding: 0px 8px;
}
.box-search{
  //width: calc(100% - 80px)!important;
  width: 100%;
  position: relative;
}
.box-filter{
  width: 40px;
  margin-left: 19px;
}
.box-search input{
  background: #F4F5FA;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  height: 40px;
  padding-left: 38px;
  //color: #CECFD3;
}
.icon-search{
  left: 9px;
  top: 9px;
  position: absolute;
  font-size: 20px;
}
.box-filter{
  background: #F4F5FA;
  border-radius: 71px;
  position: relative;
}
.filter-search{
  background: white;
  padding: 10px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-size{
  font-size: 21px;
}
.color-default a{
  color: #353538;
}
.filter{
  background: #F4F5FA;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;

}
.ng-star-inserted .mat-paginator{
  border-radius: 0px 0px 10px 10px;
}
.item-filter button{
  display: flex;
}
.item-filter button i{
  font-size: 20px;
}
.item-filter button .content-filter{
  line-height: 25px;
}
.box-search input::placeholder {
  font-style: italic;
  font-size: 15px;
}
.filter-detail{
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 20px
}
.filter-detail h3{
  color: #000000;
  opacity: 0.4;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.filter-detail .col-md-3 {
  max-width: 360px;
  flex: 0 0 360px;
}
.filter-detail .col-md-2.scroll-yc {
  max-width: 245px;
  flex: 0 0 245px;
}
.filter-detail input::after{
  border: solid #fff;
  background: #DA4F46;
}

.box-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #FAFBFC;
  border: 2px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 4px;
}

.box-checkbox input:checked ~ .checkmark {
  background: #DA4F46;
  border: 2px solid #DA4F46;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.box-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.box-checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(
                  45deg
  );
  -ms-transform: rotate(45deg);
  transform: rotate(
                  45deg
  );
}
.box-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  line-height: 23px;
  position: relative;
}
.sent-date{
  border-radius: 20px;
  width: 150px;
  float: left;
  margin-right: 12px!important;
  height: 34px;
  text-align: right;
  background: #F4F5FA;
  color: #414244;
}
.table {
  background: #fff !important;
}
.btn-filter{
  height: 40px;
  width: 40px;
  background: #F4F5FA;
  border-radius: 71px;
  line-height: 42px;
  color: #828286;
  text-align: center;
  padding: 6px;
}
.btn-refuse{
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 15px;
  color: #828286;
}
.btn-approve{
  background: #DA4F46;
  color: white;
  box-shadow: 3px 5px 7px rgba(234, 66, 66, 0.18), 1px 2px 2px rgba(234, 66, 66, 0.1);
  border-radius: 71px;
}

.btn-link-vsm:hover {
  border-color: #436fe3;
  color: #436fe3;
  text-decoration: underline;
}
.scroll-me {
  max-height: 250px;
  overflow-y: scroll;
}
.br-20{
  border-radius: 20px !important;
}
#content{
  font-size: 19px;
}
