<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <!--  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('close')">-->
    <!--    <span aria-hidden="true"><i class="material-icons">close</i></span>-->
    <!--  </button>-->
</div>
<div class="modal-body" id="content" *ngIf="!!body">
    {{body}}
</div>

<div class="modal-footer">
    <!--    <button type="button" class="btn btn-danger btn-circle pl-2 pr-2" (click)="activeModal.close('close')">{{closeButton}}</button>-->
    <!--    <button type="button" class="btn btn-primary btn-circle pl-2 pr-2" (click)="activeModal.close('confirm')">{{confirmButton}}</button>-->
    <button class="btn btn-danger btn-icon-split"
            (click)="activeModal.close('close')">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
        <span class="text">{{closeButton}}</span>
    </button>
    <button class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
        <span class="text" (click)="activeModal.close('confirm')">
            {{confirmButton}}</span>
    </button>
</div>
