<section class="inner-content">
    <div class="container-fluid">
        <div class="row">
            <h3 class="text-center mt-md-4">So sánh sản phẩm</h3>
            <p class="text-center">
                Cung cấp cho bạn trải nghiệm người dùng tốt nhất. Để mọi người tìm được sản phẩm phù hợp và độc đáo.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <table class="table table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Sản Phẩm</strong></td>
                            <td *ngFor="let item of this.productList">
                                <div class="text-center">
                                    <img
                                            src="{{this.fileService.viewImageByOwnerIdAndOwnerType(item.id, '')}}"
                                            alt=""
                                            style="width: 220px; height: 249px"
                                    /><br/>
                                    <strong>{{item?.productName}}</strong> <br/>

                                    <button (click)="this.removeProduct(item)" class="btn btn-default">
                                        <i class="bi bi-dash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <!--                         Thông tin sản phẩm-->
                        <tr *ngFor="let item of this.attributeList">
                            <td><strong>{{item.name}}</strong></td>
                            <td [nzAlign]="'center'"
                                *ngFor="let att of item.productAttribute">{{att?.value || '-'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
