nz-select {
    margin: 0 8px 10px 0;
    width: 200px;
}
.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50px;
}
.btn-margin{
    margin-top: 112px;
    margin-bottom: 112px;
}
