<section class="inner-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 mt-md-5">
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control bg-light border-1 small"
                            placeholder="{{ 'customer.manage.search' | translate }}..."
                            aria-label="Search"
                            appKeyupDelay
                            aria-describedby="basic-addon2"
                            [(ngModel)]="searchValue"
                            (keyup.enter)="this.onFilter(keyword?.value)"
                            name="searchValue"
                            #keyword
                        />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" (click)="this.onFilter(searchValue)">
                                <i class="bi bi-search bi-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group col-3 mt-md-5">
                <button class="btn btn-info" (click)="this.onNavCreate()">
                    <i class="bi bi-plus" style="font-size: 15px"></i> {{'employee.addNew' | translate}}
                </button>
            </div>
        </div>
        <div class="row">
            <nz-table #basicTable>
                <thead>
                    <tr>
                        <th scope="col">Tên</th>
                        <th scope="col">IsAdmin</th>
                        <th scope="col">Mã</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">thời gian sửa</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- *ngFor="let data of basicTable.data" -->
                    <tr>
                        <td>ABC</td>
                        <td>true</td>
                        <td>5302</td>
                        <td>Có quyền</td>
                        <td>22/12/2021</td>
                        <td>22/12/2021</td>
                        <td>Hoạt động</td>
                        <td>
                            <!-- (click)="onCheckEmployeeStatus(employee.id, employee.status)" -->
                            <button
                                nz-button
                                nzType="default"
                                nz-tooltip="{{ 'customer.detail.blocked' | translate }} & {{
                                    'customer.detail.active' | translate
                                }}"
                                nzSize="default"
                            >
                                <i nz-icon nzType="lock"></i>
                            </button>
                            <!-- [routerLink]="['/admin/employee/detail/']" -->
                            <button
                                nz-button
                                nzType="default"
                                nz-tooltip="{{ 'customer.detail.edit' | translate }}"
                                nzSize="default"
                                (click)="showModal()"
                            >
                                <i nz-icon nzType="edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</section>

<!-- start modal  -->
<nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Thêm Vai Trò"
    (nzOnCancel)="handleCancel()"
    nzCancelText="Trở lại"
    nzOkText="Hoàn thành"
    (nzOnOk)="handleOk()"
    nzWidth="670px"
>
    <!--    [nzOkDisabled]="this.addressForm?.invalid"-->
    <!-- [formGroup]="this.addressForm" -->
    <ng-container *nzModalContent>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <!-- <nz-form-item> -->
                    <nz-form-label nzRequired>{{ "authority.name" | translate }}</nz-form-label>
                    <br />
                    <nz-form-control>
                        <input nz-input placeholder="" />
                    </nz-form-control>
                    <!-- </nz-form-item> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-md-3">
                    <nz-form-item>
                        <nz-form-label nzRequired>{{ "authority.isAdmin" | translate }}</nz-form-label>

                        <nz-switch [(ngModel)]="switchValue"></nz-switch>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <nz-form-item> -->
                    <nz-form-label nzRequired>{{ "authority.code" | translate }}</nz-form-label>
                    <br />
                    <nz-form-control>
                        <input nz-input placeholder="{{ 'authority.code' | translate }}" />
                    </nz-form-control>
                    <!-- </nz-form-item> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <nz-form-item> -->
                    <nz-form-label nzRequired>{{ "authority.description" | translate }}</nz-form-label>
                    <br />
                    <textarea
                        nz-input
                        placeholder="{{ 'authority.description' | translate }}"
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                    ></textarea>
                    <!-- </nz-form-item> -->
                </div>
            </div>
        </form>
    </ng-container>
</nz-modal>
<!-- End Modal  -->
