<section class="inner-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mt-md-3">
                <p class="ml-md-5" style="font-size: large">{{ "home.profile.myAddress" | translate }}</p>
            </div>

            <div class="col-md-3 mt-md-3" style="margin-left: 628px">
                <button class="btn btn-default bg-color" (click)="showModal()">
                    <i class="bi bi-plus">{{ "home.profile.addAddress" | translate }}</i>
                </button>
            </div>
        </div>
        <hr />
        <div>
            <div class="row ml-md-5" *ngFor="let address of listOfMyAddress">
                <div class="col-md-8">
                    <table>
                        <tbody>
                            <tr>
                                <td class="size-width">{{ "common.fullName" | translate }}</td>
                                <td>{{ address.nameOfRecipient }}</td>
                            </tr>
                            <tr>
                                <td class="size-width">{{ "common.cellPhone" | translate }}</td>
                                <td>{{ address.phoneNumber }}</td>
                            </tr>
                            <tr>
                                <td class="size-width">{{ "common.address" | translate }}</td>
                                <td>
                                    {{ address.addressDetail }},
                                    {{ address.ward }},
                                    {{ address.district }},
                                    {{ address.province }}
                                    <div
                                        *ngIf="address.isDefault"
                                        style="
                                            background-color: #d10024;
                                            border-radius: 5px;
                                            width: 75px;
                                            height: 22px;
                                            text-align: center;
                                            color: #fff;
                                            font-weight: 300;
                                        "
                                    >
                                        {{ "common.default" | translate }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <a (click)="showModal(address)" class="ml-md-5 a-color">{{ "common.action.edit" | translate }}</a>
                    <a (click)="onDelete(address.id)" class="ml-md-5 a-color">{{
                        "common.action.delete" | translate
                    }}</a>
                    <br />
                    <button (click)="onSetAddressDefault(address.id)" class="btn btn-default mt-md-4">
                        {{ "common.settingDefault" | translate }}
                    </button>
                </div>
                <hr class="mt-md-5" />
            </div>
        </div>
        <!-- <ng-template #addressNull>
            <div class="d-flex justify-content-md-center">
                <p>{{ "home.profile.address.haventAddress" }}!</p>
            </div>
        </ng-template> -->
    </div>
</section>
<!-- start modal  -->
<nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Địa Chỉ Mới"
    (nzOnCancel)="handleCancel()"
    nzCancelText="Trở lại"
    nzOkText="Hoàn thành"
    (nzOnOk)="handleOk()"
    nzWidth="670px"
>
<!--    [nzOkDisabled]="this.addressForm?.invalid"-->

    <ng-container *nzModalContent>
        <form [formGroup]="this.addressForm">
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired>{{ "common.fullName" | translate }}</nz-form-label>
                        <nz-form-control>
                            <input
                                nz-input
                                formControlName="nameOfRecipient"
                                placeholder="{{ 'common.fullName' | translate }}"
                            />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.addressForm.get('nameOfRecipient').invalid &&
                                    (this.addressForm.get('nameOfRecipient').dirty ||
                                        this.addressForm.get('nameOfRecipient').touched)
                                "
                            >
                                <small *ngIf="this.addressForm.getError('required', 'nameOfRecipient')"
                                    >*{{ "home.profile.address.fullName" | translate }}</small
                                >
                            </span>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired>{{ "common.cellPhone" | translate }}</nz-form-label>
                        <nz-form-control>
                            <input
                                nz-input
                                formControlName="phoneNumber"
                                placeholder="{{ 'common.cellPhone' | translate }}"
                            />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.addressForm.get('phoneNumber').invalid &&
                                    (this.addressForm.get('phoneNumber').dirty ||
                                        this.addressForm.get('phoneNumber').touched)
                                "
                            >
                                <small *ngIf="this.addressForm.getError('required', 'phoneNumber')"
                                    >*{{ "home.profile.address.phoneNumber" | translate }}</small
                                >
                                <small *ngIf="this.addressForm.getError('pattern', 'phoneNumber')"
                                    >*{{ "home.profile.address.phoneNumnerFormat" | translate }}</small
                                >
                            </span>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="18">{{
                            "home.profile.address.province" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <!-- Chọn theo Tỉnh/thành phố -->
                            <nz-select
                                nzShowSearch
                                nzPlaceHolder="{{ 'home.profile.address.province' | translate }}..."
                                formControlName="provinceId"
                                (ngModelChange)="onLoadDistrict($event)"
                            >
                                <nz-option
                                    *ngFor="let item of listOfProvincesGlobal"
                                    nzLabel="{{ item.ProvinceName }}"
                                    [nzValue]="item.ProvinceID"
                                ></nz-option>
                            </nz-select>

                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="15">{{
                            "home.profile.address.district" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <!-- Chọn theo huyện  -->
                            <nz-select
                                nzShowSearch
                                nzPlaceHolder="{{ 'home.profile.address.district' | translate }}..."
                                formControlName="districtId"
                                (ngModelChange)="onLoadWard($event)"

                            >
                                <nz-option
                                    *ngFor="let item of listOfDistricts"
                                    nzLabel="{{ item.DistrictName }}"
                                    [nzValue]="item.DistrictID"
                                ></nz-option>
                            </nz-select>

                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-4">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="15">{{
                            "home.profile.address.ward" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <!-- Chọn theo xã -->
                            <nz-select nzShowSearch nzAllowClear
                                       nzPlaceHolder="Xã..."
                                       formControlName="wardId"
                                       (ngModelChange)="this.onSelectWar($event)"
                            >
                                <nz-option
                                    *ngFor="let item of listOfWards"
                                    nzLabel="{{ item.WardName }}"
                                    [nzValue]="item.WardCode"
                                ></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label nzRequired>{{ "home.profile.address.addressDetail" | translate }}</nz-form-label>
                        <nz-form-control>
                            <input
                                nz-input
                                formControlName="addressDetail"
                                placeholder="{{ 'home.profile.addressDetail' | translate }}"
                            />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.addressForm.get('addressDetail').invalid &&
                                    (this.addressForm.get('addressDetail').dirty ||
                                        this.addressForm.get('addressDetail').touched)
                                "
                            >
                                <small *ngIf="this.addressForm.getError('required', 'addressDetail')"
                                    >*{{ "home.profile.address.errorAddressDetail" | translate }}</small
                                >
                            </span>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-label>{{ "home.profile.address.addressType" | translate }}</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="addressType">
                            <nz-option
                                [nzValue]="'home'"
                                nzLabel="{{ 'home.profile.address.home' | translate }}"
                            ></nz-option>
                            <nz-option
                                [nzValue]="'office'"
                                nzLabel="{{ 'home.profile.address.office' | translate }}"
                            ></nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </div>
        </form>
    </ng-container>
</nz-modal>
<!-- End Modal  -->

