.bg-color {
    background-color: #d10024;
    color: #fff;
}
.a-color {
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
}
.labels {
    margin-left: 100px;
    width: 50px;
}
.labels > .row {
    text-align-last: right;
}

nz-form-control {
    width: 230px;
}
nz-select {
    width: 240px;
}
.size-width{
    width: 148px;
}
