.searchForm:focus {
    box-shadow: none;
}

.btnSearch {
  color: white;
  background-color: darkblue;
  box-shadow: none;
}

.inner-content {
  height: calc(100% - 30px);
  overflow-y: scroll;
}

.content{
  height: 100%;
}

.listCate {
  border: 2px solid #E3E4E8;
  border-radius: 15px;
  padding: 2%;
  margin-top: 3%;
}

.cardForm{
  margin-left: 3%;
  background-color: #F5F5F5;
}

