<section class="inner-content">
    <div class="long-div" #divTarget>
      <div class="long-div-inner m-5">
        <div class="row content">
          <div class="col-5">
            <div class="input-group mt-1">
            </div>
            <div class="listCate">
              <ng-template #suffixIcon>
                <i nz-icon nzType="search"></i>
              </ng-template>
                <nz-tree
                        [nzData]="nodes"
                        [nzSearchValue]="searchValue"
                        (nzClick)="nzEvent($event)"
                        (nzExpandChange)="nzEvent($event)"
                        (nzSearchValueChange)="nzEvent($event)"
                ></nz-tree>
            </div>
          </div>
            <div class="col-7">
                <mat-card class="cardForm" style="width: 100%;">
                    <form [formGroup]="this.formGroup" (ngSubmit)="createCategory()">
                        <div class="mt-2 mb-4">
                            <label for="exampleInputEmail1" class="form-label">Tên danh mục</label>
                            <input formControlName="categoryName"
                                   type="text" class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Nhập tên danh mục">
                            <ng-container *ngIf="this.formGroup.get('categoryName').invalid
                                                && this.formGroup.get('categoryName').dirty" class="text-danger">
                                <p *ngIf="this.formGroup.get('categoryName').hasError('required')">
                                    Tên danh mục không được để trống
                                </p>
                                <p *ngIf="this.formGroup.get('categoryName').hasError('maxlength')">
                                    Tên danh mục phải tối đa 50 ký tự
                                </p>
                            </ng-container>

                        </div>
                        <div class="row mb-2">
                            <div class="col-auto">
                                <label class="form-check-label">Trạng thái</label>
                            </div>
                            <div class="col-auto">
                                <nz-switch formControlName="status"></nz-switch>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-auto mt-2">
                                <button nz-button type="submit" nzType="primary">Thêm mới</button>
                            </div>
                            <div class="col-auto mt-2">
                                <button nz-button nzType="primary" (click)="updateCategory(); $event.preventDefault()">Cập nhập</button>
                            </div>
                        </div>
                    </form>

                </mat-card>
                <mat-card class="cardForm" style="margin: 3%; width: 100%;">
                  <form nz-form [nzLayout]="'inline'" [formGroup]="this.formAttribute" (ngSubmit)="createAttribute()">
                    <nz-form-item>
                        <div class="row">
                            <input class="col-5" formControlName="name" nz-input placeholder="Tên thuộc tính"/>
                            <input class="col-2" formControlName="type" nz-input placeholder="Loại"/>
                            <nz-form-control class="col">
                                <nz-button-group>
                                    <button nz-button nzType="primary">Thêm mới</button>
                                    <button nz-button (click)="updateAttribute(); $event.preventDefault()">Cập nhập
                                    </button>
                                </nz-button-group>
                            </nz-form-control>
                        </div>
                    </nz-form-item>
                  </form>
                    <nz-table [nzData]="this.listAttribute">
                        <thead>
                          <tr>
                            <th>Tên</th>
                            <th>Loại</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of listAttribute">
                            <td>{{data.name}}</td>
                            <td>{{data.type}}</td>
                            <td>
                              <button nz-button nzType="primary" nzShape="circle" (click)="selectAttribute(data)"><i nz-icon nzType="edit"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                </mat-card>
            </div>
        </div>
      </div>
      <nz-back-top [nzTarget]="divTarget"></nz-back-top>
    </div>
</section>
