<nz-table #basicTable>
    <thead>
      <tr>
        <th>Tên danh mục</th>
        <th>Hoạt động</th>
        <th>Các danh mục con</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>a</td>
        <td>a</td>
        <td>
            <button nz-button nzType="primary" >
                <i nz-icon nzType="select"></i>
                Xem các danh mục con
            </button>
        </td>
        <td>
            <button nz-button nzType="default" nz-tooltip="xóa sản phẩm" nzDanger nzSize="default"><i nz-icon nzType="delete"></i></button>
            <button nz-button nzType="default" nz-tooltip="Các sản phẩm thuộc danh mục" nzSize="default"><i nz-icon nzType="eye"></i></button>
            <button nz-button nzType="default" nz-tooltip="cập nhật sản phẩm" nzSize="default"><i nz-icon nzType="edit"></i></button>
        </td>
      </tr>
    </tbody>
  </nz-table>
