.btn-addcard {
  background-color: #d10024;
  color: white;

}
.btn-addcard:hover{
  background-color: white;
  color: #D10024;
  border: 2px solid #D10024;
}
.product-rating>i.fa-star {
  color: #ef233c;
}
  .rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;

}

// .rating-list li:hover,
// .rating-list li:hover ~ li, 
.rating-list li.selected {
  color: #ef233c;
}

.rating-list {
  display: inline-block;
  list-style: none;
}
