<div class="section">
    <!-- container -->
    <div class="container" style="padding: 0px">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>{{ "wishList.image" | translate }}</th>
                                <th>{{ "wishList.name" | translate }}</th>
                                <th>{{ "wishList.price" | translate }}</th>
                                <th>{{ "wishList.likeNumber" | translate }}</th>
                                <!-- <th>{{ "wishList.rating" | translate }}</th> -->
                                <th>{{ "wishList.manipulation" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <tr *ngFor="let wishlist of listOfProfile">
                                <td>
                                    <a [routerLink]="['/product/' + wishlist.productId]">
                                        <img
                                            style="height: 60px"
                                            src="{{
                                                this.fileUpload.viewImageByOwnerIdAndOwnerType(
                                                    wishlist?.productId,
                                                    PRODUCT_TYPE
                                                )
                                            }}"
                                            alt="Image"
                                    /></a>
                                </td>
                                <td>
                                    <a [routerLink]="['/product'+ wishlist.id]">{{ wishlist?.productName ? wishlist?.productName : "-" }}</a>
                                </td>
                                <td>{{ (wishlist?.price ? wishlist?.price : 0) | currency: "VND": "symbol" }}</td>
                                <td>
                                    <div class="qty">
                                        <i class="fas fa-heart" style="color: #d10024; font-size: 15px"></i>
                                        {{ wishlist?.numberFavourites }}
                                    </div>
                                </td>
                                <!-- <td>
                                    <div class="product-rating" >
                                         <ul class="list-inline rating-list" *ngFor="let star of stars">
                                            <li [ngClass]="{ selected: star <= (wishlist?.ratingPoint ? wishlist?.ratingPoint : 0) }">
                                                <i class="fas fa-star"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </td> -->
                                <td class="">
                                    <div class="d-flex justify-content-center">
                                        <button (click)="onAddToCart(wishlist)" class="btn btn-addcard" title="{{ 'wishList.addToCart' | translate }}">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>

                                        <button (click)="onDeleteFavorite(wishlist.id)" class="btn btn-warning ml-3" title="Xóa sản phẩm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <nz-pagination
                            [nzPageIndex]="1"
                            [nzTotal]="totalItem"
                            nzShowSizeChanger
                            [nzPageSize]="10"
                            (nzPageSizeChange)="pageChange('size', $event)"
                            (nzPageIndexChange)="pageChange('page', $event)"
                        ></nz-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
