<section class="container-fluid cart-content">
    <div class="row">
        <div class="col-9">

            <nz-table
                    #rowSelectionTable
                    nzShowPagination
                    nzShowSizeChanger
                    [nzData]="carts"
                    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            >
                <thead>
                <tr>
                    <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                        (nzCheckedChange)="onAllChecked($event)"></th>
                    <th>Tên sản phẩm</th>
                    <th scope="col">{{ "Phân loại hàng" | translate }}</th>
                    <th scope="col">{{ "cart.price" | translate }}</th>
                    <th scope="col">{{ "cart.quantity" | translate }}</th>
                    <th scope="col">{{ "cart.intoMoney" | translate }}</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of this.carts">
                    <td
                            [nzChecked]="setOfCheckedId.has(data.id)"
                            [nzDisabled]="data.disabled"
                            (nzCheckedChange)="onItemChecked(data, $event)"
                    ></td>
                    <td>
                        <div class="row">
                            <span class="col">
                            <img
                                    class="img-product"
                                    src="{{
                                            this.fileService.viewImageByOwnerIdAndOwnerType(
                                                data?.productId,
                                                TYPE_PRODUCT
                                            )
                                        }}"
                                    alt="image product"
                                    style="width: 60px; height: 60px"
                            />
                        </span>
                            <span class="col"><a href="javascript:void(0)">{{ data?.productName }}</a></span>
                        </div>
                    </td>
                    <td>{{ data.optionProductName }}</td>
                    <td>
                        <u class="text-danger">{{data.productPrice | currency: "VND":"symbol"}}</u>
                        <p>{{ (data.productPrice! - (data.productPrice! * data.discount!) / 100) | currency: "VND":"symbol" }}</p>
                    </td>
                    <td style="width: 200px">
                        <div class="row">
                            <div class="col-md-2">
                                <button nz-button (click)="decrement(data)"
                                        [disabled]="this.isChangeQuantity || data.quantity == 1 ">
                                    <i class="bi bi-dash"></i>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <input
                                        nz-input
                                        type="number"
                                        nzMin="1"
                                        value="{{ data.quantity }}"
                                        [(ngModel)]="data.quantity"
                                        class="form-control"
                                        style="width: 108px"
                                />
                            </div>
                            <div class="col-md-2 ml-5">

                                <button nz-button type="button" [disabled]="this.isChangeQuantity"
                                        (click)="increment(data)">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                     <td>{{ total(data) | currency: "VND":"symbol" }}</td>
                    <td>
                        <button nz-button (click)="onDeleteCart(data.id)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="col-3  inner-content">
            <div class="row container-fluid">
                <div class="row ml-md-2 mt-md-3">
                    <div class="col-md-6 justify-content-start">
                        <p>{{ "cart.transience" | translate }}</p>
                    </div>
                    <div class="col-md-6 justify-content-end">
                        <b>{{ this.intoMoney | currency: "VND":"symbol" }}</b>
                    </div>
                    <hr/>
                    <div class="col-md-6 justify-content-start">
                        <p>{{ "Giảm giá" | translate }}</p>
                    </div>
                    <div class="col-md-6 justify-content-end">
                        <b class="text-danger">{{ this.intoDiscount | currency: "VND":"symbol" }}</b>
                    </div>
                    <hr/>
                    <div class="col-md-6 justify-content-start">
                        <p>{{ "cart.intoMoney" | translate }}</p>
                    </div>
                    <div class="col-md-6 justify-content-end">
                        <p style="color: #d10024; font-weight: 700; font-size: x-large">
                            {{ this.intoMoney - this.intoDiscount | currency: "VND":"symbol" }}
                        </p>
                    </div>
                    <div class="col-md-9 ">({{ "cart.vat" | translate }})</div>
                    <hr/>
                </div>
            </div>
            <div class="row mb-md-5 mt-md-2 justify-content-center">

                <div class="send-request">
                    <button
                            class="btn-order"
                            nz-button
                            [disabled]="setOfCheckedId.size === 0"
                            [nzLoading]="loading"
                            (click)="sendRequest()"
                    >
                        {{ "cart.order" | translate }} {{ setOfCheckedId.size }} sản phẩm được chọn
                    </button>
                    <!--                        <span>Selected {{ setOfCheckedId.size }} items</span>-->
                </div>
            </div>
        </div>
    </div>

</section>
