.btn-apply {
  height: 30px;
  width: 100px;
  background: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  position: relative;
  //   top: -10px;
}

.btn-order {
  height: 40px;
  //width: 220px;
  background-color: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  position: relative;
  //   top: -10px;
}

.btn-order:hover {
   background: #FFF;
   color: #D10024;
   border: solid 2px #D10024;
}
.quantity {

}

.cart-content {
  min-height: 700px;
}
.img-product {
  border-radius: 10px;
}
.send-request{
  width: 200px !important;
}
