<section>
    <div class="card">
        <div style="border-radius: 200px; height: 200px; width: 200px; background: #f8faf5; margin: 0 auto">
            <i class="checkmark">✓</i>
        </div>
        <h1>Thanh toán thành công</h1>
        <p>
            Chúng tôi đã nhận được yêu cầu mua hàng của bạn<br />
            Chúng tôi sẽ sớm liên lạc với bạn!
        </p> <br>
        <a href="http://duckyvn.site:8099/chekout/complete">Quay lại trang chủ</a>
    </div>
</section>
