<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion "
    [ngClass]="settingsService.isCollapsed? 'toggled': ''"
    id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/admin']">
        <div *ngIf="!settingsService.isCollapsed;else smLogo" class="sidebar-brand-icon rotate-n-15">
            <!--            <i class="fas fa-laugh-wink"></i>-->
            <img src="https://www.duckychannel.com.tw/assets/img/logo.png" alt="logo">
        </div>
        <!--        <div class="sidebar-brand-text mx-3">Duckyvn.site</div>-->
    </a>
    <ng-template #smLogo>
        <div class="sidebar-brand-icon ">
            <!--            <i class="fas fa-laugh-wink"></i>-->
            <img height="60" src="/assets/image/duckyLogo2.jpg" alt="logo">

        </div>
    </ng-template>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item  ">
        <a class="nav-link " [routerLink]="['/admin/dashboard']" routerLinkActive="active" [queryParams]="{}"
           queryParamsHandling="merge">
            <i class="fas fa-chart-line"></i>
            <span>{{'sidebar.dashboard' | translate}}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        {{'sidebar.product.title'| translate}}
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>{{'sidebar.product.title'| translate}}</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{{'sidebar.productManagement' | translate}}</h6>
                <a class="collapse-item" [routerLink]="['/admin/product']" routerLinkActive="active"
                   [queryParams]="{debug: true}"
                   queryParamsHandling="merge">{{'sidebar.listOfProducts' | translate}}</a>
                <h6 class="collapse-header">{{'sidebar.category.title'| translate}}</h6>
                <a class="collapse-item " [routerLink]="['/admin/category']">{{'sidebar.category.title'|translate}}</a>
                <a class="collapse-item " >{{'sidebar.attribute.title'|translate}}</a>
                <a class="collapse-item ">{{'sidebar.groupAttribute.title'|translate}}</a>
            </div>
        </div>
    </li>
<!--    order -->
    <li class="nav-item">
        <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseOrder"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>{{'sidebar.order' | translate}}</span>
        </a>
        <div id="collapseOrder" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">{{'sidebar.listOfOrders' | translate}}</h6>
                <!-- <a class="collapse-item"  [routerLink]="['/admin/order/detail']" >{{'sidebar.createOrder' | translate}}</a> -->
                <a class="collapse-item" [routerLink]="['/admin/order']">{{'sidebar.listOfOrders' | translate}}</a>
                <!-- <a class="collapse-item" [routerLink]="['/admin/order-customer']" >{{'sidebar.customerOrder' | translate}}</a> -->
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">{{'sidebar.problemOrder' | translate}}</h6>
                <a class="collapse-item" >{{'sidebar.refundOrder' | translate}}</a>
                <a class="collapse-item" >{{'sidebar.warrantyOrder' | translate}}</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>{{'sidebar.utilities' | translate}}</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" >Colors</a>
                <a class="collapse-item" >Borders</a>
                <a class="collapse-item" >Animations</a>
                <a class="collapse-item" >Other</a>
            </div>
        </div>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Addons
    </div> -->

    <!-- Quản lý người dùng Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed"  data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="bi bi-person"></i>
            <span>{{'sidebar.user' | translate}}</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Login Screens:</h6> -->
                <a class="collapse-item" [routerLink]="['/admin/customer']" >{{'sidebar.customer' | translate}}</a>
                <a class="collapse-item" [routerLink]="['/admin/employee']" >{{'sidebar.employee' | translate}}</a>
<!--                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
                <div class="collapse-divider"></div>
                <!-- <h6 class="collapse-header">{{'sidebar.other' | translate}}:</h6> -->
<!--                <a class="collapse-item" href="404.html">404 Page</a>-->
<!--                <a class="collapse-item" href="blank.html">Blank Page</a>-->
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/authority']">
            <i class="bi bi-shield-check"></i>
            <span>{{'authority.title' | translate}}</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item">
        <a class="nav-link" >
            <i class="fas fa-fw fa-table"></i>
            <span>{{'sidebar.table' | translate}}</span></a>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="onCollapse()"></button>
    </div>

</ul>
