<section class="inner-content">
    <div class="container-fluid">
        <div class="row inner-content-sub">
            <div class="col-md-12 text-md-end m-md-3">
                <button class="btn btn-primary">Tiếp theo</button>
                <button class="btn btn-outline-primary ml-md-3 mr-md-3">
                    <i class="bi bi-question-circle"></i> Trợ giúp
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-md-3 mb-md-3">
                <h4>Tạo Đơn Trả Hàng</h4>
                <nz-switch nzSize="small" [ngModel]="true"></nz-switch> <span> Đơn trả hàng có đối tượng</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row inner-content-sub h-25">
                    <div class="col-md-9 mt-md-3">
                        <span class="title">Thông tin khách hàng</span> <br />
                        <span>Nguyên Minh Huyền</span> <br />
                        <span>0399583399</span>
                    </div>
                    <div class="col-md-3 mt-md-5"><span>Công nợ hiện tại:</span><strong>-150.00đ</strong></div>
                </div> <br>
                <div class="row inner-content-sub" style="max-height: 50px;">
                    <div class="col-md-3 mt-md-1">
                        <span>Thông tin sản phẩm</span>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3 mt-md-1"><span>Trả toàn bộ sản phẩm</span></div>
                    <hr>
                    <div class="col-md-3 mt-md-1">
                        <span>Thông tin sản phẩm</span>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3 mt-md-1"><span>Trả toàn bộ sản phẩm</span></div>
                    
                </div>
                
            </div>
            <div class="col-md-3 inner-content-sub ml-md-5">
                <div class="row">
                    <div class="col-md-12 m-md-3">
                        <span class="title">Thông tin đơn trả hàng</span> <br />
                        <span> Mã đơn hàng</span> <br />
                        <span style="color: rgb(10, 47, 252); font-weight: 500">SON00406</span> <br />
                        <form nz-form class="login-form">
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Trạng thái">
                                    <nz-form-label>Trạng thái</nz-form-label>
                                    <nz-select ngModel="0">
                                        <nz-option nzValue="0" nzLabel="Chờ xử lý"></nz-option>
                                        <nz-option nzValue="-1" nzLabel="Không xử lý"></nz-option>
                                        <nz-option nzValue="1" nzLabel="Đang xử lý"></nz-option>
                                        <nz-option nzValue="4" nzLabel="Đã xử lý và hoàn tiền"></nz-option>
                                        <nz-option nzValue="5" nzLabel="Chờ xử lý"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Ngày chứng từ">
                                  <nz-form-label>Ngày chứng từ</nz-form-label>
                                    <nz-input-group>
                                        <input type="date" nz-input placeholder="Ngày chứng từ" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Tham chiếu">
                                  <nz-form-label>Tham chiếu</nz-form-label>
                                    <nz-input-group>
                                        <input type="text" nz-input placeholder="Tham chiếu" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Ghi chú">
                                  <nz-form-label>Ghi chú</nz-form-label>
                                    <nz-input-group>
                                        <input type="text" nz-input placeholder="Ghi chú" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
