.inner-content-sub {
    padding: 0px !important;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 6%);
    border-radius: 10px;
    padding: 24px;
    background: #fff;
    height: 100%;
}

.inner-content {
    padding: 0px !important;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 6%);
    border-radius: 10px;
    padding: 24px;
    background: rgb(230, 233, 232);
    height: 100%;
    margin: auto;
}
.title {
    font-size: larger;
    font-weight: 500;
}
.login-form {
    max-width: 200px;
}
