.group-menu {
    margin: 0 0 30px;
    position: relative;
    padding: 20px;
    border: 1px solid #e3e5ec;
}
.sidebar-page .page_menu_title h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    text-align: center;
    margin: 0 0 13px 0;
    font-weight: 500;
    line-height: 1.2;
}
.menuList-links > li > a {
    color: #666666;
    padding: 10px 0;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
}
