<section class="inner-container">
    <div class="row  m-md-5" [ngSwitch]="selectedValue">
        <div class="col-md-8"   *ngSwitchCase="'introduce'" style="margin-left: 30px;">
             <app-introduce></app-introduce>
        </div>
		<div class="col-md-8"   *ngSwitchCase="'refund-policy'" style="margin-left: 30px;">
            <app-refund-policy></app-refund-policy>
        </div>
		<div class="col-md-8"   *ngSwitchCase="'piracy-policy'" style="margin-left: 30px;">
             <app-piracy-policy></app-piracy-policy>
        </div>
		<div class="col-md-8"   *ngSwitchCase="'terms-of-service'" style="margin-left: 30px;">
             <app-terms-of-service></app-terms-of-service>
        </div>
        <div class="col-md-3">
            <div class="sidebar-page">
					<div class="group-menu">
						<div class="page_menu_title title_block">
							<h2>{{'aboutMe.pageCategory' | translate}}</h2>
						</div>
						<div class="layered layered-category">
								<ul class="menuList-links">		
									<!-- <li class="">
										<a title="{{'common.action.search' | translate}}">
											<span>{{'common.action.search' | translate}}</span>
										</a>
									</li>			 -->
									<li>
										<a (click)="onCategoryPages('introduce')" title="{{'aboutMe.introduce' | translate}}">
											<span  *ngIf="this.selectedValue != 'introduce'">{{'aboutMe.introduce' | translate}}</span>
											<strong *ngIf="this.selectedValue == 'introduce'">{{'aboutMe.introduce' | translate}}</strong>
										</a>
									</li>			
									<li class="">
										<a (click)="onCategoryPages('refund-policy')" title="{{'aboutMe.refundPolicy' | translate}}">
											<span  *ngIf="this.selectedValue != 'refund-policy'">{{'aboutMe.refundPolicy' | translate}}</span>
											<strong *ngIf="this.selectedValue == 'refund-policy'">{{'aboutMe.refundPolicy' | translate}}</strong>
										</a>
									</li>			
									<li class="">
										<a (click)="onCategoryPages('piracy-policy')" title="{{'aboutMe.privacyPolicy' | translate}}">
											<span  *ngIf="this.selectedValue != 'piracy-policy'">{{'aboutMe.privacyPolicy' | translate}}</span>
											<strong *ngIf="this.selectedValue == 'piracy-policy'">{{'aboutMe.privacyPolicy' | translate}}</strong>
										</a>
									</li>			
									<li class="">
										<a (click)="onCategoryPages('terms-of-service')" title="{{'aboutMe.termsOfService' | translate}}">
											<span  *ngIf="this.selectedValue != 'terms-of-service'">{{'aboutMe.termsOfService' | translate}}</span>
											<strong *ngIf="this.selectedValue == 'terms-of-service'">{{'aboutMe.termsOfService' | translate}}</strong>
										</a>
									</li>
								</ul>
						</div>
					</div>
				</div>
        </div>
    </div>
</section>
