<section>
    <div class="row">
        <div class="col">
            <h2>Điều khoản dịch vụ</h2>
        </div>
    </div>
    <div class="row">
        <div class="col" style="font-size: 18px">
            <p>
                <strong><span style="font-size: 18px">Lưu ý khi đặt hàng</span></strong
                ><br /><br /><span style="font-size: 22px">*</span>&nbsp;<span style="font-size: 16px"
                    >Các bạn check lại thông tin , kiểm tra lại thông tin đơn hàng trong Email .&nbsp;&nbsp;</span
                ><br /><br /><span style="font-size: 22px"><strong>*</strong></span
                ><span style="font-size: 16px">&nbsp;Các đơn hàng sẽ được gọi xác nhận trong 48h kể từ lúc đặt .</span
                ><br /><span style="font-size: 16px"
                    >&nbsp; &nbsp; Thời gian nhận hàng tầm 2-3&nbsp;ngày (nội thành), 3&nbsp;- 4&nbsp;ngày (ngoại
                    thành)<br />&nbsp; &nbsp;<span style="color: #e74c3c">
                        Vào thời điểm khuyến mại thời gian nhận hàng tầm 3-4 ngày (nội thành), 7 - 10 ngày (ngoại
                        thành)</span
                    ></span
                ><br /><br /><span style="font-size: 22px"><strong>*</strong>&nbsp;</span
                ><span style="font-size: 16px"
                    > Khi các bạn nhận được hàng bạn nhớ lưu ý giúp shop là KIỂM TRA HÀNG VỚI SHIPPER lại có vấn đề gì
                    shop mới giải quyết được cho bạn , mọi trường họp xảy ra nếu không kiểm tra hàng với shipper thì
                    shop sẽ KHÔNG GIẢI QUYẾT nha .</span
                ><br /><br /><br /><br /><strong>1. Giới thiệu</strong>
            </p>
            <p>Chào mừng quý khách hàng đến với website chúng tôi.</p>
            <p>
                Khi quý khách hàng truy cập vào trang website của chúng tôi có nghĩa là quý khách đồng ý với các điều
                khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản
                mua bán hàng hóa này, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà
                không cần thông báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau khi các thay đổi về Điều
                khoản này được đăng tải, có nghĩa là quý khách chấp nhận với những thay đổi đó.
            </p>
            <p>
                Quý khách hàng vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.<br /><br /><strong
                    >2. Hướng dẫn sử dụng website</strong
                >
            </p>
            <p>
                Khi vào web của chúng tôi, khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ
                hay người giám hộ hợp pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua
                bán hàng hóa theo quy định hiện hành của pháp luật Việt Nam.
            </p>
            <p>
                Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng cáo từ website. Nếu không muốn tiếp tục
                nhận mail, quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.
            </p>
            <p>&nbsp;</p>
            <p><strong>3. Thanh toán an toàn và tiện lợi</strong></p>
            <p>
                Người mua có thể tham khảo các phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù hợp:
            </p>
            <p>
                <strong>Cách 1</strong>: Thanh toán qua cổng thanh toán PAYPAL<br /><strong
                    >Cách 2</strong
                ><strong>:</strong>&nbsp;Thanh toán sau (COD – giao hàng và thu tiền tận nơi)<br />&nbsp;
            </p>
        </div>
    </div>
</section>
