<div class="product slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true"
     tabindex="-1" style="width: 263px;">

        <div class="product-img">
            <img class="image-thumnail"
                 onerror="this.onerror=null; this.src='assets/image/default/product_default.png'"
                 src="{{this.fileService.viewImageByOwnerIdAndOwnerType(productItem?.id, TYPE_PRODUCT)}}"
            >
            <div class="product-label">
                <span *ngIf="!!this.productItem?.maxDiscount" class="sale">-{{this.productItem?.maxDiscount}}%</span>
                <span *ngIf="checkIsNewProduct(productItem?.createDate)" class="new">NEW</span>
            </div>
        </div>
        <div class="product-body" style="height: 250px;">
            <p class="product-category">
                {{productItem.categoryName}}
            </p>
            <h3 class="product-name">
                <a [routerLink]="['/product/'+ productItem.id]">
                    {{productItem.productName}}
                </a>
            </h3>
            <h4 class="product-price">{{productItem.minPrice * (100 - productItem.maxDiscount) / 100 | currency: "VND": "symbol"}}
                VNĐ
                <del *ngIf="productItem.discount > 0" class="product-old-price">{{productItem.price}} VNĐ</del>
            </h4>
            <nz-rate [ngModel]="productItem.ratingPoint || 5" nzDisabled></nz-rate>

            <div class="product-btns">
                <button (click)="this.likeProduct(this.productItem)"
                        class="add-to-wishlist" tabindex="-1"><i class="fas fa-heart-o"></i><span
                        class="tooltipp">{{'productItem.wishList'| translate}}</span></button>
                <button
                        (click)="addToCompare(this.productItem)"
                        class="add-to-compare" tabindex="-1">
                    <i class="fas fa-exchange-alt " [ngClass]="this.checkIsCompare()? 'active': '' ">

                    </i><span
                        class="tooltipp">{{'productItem.compare'| translate}}</span></button>
                <a role="button" [href]="'/product/'+ productItem.id"
                   nz-tooltip="{{'productItem.qickview'| translate}}"
                   class="quick-view"><i
                        class="fas fa-eye"
                ></i></a>
            </div>

        </div>
    <div class="add-to-cart">
        <button class="add-to-cart-btn" (click)="this.goToDetail(productItem.id)"><i class="fas fa-eye"></i> add
          Xem chi tiết
        </button>
    </div>
</div>
