<!--<nz-result-->
<!--        nzStatus="success"-->
<!--        nzTitle="Successfully Purchased Cloud Server ECS!"-->
<!--        nzSubTitle="Order number: 2017182818828182881 Cloud server configuration takes 1-5 minutes, please wait."-->
<!--&gt;-->
<!--    <div nz-result-extra>-->
<!--        <button nz-button nzType="primary">Go Console</button>-->
<!--        <button nz-button>Buy Again</button>-->
<!--    </div>-->
<!--</nz-result>-->
<!--<nz-result nzStatus="404" nzTitle="404" nzSubTitle="Sorry, the page you visited does not exist.">-->
<!--    <div nz-result-extra>-->
<!--        <button nz-button nzType="primary">{{'common.action.backtohome'|translate}}</button>-->
<!--    </div>-->
<!--</nz-result>-->
