<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img nz-image
                             nzSrc="{{this.fileService.viewImageByOwnerIdAndOwnerType(this.productId, TYPE_PRODUCT) }}"
                             alt=""
                             [nzFallback]="FALLBACK"
                        />
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2 col-md-pull-5">
                <div id="product-imgs">
                    <nz-image-group>
                        <ng-container *ngFor="let item of this.dataOfProductDetail?.files">
                            <div class="product-preview">
                                <img
                                        nz-image
                                        class="img-item"
                                        nzSrc="data:{{item?.fileType}};base64,{{item?.file}}"
                                        [nzFallback]="FALLBACK"
                                        alt=""
                                />
                            </div>
                        </ng-container>
                    </nz-image-group>
                </div>
                <div *ngIf="this.dataOfProductDetail.files?.length <1 ">
                    <div class="product-preview">
                        <img src="assets/image/p/product01.png" alt=""/>
                    </div>

                    <div class="product-preview">
                        <img src="assets/image/p/product02.png" alt=""/>
                    </div>
                    <div class="product-preview">
                        <img src="assets/image/p/product03.png" alt=""/>
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{ dataOfProductDetail?.productName }}</h2>
                    <div>
                        <nz-rate [ngModel]="4.5" nzDisabled></nz-rate>
                        <a class="review-link"
                        >{{this.ratingNumber}} {{ "productDetail.review" | translate }}(s) |
                            {{ "productDetail.addReview" | translate }}</a
                        >
                    </div>
                    <div>
                        <h3 class="product-price">
                            {{ (this.optionSelected?.price! - (this.optionSelected?.price! *
                                this.optionSelected?.discount) / 100) |currency: "VND": "symbol"}}
                            <del class="product-old-price">{{ this.optionSelected?.price | currency: "VND": "symbol"}}
                            </del>
                        </h3>
                        <span class="product-available">{{ "productDetail.inStock" | translate }}</span>
                    </div>
                    <div class="product-options">
                        <label>
                            {{ "productDetail.size" | translate }}
                        </label>
                        <nz-form-control>
                            <nz-select
                                    class="option-product"
                                    [(ngModel)]="optionSelected"
                                    (ngModelChange)="changeOptionProduct($event)"
                            >
                                <nz-option
                                        *ngFor="let item of dataOfProductDetail?.optionProducts"
                                        nzLabel="{{ item.name }}"
                                        [nzValue]="item"
                                ></nz-option>
                            </nz-select>

                        </nz-form-control>
                    </div>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            {{ "productDetail.qty" | translate }}
                            <div class="input-number">
                                 <input
                                        type="number"
                                        class="input-number"
                                        [(ngModel)]="dataOfProductDetail.quantity"
                                        numberFormatter
                                        [maxValue]="100"
                                 >
                            </div>
                        </div>
                        <button (click)="onAddToCart(dataOfProductDetail)" class="add-to-cart-btn">
                            <i class="bi bi-cart3"></i> {{ "productItem.addToCart" | translate }}
                        </button>
                    </div>

                    <ul class="product-btns">
                        <li>
                            <a (click)="onAddFavorite(dataOfProductDetail)"
                            ><i nz-icon nzType="heart" nzTheme="outline"></i>{{ "productDetail.addToWishlist" | translate }}</a
                            >
                        </li>
                        <li>
                            <a (click)="addToCompare(dataOfProductDetail)"
                            ><i class="fas fa-exchange-alt"></i> {{ "productDetail.addToCompare" | translate }}</a
                            >
                        </li>
                    </ul>

                    <ul class="product-links">
                        <li>{{ "productManagement.category" | translate }}:</li>
                        <li>
                            <a>{{ dataOfProductDetail?.categoryName }}</a>
                        </li>
                    </ul>

                    <div class="row">
                        <div class="col-3">{{ "common.share" | translate }}:</div>
                        <div class="col">
                            <qrcode [qrdata]="this.getQrCode()" [size]="256" [level]="'M'"></qrcode>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="tab" [ngClass]="currentTab === this.tabIndex.description ? 'active' : 'tab'">
                            <a (click)="onTabChange(this.tabIndex.description)" data-toggle="tab">{{
                                "productManagement.createProduct.description" | translate
                                }}</a>
                        </li>
                        <li [ngClass]="currentTab === this.tabIndex.details ? 'active' : 'tab'">
                            <a (click)="onTabChange(this.tabIndex.details)" data-toggle="tab">{{
                                "common.action.detail" | translate
                                }}</a>
                        </li>
                        <li [ngClass]="currentTab === this.tabIndex.review ? 'active' : 'tab'">
                            <a (click)="onTabChange(this.tabIndex.review)" data-toggle="tab"
                            >{{ "productDetail.reviewers" | translate }} ({{this.ratingNumber}})</a>
                        </li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div [ngClass]="currentTab == 0 ? 'active' : ''" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12 p-description" [innerHTML]="this.dataOfProductDetail?.description">

                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab2  -->
                        <div [ngClass]="currentTab == 1 ? 'active' : ''" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Thông tin chi tiết sản phẩm</h4>
                                    <table class="table">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        <tr  *ngFor="let item of listAttribute; index as i">
                                            <td>{{item?.attributeName}}</td>
                                            <td>{{item.value}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                        <!-- tab3  -->
                        <div [ngClass]="currentTab == 2 ? 'active' : ''" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <div class="product-rating">
                                                <span>4.5</span>
                                            </div>
                                            <div class="rating-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-o"></i>
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 80%"></div>
                                                </div>
                                                <span class="sum">3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 60%"></div>
                                                </div>
                                                <span class="sum">2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-o"></i>
                                                    <i class="fas fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-o"></i>
                                                    <i class="fas fa-star-o"></i>
                                                    <i class="fas fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-o"></i>
                                                    <i class="fas fa-star-o"></i>
                                                    <i class="fas fa-star-o"></i>
                                                    <i class="fas fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div></div>
                                                </div>
                                                <span class="sum">0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            <li *ngFor="let rate of ratting">
                                                <div class="review-heading">
                                                    <h5 class="name">{{ rate?.userRating }}</h5>
                                                    <p class="date">{{ rate?.createDate }}</p>
                                                    <div class="review-rating">
                                                        <ngb-rating [max]="5" [readonly]="true"
                                                                    [(rate)]="rate.point"></ngb-rating>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>
                                                        {{ rate.rateContent }}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a>2</a></li>
                                            <li><a>3</a></li>
                                            <li><a>4</a></li>
                                            <li>
                                                <a><i class="fas fa-angle-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->

                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form" *ngIf="checkedLogin">
                                            <input class="input" type="text"
                                                   placeholder="{{'register.placeholder.fullName' | translate}}"/>
                                            <input class="input" type="email"
                                                   placeholder="{{'register.placeholder.email' | translate}}"/>
                                            <textarea class="input"
                                                      placeholder="{{'register.placeholder.yourReview' | translate}}"></textarea>
                                            <div class="input-rating">
                                                <span>{{'productDetail.yourRatting' | translate}}: </span>
                                                <div class="stars">
                                                    <input id="star5" name="rating" value="5" type="radio"/><label
                                                        for="star5"
                                                ></label>
                                                    <input id="star4" name="rating" value="4" type="radio"/><label
                                                        for="star4"
                                                ></label>
                                                    <input id="star3" name="rating" value="3" type="radio"/><label
                                                        for="star3"
                                                ></label>
                                                    <input id="star2" name="rating" value="2" type="radio"/><label
                                                        for="star2"
                                                ></label>
                                                    <input id="star1" name="rating" value="1" type="radio"/><label
                                                        for="star1"
                                                ></label>
                                                </div>
                                            </div>
                                            <button class="primary-btn">{{'common.action.submit' | translate}}</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <!-- container -->
    <div *ngIf="!!this.sameProducts" class="">
        <!-- row -->
        <app-item-slick [listProducts]="sameProducts"></app-item-slick>
    </div>
    <!-- /container -->
</div>
<!-- Section -->
<!-- /Section -->
