ngb-rating {
  font-size: 25px;
  color:#D10024;
}
.input-select {
  padding: 0px 15px;
  background: #FFF;
  border: 1px solid #E4E7ED;
  height: 30px;
}

nz-select {
  margin-left: 10px;
  width: 120px;
}

.option-product {
  width: 200px;
}
::ng-deep .image img{
  width: 1000px;
}
.p-description{
  text-align: center;
}
