<section>
    <div class="row justify-content-center mt-md-5">
        <div class="col-md-4 inner-content ml-md-2">
            <div class="row justify-content-center mt-md-2">
                <div class="col-md-12"><h4 class="text-center">{{'forgot.password' | translate}}!</h4></div> 
                <div class="col-md-9">
                    <p>{{'forgot.content' | translate}}</p>
                </div>
            </div>
            <form>
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="form-group mt-md-2">
                            <input
                                type="email"
                                class="form-control form-control-user"
                                id="exampleInputEmail"
                                placeholder="{{ 'register.placeholder.email' | translate }}"
                                formControlName="email"
                            />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.validateForm.get('email').invalid &&
                                    (this.validateForm.get('email').dirty || this.validateForm.get('email').touched)
                                "
                            >
                                <small *ngIf="this.validateForm.getError('required', 'email')"
                                    >*{{ "register.message.error.email" | translate }}</small
                                >
                                <small *ngIf="this.validateForm.getError('email', 'email')"
                                    >*{{ "register.message.error.emailFormat" | translate }}</small
                                >
                            </span>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <re-captcha
                            (resolved)="resolved($event)"
                            siteKey="6LfUn8EcAAAAAMMkLf9i_Bi1aSBFnkUZgi9qM-a6"
                        ></re-captcha>

                        <span
                            class="text-danger"
                            *ngIf="
                                this.validateForm.get('captcha').invalid &&
                                (this.validateForm.get('captcha').dirty || this.validateForm.get('captcha').touched)
                            "
                        >
                            <small *ngIf="this.validateForm.getError('required', 'captcha')"
                                >*{{ "register.message.error.capcha" | translate }}?</small
                            >
                        </span>
                    </div>
                </div>
                <div class="row justify-content-center mb-md-3" style="margin-top: 20px">
                    <div class="col-md-8">
                        <button nz-button nzType="primary" nzBlock="70px">{{'forgot.getPassword' | translate}}</button>
                    </div>
                    <br />
                    <a nz-button nzType="link">{{'forgot.backLogin' | translate}}</a>
                    <br />
                </div>
            </form>
        </div>
    </div>
</section>
