::ng-deep.ck.ck-toolbar.ck-toolbar_grouping {
  padding: 5px 0 0 0 !important;
  border-radius: 5px 5px 0 0 !important;
  border: 1px solid #d9d9d9 !important;
}

::ng-deep.ck.ck-editor__main>.ck-editor__editable {
  background: var(--ck-color-base-background);
  border-radius: 0 0 5px 5px !important;
  min-height: 150px !important;
  max-height: 300px !important;
  border: 1px solid #d9d9d9 !important;
}
