.btn-apply {
  height: 30px;
  width: 100px;
  background: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  position: relative;
  //   top: -10px;
}

.btn-rate {

  height: 40px;
  width: 100px;
  background-color: #D10024;
  color: #FFF;
  font-weight: 700;
  border: solid 1px #ffffff;
  //border-radius: 20px;
  position: relative;
  //   top: -10px;
}

.btn-reby {
  background: #FFF;
  color: #D10024;
  border: solid 2px #D10024;
  height: 40px;
}

.order-card {
  border-radius: 10px;
  padding: 10px;
  box-shadow: #adadad 0px 0px 10px, #faf8f8 0px 0px 10px;
}

.sub-content {
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  vertical-align: center;

}

.order-header {
  margin: 0;
  padding: 0;
}

.order-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-image: url("https://cf.shopee.vn/file/be0361341fc9850aadd957bb1c029d13_tn");
  background-size: cover;
}

.order-bottom {
}

.success {
  color: #26aa99;
}
.discount{
  text-decoration-line: line-through;
  margin: 0 4px 0 0;
  opacity: 0.76;
  overflow: hidden;
  text-overflow: ellipsis;
  color: red;
}
.order-content{
  border-bottom: solid 1px #e0e0e0;
}
.order-content:hover{
  background-color: rgba(171, 171, 171, 0.2);
}
.image-thumnail{
  border-radius: 20px;
}
.sub-content{
  line-height: 26px;
}
