<div class="mt-2 mb-2 order-card" xmlns:https="http://www.w3.org/1999/xhtml">
    <div  class="order-content d-flex" *ngFor="let item of order?.items"
          (click)="gotoDetail(this.order.id)">
        <div class="order-header col-1">
            <img
                class="image-thumnail"
                onerror="this.onerror=null; this.src='assets/image/default/product_default.png'"
                src="{{ this.fileService.viewImageByOwnerIdAndOwnerType(item?.productId, TYPE_PRODUCT) }}"
                style="width:90px; height: 78px; margin-bottom: 5px;"
            />
        </div>
        <div class="col-6">
            <p>
                <b>{{ item?.productName }}</b>
            </p>
            <p *ngIf="item?.optionName">
                {{ "orderDetail.type" | translate }}: <span>{{ item?.optionName }}</span>
            </p>
            <p>
                {{ "cart.quantity" | translate }}: <span>x{{ item?.quantity ? item?.quantity : 0 }}</span>
            </p>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="d-flex">
                <span class="discount">{{
                    item.productPrice! - (item?.productPrice! * item?.discount!) / 100 | currency: "VND":"symbol"
                }}</span>
                <span>{{ item.productPrice | currency: "VND":"symbol" }}</span>
            </div>
        </div>
    </div>
    <div class="order-bottom mt-1">
        <div class="row">
            <div class="col-6 sub-content">
                <span *ngIf="this.order.orderStatus == CREATE" class="sub-content success">
                    <b>{{ "order.prossessing" | translate }}</b>
                </span>
                <span *ngIf="this.order.orderStatus == WAITING_FOR_CONFIRM" class="sub-content success">
                    <b>{{ "order.waitingConfirm" | translate }}</b>
                </span>
                <span *ngIf="this.order.orderStatus == WAITING_FOR_PAYMENT" class="sub-content success">
                    <b>{{ "order.waitingForPayment" | translate }}</b>
                </span>
                <span *ngIf="this.order.orderStatus == CONFIRMED" class="sub-content success">
                    <b>{{ "order.confirmed" | translate }}</b>
                </span>
                <span *ngIf="this.order.orderStatus == SHIPPING" class="sub-content success">
                    <b>{{ "order.waitingConfirm" | translate }}</b>
                </span>
                <span *ngIf="this.order.orderStatus == PAID" class="sub-content success">
                    <b>{{ "order.paid" | translate }}</b>
                </span>
                <br/>
                <span class="sub-content success">
                    <b>{{ "orderDetail.totalItem" | translate }} : {{ this.totalMoney | currency: "VND": "symbol" }}</b>
                </span>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <ng-container *ngIf="this.order.orderStatus == this.SUCCESS">
                    <button class="btn btn-rate mr-2">{{ "orderDetail.ratting" | translate }}</button>
                    <button class="btn btn-reby">{{ "orderDetail.repurchase" | translate }}</button>
                </ng-container>
                <button
                        type="button"
                        (click)="payment()"
                        class="btn btn-reby"
                        *ngIf="order.orderStatus == WAITING_FOR_PAYMENT">{{ "Thanh toán" | translate }}</button>
            </div>
        </div>
    </div>
</div>

