<section class="inner-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-md-5">
                <h4 class="text-center">Thông Tin Chi Tiết Đơn Hàng</h4>
            </div>
        </div>
        <div class="row mt-md-2 justify-content-between">
            <div class="col-md-3 mt-md-5">
                <div class="card" >
                    <div class="card-header">
                        <i nz-icon nzType="shopping-cart" nzTheme="outline"></i> Chi tiết đơn hàng
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateCart"
                                ><span class="text-capitalize"
                                    >Website bán hãng thiết bị gaming gear Ducky VN</span
                                ></nz-input-group
                            >
                            <ng-template #prefixTemplateCart
                                ><i nz-icon nzType="shopping-cart" nzTheme="outline"></i
                            ></ng-template>
                        </li>
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateCalendar">
                                <span>{{ this.inforUserOrder?.createDate }}</span>
                            </nz-input-group>
                            <ng-template #prefixTemplateCalendar
                                ><i nz-icon nzType="calendar" nzTheme="outline"></i
                            ></ng-template>
                        </li>
                        <li class="list-group-item" *ngIf="this.inforUserOrder?.paymentMethod">
                            <nz-input-group [nzPrefix]="prefixTemplateCredit">
                                <span>{{ this.inforUserOrder?.paymentMethod }}</span>
                            </nz-input-group>
                            <ng-template #prefixTemplateCredit
                                ><i nz-icon nzType="credit-card" nzTheme="outline"></i
                            ></ng-template>
                        </li>
                        <!-- <li class="list-group-item">
                                <nz-input-group [nzPrefix]="prefixTemplateDelivery">
                                    <input type="text" nz-input />
                                </nz-input-group>
                                <ng-template #prefixTemplateDelivery><i class="bi bi-truck"></i></ng-template>
                            </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mt-md-5">
                <div class="card" >
                    <div class="card-header"><i nz-icon nzType="user"></i> Chi tiết khách hàng</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateUser">
                                <span> {{ this.inforUserOrder?.receiver }}</span>
                            </nz-input-group>
                            <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
                        </li>
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateMail">
                                <span> {{ this.inforUserOrder?.address }}</span>
                            </nz-input-group>
                            <ng-template #prefixTemplateMail
                                ><i nz-icon nzType="global" nzTheme="outline"></i
                            ></ng-template>
                        </li>
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplatePhone">
                                <span> {{ this.inforUserOrder?.phoneNumber }}</span>
                            </nz-input-group>
                            <ng-template #prefixTemplatePhone
                                ><i nz-icon nzType="phone" nzTheme="outline"></i
                            ></ng-template>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mt-md-5">
                <div class="card">
                    <div class="card-header">
                        <i nz-icon nzType="field-time" nzTheme="outline"></i> Tình trạng vận chuyển
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateUser">
                                <span> Unknown</span>
                            </nz-input-group>
                            <ng-template #prefixTemplateUser><i nz-icon nzType="exclamation"></i></ng-template>
                        </li>
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateMail"> <span> Unknown</span> </nz-input-group>
                            <ng-template #prefixTemplateMail
                                ><i nz-icon nzType="check" nzTheme="outline"></i
                            ></ng-template>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mt-md-5">
                <div class="card" >
                    <div class="card-header"><i nz-icon nzType="setting" nzTheme="outline"></i> Tùy chọn</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <nz-form-label>Trạng thái đơn hàng</nz-form-label>
                            <strong>{{ this.statusString(this.orderStatusShow) }}</strong>
                            <br />
                            <div *ngIf="this.orderStatusShow == WAIT_FOR_CONFIRM">
                                <button class="w-100" (click)="onChangeOrderStatus(CONFIRMED)" nz-button nzType="primary">
                                    Xác nhận đơn hàng
                                </button>
                                <button  (click)="onChangeOrderStatus(CANCELED)" nz-button class="btn btn-danger w-100 mt-2 ">
                                    Hủy đơn hàng
                                </button>
                            </div>
                            <div *ngIf="this.orderStatusShow == WAITING_FOR_PAYMENT">
                                <button (click)="onChangeOrderStatus(CONFIRMED)" nz-button nzType="primary">
                                    Xác nhận đơn hàng
                                </button>
                                 <button (click)="onChangeOrderStatus(CANCELED)" nz-button class="btn btn-danger ml-md-3">
                                    Hủy đơn hàng
                                </button>
                            </div>
                            <div *ngIf="this.orderStatusShow == CONFIRMED">
                                <button (click)="onChangeOrderStatus(SHIPPING)" nz-button nzType="primary">
                                    Giao cho đơn vị vận chuyển
                                </button>
                            </div>
                            <div *ngIf="this.orderStatusShow == SHIPPING">
                                <button (click)="onChangeOrderStatus(SUCCESS)" nz-button nzType="primary">
                                    Thanh toán thành công
                                </button>
                            </div>
                        </li>
                        <!-- <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateUser">
                                <input type="text" nz-input placeholder="Enter your username" />
                            </nz-input-group>
                            <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
                        </li>
                        <li class="list-group-item">
                            <nz-input-group [nzPrefix]="prefixTemplateUser">
                                <input type="text" nz-input placeholder="Enter your username" />
                            </nz-input-group>
                            <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="card">
                <div class="card-header"><i nz-icon nzType="info-circle" nzTheme="fill"></i> Chi tiết đặt hàng</div>
                <table class="table table-bordered mt-md-3">
                    <thead>
                        <th>Địa chỉ thanh toán</th>
                        <th>Địa chỉ giao hàng</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span> {{ this.inforUserOrder?.address }}</span>
                            </td>
                            <td>
                                <span> {{ this.inforUserOrder?.address }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered mt-md-3">
                    <thead>
                        <th>Sản phẩm</th>
                        <th>Mẫu sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn Giá</th>
                        <th>Tổng</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of inforUserOrder?.orderDetails">
                            <td>{{ order.productName }}</td>
                            <td>{{order.optionName}}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.productPrice | currency: "VND":"symbol" }}</td>
                            <td>{{ order.productPrice * order.quantity | currency: "VND":"symbol" }}</td>
                        </tr>
                        <!-- <tr>
                            <td colspan="4" style="text-align: end">Sub-total</td>
                            <td>644đ</td>
                        </tr> -->
                        <tr>
                            <td colspan="4" style="text-align: end">Tổng số tiền</td>
                            <td>{{ this.intoMoneyData | currency: "VND":"symbol" }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered mt-md-3">
                    <thead>
                        <th>Ghi chú</th>
                    </thead>
                    <tbody>
                        <tr >
                            <td>
                                <span>{{ this.inforUserOrder?.note }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
