[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
//.ng-invalid {
//  border: red;
//}
.bg-register-image-custom{
  background-image: url('../../../assets/image/duckyLogin_600x800.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}
