
<div class="container pt-5">

    <div class="card o-hidden border-0 shadow-lg ">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image-custom">
<!--                    <img src="assets/image/duckyLogin_600x800.jpg" class="bg-register-image-custom">-->
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">{{'register.createAccount' | translate}}!</h1>
                        </div>
                        <form class="user" [formGroup]="this.validateForm" (ngSubmit)="submitForm()">
                            <div class="form-group row">
<!--                                <div class="col-sm-6 mb-3 mb-sm-0">-->
                                <div class="col">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                           placeholder="{{ 'register.placeholder.fullName' | translate }}"
                                            formControlName="fullName">
                                    <span class="text-danger" *ngIf="this.validateForm.get('fullName').invalid && (this.validateForm.get('fullName').dirty || this.validateForm.get('fullName').touched)">
                                        <small *ngIf="this.validateForm.getError('required','fullName')">*{{'register.message.error.fullName' | translate}}</small>
                                    </span>
                                </div>
                                <!--                                <div class="col-sm-6">-->
                                <!--                                    <input type="text" class="form-control form-control-user" id="exampleLastName"-->
                                <!--                                           placeholder="Last Name">-->
                                <!--                                </div>-->
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="{{ 'register.placeholder.email' | translate }}"
                                       formControlName="email">
                                <span class="text-danger" *ngIf="this.validateForm.get('email').invalid && (this.validateForm.get('email').dirty || this.validateForm.get('email').touched)">

                                        <small *ngIf="this.validateForm.getError('required','email')">*{{'register.message.error.email' | translate}}</small>
                                        <small *ngIf="this.validateForm.getError('email','email')">*{{'register.message.error.emailFormat' | translate}}</small>
                                    </span>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user"
                                       placeholder="{{ 'register.placeholder.phoneNumber' | translate }}"
                                       formControlName="phoneNumber">
                                <span class="text-danger" *ngIf="this.validateForm.get('phoneNumber').invalid && (this.validateForm.get('phoneNumber').dirty || this.validateForm.get('phoneNumber').touched)">

                                        <small *ngIf="this.validateForm.getError('required','phoneNumber')">*{{'register.message.error.phoneNumber' | translate}}</small>
                                        <small *ngIf="this.validateForm.getError('pattern','phoneNumber')">*{{'register.message.error.phoneNumberFormat' | translate}}</small>
                                    </span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="{{ 'register.placeholder.password' | translate }}"
                                           formControlName="passwordHash">
                                    <span class="text-danger" *ngIf="this.validateForm.get('passwordHash').invalid && (this.validateForm.get('passwordHash').dirty || this.validateForm.get('passwordHash').touched)">

                                        <small *ngIf="this.validateForm.getError('required','passwordHash')">*{{'register.message.error.password' | translate}}</small>
                                    </span>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleRepeatPassword" placeholder="{{ 'register.placeholder.passwordRepeat' | translate }}"
                                           formControlName="checkPassword">
                                    <span class="text-danger" *ngIf="this.validateForm.get('checkPassword').invalid && (this.validateForm.get('checkPassword').dirty || this.validateForm.get('checkPassword').touched)">

                                        <small *ngIf="this.validateForm.getError('required','checkPassword')">*{{'register.message.error.passwordRepeat' | translate}}</small>
                                        <small *ngIf="this.validateForm.getError('confirm', 'checkPassword')">*{{'register.message.error.passwordInvalid' | translate}}</small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
<!--                                <div class="col">-->
<!--                                    <label nz-checkbox formControlName="agree">-->
<!--                                                <span>-->
<!--                                                  I have read the-->
<!--                                                  <a>agreement</a>-->
<!--                                                </span>-->
<!--                                    </label>-->

<!--                                </div>-->
                                <div class="col">
                                    <re-captcha
                                            (resolved)="resolved($event)"
                                            siteKey="6LfUn8EcAAAAAMMkLf9i_Bi1aSBFnkUZgi9qM-a6"
                                    ></re-captcha>

                                    <span class="text-danger" *ngIf="this.validateForm.get('captcha').invalid && (this.validateForm.get('captcha').dirty || this.validateForm.get('captcha').touched)">
                                        <small *ngIf="this.validateForm.getError('required','captcha')">*{{'register.message.error.capcha' | translate}}?</small>
                                    </span>
                                </div>

                            </div>
                            <button role="button" type="submit" class="btn btn-primary btn-user btn-block">
                                {{'register.registration' | translate}}
                            </button>
<!--                            {{-->
<!--                            this.validateForm.get("checkPassword").errors| json-->
<!--                            }}-->
                            <hr>
<!--                            <a href="index.html" class="btn btn-google btn-user btn-block">-->
<!--                                <i class="fab fa-google fa-fw"></i> Register with Google-->
<!--                            </a>-->
<!--                            <a href="index.html" class="btn btn-facebook btn-user btn-block">-->
<!--                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook-->
<!--                            </a>-->
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">{{'auth.forgotPassWord' | translate}}?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="/login">{{'auth.haveAccount' | translate}}? {{'auth.signIn' | translate}}!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
