<section>
    <div class="row justify-content-center mt-md-2">
        <div class="col-md-12">
            <h4 class="text-center">{{ "changePassword.title" | translate }}!</h4>
        </div>
    </div>
    <form [formGroup]="this.validateForm">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="form-group mt-md-2">
                    <input
                        type="password"
                        class="form-control form-control-user"
                        placeholder="{{ 'register.placeholder.password' | translate }}"
                        formControlName="password"
                    />
                    <!-- <span
                                class="text-danger"
                                *ngIf="
                                    this.validateForm.get('password').invalid &&
                                    (this.validateForm.get('password').dirty ||
                                        this.validateForm.get('password').touched)
                                "
                            >
                                <small *ngIf="this.validateForm.getError('required', 'password')"
                                    >*{{ "register.message.error.password" | translate }}</small
                                >
                                <small *ngIf="this.validateForm.getError('password', 'password')"
                                    >*{{ "register.message.error.passwordFormat" | translate }}</small
                                >
                            </span> -->
                </div>
                <div class="form-group mt-md-2">
                    <input
                        type="password"
                        class="form-control form-control-user"
                        placeholder="{{ 'changePassword.placeholder.newPassword' | translate }}"
                        formControlName="newPassword"
                    />
                    <!-- <span
                                class="text-danger"
                                *ngIf="
                                    this.validateForm.get('newPassword').invalid &&
                                    (this.validateForm.get('newPassword').dirty ||
                                        this.validateForm.get('newPassword').touched)
                                "
                            >
                                <small *ngIf="this.validateForm.getError('required', 'newPassword')"
                                    >*{{ "register.message.error.newPassword" | translate }}</small
                                >
                                <small *ngIf="this.validateForm.getError('newPassword', 'newPassword')"
                                    >*{{ "register.message.error.newPasswordFormat" | translate }}</small
                                >
                            </span> -->
                </div>
                <div class="form-group mt-md-2">
                    <input
                        type="password"
                        class="form-control form-control-user"
                        placeholder="{{ 'changePassword.placeholder.repeatNewPassword' | translate }}"
                        formControlName="repeatNewPassword"
                    />
                    <!-- <span
                                class="text-danger"
                                *ngIf="
                                    this.validateForm.get('repeatNewPassword').invalid &&
                                    (this.validateForm.get('repeatNewPassword').dirty ||
                                        this.validateForm.get('repeatNewPassword').touched)
                                "
                            >
                                <small *ngIf="this.validateForm.getError('required', 'repeatNewPassword')"
                                    >*{{ "register.message.error.repeatNewPassword" | translate }}</small
                                >
                                <small *ngIf="this.validateForm.getError('repeatNewPassword', 'repeatNewPassword')"
                                    >*{{ "register.message.error.repeatNewPasswordFormat" | translate }}</small
                                >
                            </span> -->
                </div>
                <div class="form-group mt-md-2">
                    <re-captcha
                        (resolved)="resolved($event)"
                        siteKey="6LfUn8EcAAAAAMMkLf9i_Bi1aSBFnkUZgi9qM-a6"
                    ></re-captcha>

                    <!-- <span
                            class="text-danger"
                            *ngIf="
                                this.validateForm.get('captcha').invalid &&
                                (this.validateForm.get('captcha').dirty || this.validateForm.get('captcha').touched)
                            "
                        >
                            <small *ngIf="this.validateForm.getError('required', 'captcha')"
                                >*{{ "register.message.error.capcha" | translate }}?</small
                            >
                        </span> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-md-3" style="margin-top: 10px">
            <div class="col-md-5">
                <button class="btn-change" style="background-color: #d10024" (click)="onSubmitChangePassword()">
                    {{ "changePassword.change" | translate }}
                </button>
            </div>
        </div>
    </form>
</section>
