<section class="inner-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10\2 mt-4">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-3">
                                <form
                                    class="
                                        d-none d-sm-inline-block
                                        form-inline
                                        mr-auto
                                        ml-md-3
                                        my-2 my-md-0
                                        mw-100
                                        navbar-search
                                    "
                                >
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-1 small"
                                            placeholder="{{ 'customer.manage.search' | translate }}..."
                                            aria-label="Search"
                                            appKeyupDelay
                                            aria-describedby="basic-addon2"
                                            [(ngModel)]="searchValue"
                                            (keyup.enter)="this.onFilter(keyword?.value)"
                                            name="searchValue"
                                            #keyword
                                        />
                                        <div class="input-group-append">
                                            <button
                                                class="btn btn-primary"
                                                type="button"
                                                (click)="this.onFilter(searchValue)"
                                            >
                                                <i class="bi bi-search bi-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group col-3">
                                <!--                                <button class="btn btn-info btn-circle" (click)="this.onNavCreate()">-->
                                <!--                                    <i class="bi bi-plus" style="font-size: 15px"></i>-->
                                <!--                                </button>-->
                                <button
                                    class="btn btn-info btn-circle ml-2"
                                    data-toggle="collapse"
                                    data-target="#collapseExample"
                                    aria-expanded="false"
                                    aria-controls="collapseExample"
                                >
                                    <i class="bi bi-funnel" style="font-size: 15px"></i>
                                </button>
                            </div>
                        </div>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <h5 class="text-center text-success">
                                            {{ "customer.manage.createDate" | translate }}
                                        </h5>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-center text-success">
                                            {{ "customer.manage.filterBy" | translate }}
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <span>{{ "customer.manage.from" | translate }}</span> <br />
                                        <nz-date-picker
                                            [(ngModel)]="from"
                                            (ngModelChange)="onChangeDatePicker($event)"
                                        ></nz-date-picker>
                                    </div>
                                    <div class="col-3">
                                        <span>{{ "customer.manage.toDate" | translate }}</span> <br />
                                        <nz-date-picker
                                            [(ngModel)]="toDate"
                                            (ngModelChange)="onChangeDatePicker($event)"
                                        ></nz-date-picker>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                value="1"
                                                id="statusActiveFilter"
                                                name="selectStatus"
                                                #active
                                                (change)="onOptionsSelected(active.value)"
                                            />
                                            <label class="form-check-label" for="statusActiveFilter">
                                                {{ "customer.manage.statusActive" | translate }}
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                value="-1"
                                                name="selectStatus"
                                                #block
                                                (change)="onOptionsSelected(block.value)"
                                            />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{ "customer.manage.statusBlocked" | translate }}
                                            </label>
                                        </div>
                                        <!-- <div class="form-check">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                value="0"
                                                name="selectStatus"
                                                #verify
                                                (change)="onOptionsSelected(verify.value)"
                                            />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{ "customer.manage.statusVerify" | translate }}
                                            </label>
                                        </div> -->
                                        <div class="form-check">
                                            <input
                                                class="form-check-input"
                                                type="radio"
                                                value=""
                                                name="selectStatus"
                                                #all
                                                (change)="onOptionsSelected(all.value)"
                                            />
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{ "customer.manage.statusAll" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <nz-table
                            #borderedTable
                            nzBordered
                            #rowSelectionTable
                            nzShowPagination="false"
                            nzShowSizeChanger
                            [nzData]="listOfData"
                            [nzPageSize]="sizePage"
                            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                        >
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>#</th>
                                    <th>{{ "customer.detail.fullName" | translate }}</th>
                                    <th>{{ "customer.detail.email" | translate }}</th>
                                    <th>{{ "customer.detail.phoneNumber" | translate }}</th>
                                    <th>{{ "customer.detail.rewardPoint" | translate }}</th>
                                    <th>{{ "customer.detail.gender" | translate }}</th>
                                    <th>{{ "customer.detail.status" | translate }}</th>
                                    <th>{{ "customer.manage.action" | translate }}</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let customer of rowSelectionTable?.data; index as i">
                                <tr>
                                    <td
                                        [nzChecked]="setOfCheckedId.has(customer.id)"
                                        (nzCheckedChange)="onItemChecked(customer.id, $event)"
                                    ></td>
                                    <td>{{ i }}</td>
                                    <td>{{ customer?.fullName ? customer.fullName : "-" }}</td>
                                    <td>{{ customer?.email ? customer.email : "-" }}</td>
                                    <td>{{ customer?.phoneNumber ? customer.phoneNumber : "-" }}</td>
                                    <td>
                                        {{ customer?.rewardPoint ? customer.rewardPoint : "-" }}
                                        <i class="bi bi-coin icon-yellow"></i>
                                    </td>
                                    <td>{{ this.onGenderCustomer(customer?.gender) }}</td>
                                    <td>{{ this.onStatusCustomer(customer?.status) }}</td>
                                    <td>
                                        <button
                                            nz-button
                                            nzType="default"
                                            nz-tooltip="{{ 'customer.detail.delete' | translate }}"
                                            nzDanger
                                            nzSize="default"
                                        >
                                            <i nz-icon nzType="delete"></i>
                                        </button>
                                        <button
                                            (click)="onCheckCustomerStatus(customer.id, customer.status)"
                                            nz-button
                                            nzType="default"
                                            nz-tooltip="{{ 'customer.detail.blocked' | translate }} & {{
                                                'customer.detail.active' | translate
                                            }}"
                                            nzSize="default"
                                        >
                                            <i nz-icon nzType="lock"></i>
                                        </button>
                                        <button
                                            [routerLink]="['/admin/customer/detail/' + customer.id]"
                                            nz-button
                                            nzType="default"
                                            nz-tooltip="{{ 'customer.detail.edit' | translate }}"
                                            nzSize="default"
                                        >
                                            <i nz-icon nzType="edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <div style="margin-left: 370px; margin-top: 20px;">
                            <nz-pagination
                                [nzPageIndex]="1"
                                [nzTotal]="sizePage"
                                (nzPageIndexChange)="pageChange($event)"
                                nzShowSizeChanger
                                [nzPageSize]="10"
                                (nzPageSizeChange)="pageSizeChange($event)"
                            ></nz-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
