.filter {
  background: #F4F5FA;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  height: 45px;


}

.item-filter button {
  color: #828286;

}

.item-filter {
  height: 100%;
  padding: 0;
}
.item-filter .btn{
  height: 100%;
}
.item-filter .active {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px 10px 0px 0px;
  background: #FFFFFF;

}
.active .amount{
  background-color: #f0f2f5;
  padding: 4px;
  border-radius: 100%;
}
.amount{
  background-color: white;
  padding: 4px;
  border-radius: 100%;
}
.item-filter.active button {
  color: #353538;
  font-weight: 500;
}

//::ng-deep
.filter-search {
  background: #fff;
  padding: 5px 16px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: relative;

}

.search-box {
  border-radius: 20px;
  padding-left: 30px;
}

.icon-search {
  position: absolute;
  top: 0px;
  left: 7px;
}

.icon-yellow{
  color: rgb(253, 253, 2);
  font-size: medium;
}
