<section class="inner-content">
    <div class="container-fluid" style="padding:0px 9px">
        <div class="row filter">
            <div class="item-filter"
            >
                <nz-tabset [nzCanDeactivate]="canDeactivate">
                    <nz-tab *ngFor="let tab of tabs" [nzTitle]=" tab">Content of tab {{ tab }}</nz-tab>
                </nz-tabset>
            </div>
        </div>
        <div class="row filter-search">
            <div class="col-3">
                <div style="width: 100%"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input  appKeyUptime
                                [(ngModel)]="this.querySearch.keyword"
                                [delayTime]="500"
                                (keyupDelay)="this.loadAll()"
                                type="text" class="form-control bg-light  small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                    type="button"
                                    (click)="this.loadAll()">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-2 ">
                <button class="btn btn-info btn-circle " [nz-tooltip]="'Thêm mới sản phẩm'"
                        (click)="this.onNavCreate()">
                    <i class="fas fa-plus" style="font-size: 15px"></i>

                </button>
            </div>
        </div>
<!--        <nz-table #sortTable [nzData]="listProduct" nzTableLayout="fixed">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th *ngFor="let item of listProduct"-->
<!--                    [nzSortFn]="item.productName" [nzSortPriority]="item.productName">-->
<!--                    Tên sản phẩm-->
<!--                </th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let data of sortTable.data">-->
<!--                <td>{{ data.name }}</td>-->
<!--                <td>{{ data.chinese }}</td>-->
<!--                <td>{{ data.math }}</td>-->
<!--                <td>{{ data.english }}</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </nz-table>-->
        <div class="row">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Giá sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Ngày tạo</th>
                    <th class="w100" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listProduct; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                                <img class="avatar avatar-md me-3" *ngIf="item?.id;else noneImg"
                                     src="{{this.fileService.viewImageByOwnerIdAndOwnerType(item?.id, TYPE_PRODUCT)}}"/>
                            </div>
                            <ng-template #noneImg>
                                <img src="{{this.fileService.viewImageByOwnerIdAndOwnerType(item?.id, TYPE_PRODUCT)}}"
                                     class="avatar avatar-sm me-3">
                            </ng-template>

                            <div class="d-flex flex-column justify-content-center">
                                <b role="button"
                                   [nz-tooltip]="item?.productName"
                                   class="mb-0 text-md">{{this.getLimitText(item.productName || 'noname')}}</b>
                                <small class="text-xs text-secondary mb-0">{{item.subCateName}}</small>
                            </div>
                        </div>
                    </td>
                    <td>{{item.categoryName}}</td>
                    <td>
                    <span>
                    {{item?.minPrice |currency: "VND": "symbol"}} - {{item?.maxPrice |currency: "VND": "symbol"}}
                    </span>
                    </td>
                    <td>{{item?.quantity}}</td>
                    <td>{{ (this.productStatus(item?.status) ? this.productStatus(item?.status)?.label : '')| translate}}</td>
                    <td>{{item?.createDate| date:'dd/MM/yyy'}}</td>
                    <td>
                        <button nz-button (click)="confirmDelete(item)" nzType="default" nz-tooltip="xóa" nzDanger
                                nzSize="default">
                            <i nz-icon
                               nzType="delete"></i>
                        </button>
                        <!--                        [routerLink]="['/user/bob']" [queryParams]="{debug: true}" fragment="education"-->
                        <button
                                [routerLink]="['/product/'+item.id]"
                                nz-button nzType="default" nz-tooltip="view"
                                nzSize="default"><i nz-icon
                                                    nzType="eye"></i>
                        </button>
                        <button [routerLink]="['/admin/product/update/'+ item.id]"
                                nz-button nzType="default"
                                nz-tooltip="cập nhật"
                                nzSize="default"><i nz-icon
                                                                                                     nzType="edit"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="box-center pb-4" >
                <nz-pagination [nzPageIndex]="1" [nzTotal]="totalItem" nzShowSizeChanger [nzPageSize]="10"
                               (nzPageSizeChange)="pageChange('size',$event)"
                               (nzPageIndexChange)="pageChange('page',$event)"></nz-pagination>
            </div>
        </div>
    </div>
</section>
