.address-size{
    width: 650px;
}
.order-submit:hover {
    background-color: #D10024;
}.order-submit{
  height: 40px;
 }
//.order-submit:disabled {
//    background-color: #D10024 !important;
//    color: #fff !important;
//}
.cart-content {
  height: 50vh ;
}
.img-product {
  border-radius: 10px;
}
.btn-apply {
  height: 30px;
  width: 100px;
  background: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  position: relative;
  //   top: -10px;
}

.btn-order {

  height: 40px;
  width: 100%;
  background-color: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  position: relative;
  //   top: -10px;
}

.btn-order:disabled {
  background: #FFF;
  color: #D10024;
  border: solid 2px #D10024;
}

.payment.active {
  width: 100%;
  background-color: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  //   top: -10px;
}


.payment {
  width: 100%;
  background-color: #ffffff;
  color: #D10024;
  border: solid 2px #D10024;
  font-weight: 700;
  border-radius: 10px;
}
