<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-7">
                <form [formGroup]="this.customerForm">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">{{ "checkout.billingAddress" | translate }}</h3>
                        </div>
                        <div class="form-group">
                            <input
                                class="input"
                                type="text"
                                formControlName="receiver"
                                placeholder="{{ 'checkout.placeholder.fullName' | translate }}"
                            />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.customerForm.get('receiver').invalid &&
                                    (this.customerForm.get('receiver').dirty ||
                                        this.customerForm.get('receiver').touched)
                                "
                            >
                                <small *ngIf="this.customerForm.getError('required', 'receiver')"
                                    >*{{ "home.profile.address.fullName" | translate }}</small
                                >
                            </span>
                        </div>
                        <div class="form-group">
                            <input
                                class="input"
                                type="email"
                                formControlName="email"
                                placeholder="{{ 'checkout.placeholder.email' | translate }}"
                            />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.customerForm.get('email').invalid &&
                                    (this.customerForm.get('email').dirty || this.customerForm.get('email').touched)
                                "
                            >
                                <small *ngIf="this.customerForm.getError('required', 'email')"
                                    >*{{ "auth.message.emailRequired" | translate }}</small
                                >
                            </span>
                        </div>
                        <div class="address-size">
                            <div class="form-group">
                                <input
                                    class="input"
                                    type="text"
                                    formControlName="address"
                                    placeholder="{{ 'checkout.placeholder.address' | translate }}"
                                    style="width: 92%"
                                />

                                <button
                                    nz-button
                                    nzType="text"
                                    class="ml-md-2"
                                    style="color: #d10024"
                                    (click)="showModal()"
                                    (nzOnCancel)="handleCancel()"
                                >
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <span
                                    class="text-danger"
                                    *ngIf="
                                        this.customerForm.get('address').invalid &&
                                        (this.customerForm.get('address').dirty ||
                                            this.customerForm.get('address').touched)
                                    "
                                >
                                    <small *ngIf="this.customerForm.getError('required', 'address')"
                                        >*{{ "home.profile.address.errorAddressDetail" | translate }}</small
                                    >
                                </span>
                            </div>
                        </div>
<!--                        <div class="row">-->
<!--                            <div class="col-md-4">-->
<!--                                <nz-form-item>-->
<!--                                    <nz-form-control>-->
<!--                                        &lt;!&ndash; Chọn theo Tỉnh/thành phố &ndash;&gt;-->
<!--                                        <nz-select-->
<!--                                            nzShowSearch-->
<!--                                            nzPlaceHolder="{{ 'home.profile.address.province' | translate }}..."-->
<!--                                            formControlName="province"-->
<!--                                        >-->
<!--                                            &lt;!&ndash; <nz-option-->
<!--                                    *ngFor="let item of listOfProvincesGlobal"-->
<!--                                    nzLabel="{{ item.name }}"-->
<!--                                    [nzValue]="item.code"-->
<!--                                ></nz-option> &ndash;&gt;-->
<!--                                        </nz-select>-->
<!--                                    </nz-form-control>-->
<!--                                </nz-form-item>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                <nz-form-item>-->
<!--                                    <nz-form-control>-->
<!--                                        &lt;!&ndash; Chọn theo huyện  &ndash;&gt;-->
<!--                                        <nz-select-->
<!--                                            nzShowSearch-->
<!--                                            nzPlaceHolder="{{ 'home.profile.address.district' | translate }}..."-->
<!--                                            formControlName="district"-->
<!--                                        >-->
<!--                                            &lt;!&ndash; <nz-option-->
<!--                                    *ngFor="let item of listOfDistricts"-->
<!--                                    nzLabel="{{ item.name }}"-->
<!--                                    [nzValue]="item.code"-->
<!--                                ></nz-option> &ndash;&gt;-->
<!--                                        </nz-select>-->
<!--                                    </nz-form-control>-->
<!--                                </nz-form-item>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                <nz-form-item>-->
<!--                                    <nz-form-control>-->
<!--                                        &lt;!&ndash; Chọn theo huyện  &ndash;&gt;-->
<!--                                        <nz-select-->
<!--                                            nzShowSearch-->
<!--                                            nzPlaceHolder="{{ 'home.profile.address.ward' | translate }}..."-->
<!--                                            formControlName="wards"-->
<!--                                        >-->
<!--                                            &lt;!&ndash; <nz-option-->
<!--                                    *ngFor="let item of listOfDistricts"-->
<!--                                    nzLabel="{{ item.name }}"-->
<!--                                    [nzValue]="item.code"-->
<!--                                ></nz-option> &ndash;&gt;-->
<!--                                        </nz-select>-->
<!--                                    </nz-form-control>-->
<!--                                </nz-form-item>-->
<!--                            </div>-->
<!--                        </div>-->
                        <nz-modal
                            nzTitle="{{ 'checkout.choose' | translate }} {{
                                'checkout.placeholder.address' | translate
                            }}"
                            [(nzVisible)]="isVisible"
                            (nzOnCancel)="handleCancel()"
                            (nzOnOk)="handleCancel()"
                        >
                            <div *nzModalContent>
                                <div class="row">
                                    <div
                                        class="col-md-12 mt-md-4"
                                        *ngFor="let address of this.infoCustomer?.addressDTOS"
                                    >
                                        <div class="row">
                                            <div class="col-md-10">
                                                +
                                                {{
                                                    address.addressDetail +
                                                        ", " +
                                                        address.ward +
                                                        ", " +
                                                        address.district +
                                                        ", " +
                                                        address.province
                                                }}
                                            </div>
                                            <div class="col-md-2">
                                                <button nz-button nzType="primary" (click)="chooseAddress(address)">
                                                    {{ "checkout.choose" | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nz-modal>
                        <div class="form-group mt-md-4">
                            <input
                                class="input"
                                type="tel"
                                formControlName="phoneNumber"
                                placeholder="{{ 'checkout.placeholder.phoneNumber' | translate }}"
                            />
                            <span
                                class="text-danger"
                                *ngIf="
                                    this.customerForm.get('phoneNumber').invalid &&
                                    (this.customerForm.get('phoneNumber').dirty ||
                                        this.customerForm.get('phoneNumber').touched)
                                "
                            >
                                <small *ngIf="this.customerForm.getError('required', 'phoneNumber')"
                                    >*{{ "register.message.error.phoneNumber" | translate }}</small
                                >
                                <small *ngIf="this.customerForm.getError('pattern', 'phoneNumber')"
                                    >*{{ "register.message.error.phoneNumberFormat" | translate }}</small
                                >
                            </span>
                        </div>

                        <div class="order-notes">
                            <textarea
                                class="input"
                                formControlName="note"
                                placeholder="{{ 'checkout.placeholder.orderNotes' | translate }}"
                            ></textarea>
                        </div>
                    </div>
                    <!-- /Billing Details -->

                    <!-- Shiping Details -->
                    <div class="shiping-details">
                        <div class="section-title">
                            <h3 class="title"></h3>
                        </div>
                    </div>
                    <!-- /Shiping Details -->

                    <!-- Order notes -->
                    <div class="order-notes"></div>
                    <!-- /Order notes -->
                </form>
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">{{ "checkout.yourOrder" | translate }}</h3>
                </div>
                <div class="order-summary">
                    <div class="row">
                        <div class="col-4">
                            <strong>{{ "checkout.product" | translate }}</strong>
                        </div>
                        <div class="col">
                            <strong>{{ "checkout.quantity" | translate }}</strong>
                        </div>
                        <div class="col">
                            <strong>{{ "checkout.total" | translate }}</strong>
                        </div>
                    </div>
                    <div class="order-products">
                        <div class="order-col" *ngFor="let cart of listOfMyCart">
                            <div class="col">
                                <b style="font-size: 14px">{{ cart.productName }}</b> <br />
                                <span>({{ cart.optionProductName }})</span>
                            </div>
                            <div class="">
                                <span>x{{ cart.quantity }}</span>
                            </div>
                            <div>{{ cart.productPrice | currency: "VND":"symbol" }}</div>
                        </div>
                        <div class="order-col">
                            <div>{{ "checkout.shipping" | translate }}</div>
                            <div>
                                <!--                                <strong>{{ "checkout.free" | translate }}</strong>-->
                                <strong>{{ (this.customerForm.get('shippingCost')?.value |  currency: "VND":"symbol") || ("checkout.free" | translate)}}</strong>
                            </div>
                        </div>
                        <div class="order-col">
                            <div>
                                <strong>{{ "checkout.total" | translate }}</strong>
                            </div>
                            <div>
                                <strong class="order-total">{{ this.intoMoney() | currency: "VND":"symbol" }}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="payment"
                                 (click)="onChangePaymentMethod('COD')"
                                 [ngClass]="this.customerForm.get('paymentMethod')?.value == 'COD' ? 'active' : ''">
                                <img src="https://laz-img-cdn.alicdn.com/tfs/TB1ZP8kM1T2gK0jSZFvXXXnFXXa-96-96.png">
                                Thanh toán khi nhận hàng
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="payment"
                                 (click)="onChangePaymentMethod('ZALO_PAY')"
                                 [ngClass]="this.customerForm.get('paymentMethod')?.value == 'ZALO_PAY' ? 'active' : ''">

                                <img
                                        src="https://img.alicdn.com/tfs/TB17BAYE7L0gK0jSZFAXXcA9pXa-80-80.png">Thanh
                                toán
                                online qua ví zalo pay
                            </div>
                        </div>
                        <div class="order-col mt-2">
                            <re-captcha
                                    (resolved)="resolved($event)"
                                    siteKey="6LfUn8EcAAAAAMMkLf9i_Bi1aSBFnkUZgi9qM-a6"
                            ></re-captcha>
                        </div>
                    </div>
                    <button class="btn-order" nz-button [disabled]="!this.customerForm.get('captchaCode')?.value"
                            (click)="onCreateOrder()">
                        {{ "checkout.placeOrder" | translate }}
                    </button>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</div>
