<section class="inner-content">
    <div class="container-fluid" style="padding: 0px 9px">
        <div class="row filter">
            <div class="item-filter">
                <nz-tabset>
                    <nz-tab nzTitle="{{ 'customer.detail.overview' | translate }}">
                        <div class="row" style="padding-bottom: 160px">
                            <div class="col-md-3 address">
                                <div class="mt-md-3" *ngFor="let address of listOfMyAddress">
                                    <i class="bi bi-plus"></i>
                                    <span
                                        >{{ address.addressDetail }} - {{ address.ward }} - {{ address.district }} -
                                        {{ address.province }}</span
                                    >
                                    <hr />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="name" class="form-label">{{
                                        "customer.detail.fullName" | translate
                                    }}</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        disabled
                                        [value]="dataCustomerDetail?.fullName"
                                        id="name"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">{{
                                        "customer.detail.email" | translate
                                    }}</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        disabled
                                        [value]="dataCustomerDetail?.email"
                                        id="email"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">{{
                                        "customer.detail.phoneNumber" | translate
                                    }}</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        disabled
                                        [value]="dataCustomerDetail?.phoneNumber"
                                        id="phone"
                                    />
                                </div>
                                <div class="mb-3" *ngIf="dataCustomerDetail?.gender">
                                    <label for="genderId" class="form-label">{{
                                        "customer.detail.gender" | translate
                                    }}</label>
                                    <div class="form-check">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="genderId"
                                            id="genderId"
                                            disabled
                                            checked
                                        />
                                        <label class="form-check-label" for="genderId">
                                            {{ this.onGenderCustomer(dataCustomerDetail?.gender) }}
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="flexRadioDisabled" class="form-label">{{
                                        "customer.detail.status" | translate
                                    }}</label>
                                    <div class="form-check">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="flexRadioDisabled"
                                            id="flexRadioDisabled"
                                            disabled
                                            checked
                                        />
                                        <label class="form-check-label" for="flexRadioDisabled">
                                            {{ this.onStatusCustomer(dataCustomerDetail?.status) | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="{{ 'customer.detail.history' | translate }}">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID đơn hàng</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Ngày hoàn thành</th>
                                    <th>Tổng số tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of listOfOrder">
                                    <td>{{ order?.id | slice: 0:5 }}</td>
                                    <td>{{ order?.createDate | slice: 0:19 }}</td>
                                    <td>{{ order?.lastUpdate | slice: 0:19 }}</td>
                                    <td>{{ this.countTotalMoney(order.id) | currency: "VND":"symbol" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </nz-tab>
                    <nz-tab nzTitle="{{ 'Sản phẩm yêu thích' | translate }}">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>{{ "wishList.image" | translate }}</th>
                                    <th>{{ "wishList.name" | translate }}</th>
                                    <th>{{ "wishList.price" | translate }}</th>
                                    <th>{{ "wishList.likeNumber" | translate }}</th>
                                    <!-- <th>{{ "wishList.rating" | translate }}</th> -->
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr *ngFor="let wishlist of listOfProfile">
                                    <td>
                                        <a [routerLink]="['/product/' + wishlist.productId]">
                                            <img
                                                style="height: 60px"
                                                src="{{
                                                    this.fileUpload.viewImageByOwnerIdAndOwnerType(
                                                        wishlist?.productId,
                                                        PRODUCT_TYPE
                                                    )
                                                }}"
                                                alt="Image"
                                        /></a>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/product' + wishlist.id]">{{
                                            wishlist?.productName ? wishlist?.productName : "-"
                                        }}</a>
                                    </td>
                                    <td>{{ (wishlist?.price ? wishlist?.price : 0) | currency: "VND":"symbol" }}</td>
                                    <td>
                                        <div class="qty">
                                            <i class="fas fa-heart" style="color: #d10024; font-size: 15px"></i>
                                            {{ wishlist?.numberFavourites }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <nz-pagination
                                [nzPageIndex]="1"
                                [nzTotal]="totalItem"
                                nzShowSizeChanger
                                [nzPageSize]="10"
                                (nzPageSizeChange)="pageChange('size', $event)"
                                (nzPageIndexChange)="pageChange('page', $event)"
                            ></nz-pagination>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="{{ 'Giỏ hàng' | translate }}">
                        <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="carts">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th scope="col">{{ "Phân loại hàng" | translate }}</th>
                                    <th scope="col">{{ "cart.price" | translate }}</th>
                                    <th scope="col">{{ "cart.quantity" | translate }}</th>
                                    <th scope="col">{{ "cart.intoMoney" | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of this.carts">
                                    <td>
                                        <div class="row">
                                            <span class="col">
                                                <img
                                                    class="img-product"
                                                    src="{{
                                                        this.fileUpload.viewImageByOwnerIdAndOwnerType(
                                                            data?.productId,
                                                            PRODUCT_TYPE
                                                        )
                                                    }}"
                                                    alt="image product"
                                                    style="width: 60px; height: 60px"
                                                />
                                            </span>
                                            <span class="col"
                                                ><a href="javascript:void(0)">{{ data?.productName }}</a></span
                                            >
                                        </div>
                                    </td>
                                    <td>{{ data.optionProductName }}</td>
                                    <td>
                                        <!-- <u class="text-danger">{{ data.productPrice | currency: "VND":"symbol" }}</u> -->
                                        <p>
                                            {{
                                                data.productPrice! - (data.productPrice! * data.discount!) / 100
                                                    | currency: "VND":"symbol"
                                            }}
                                        </p>
                                    </td>
                                    <td>
                                        {{ data.quantity }}
                                    </td>
                                    <td>{{ total(data) | currency: "VND":"symbol" }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-tab>
                </nz-tabset>
            </div>
        </div>
    </div>
</section>
