
<div id="wrapper">
    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row flex-nowrap ">
            <nz-sider  class="col-3">
<!--                <div class="logo fw-200"><span style="margin-left: 10px; color:#fff">{{infoCustomer?.fullName}}</span></div>-->
                <ul nz-menu nzTheme="dark" nzMode="inline">
                    <li nz-submenu nzTitle="{{ 'home.profileLayout.profile' | translate}}" nzIcon="user">
                        <ul>
                            <li nz-menu-item [routerLink]="['/user/myprofile']">{{ "home.profileLayout.myAccount" | translate}}</li>

                        </ul>
                    </li>
                    <li nz-submenu nzTitle="{{ 'home.profileLayout.address' | translate}}" nzIcon="global">
                        <ul>
                            <li nz-menu-item [routerLink]="['/user/myaddress']">{{ "home.profileLayout.address" | translate}}</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="{{ 'home.profileLayout.purchaseOrder' | translate}}" nzIcon="profile">
                        <ul>
                            <li nz-menu-item [routerLink]="['/user/my-list-order']">{{ "home.profileLayout.purchaseOrder" | translate}}</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="{{ 'home.profileLayout.notification' | translate}}" nzIcon="notification">
                        <ul>
                            <li nz-menu-item>{{ "home.profileLayout.notification" | translate}}</li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <div class="col py-3 content-me">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!--<nz-layout>-->
<!--    <nz-sider >-->
<!--        <div class="logo"></div>-->
<!--        <ul nz-menu nzTheme="dark" nzMode="inline">-->
<!--            <li nz-submenu nzTitle="User" nzIcon="user">-->
<!--                <ul>-->
<!--                    <li nz-menu-item>Tom</li>-->
<!--                    <li nz-menu-item>Bill</li>-->
<!--                    <li nz-menu-item>Alex</li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li nz-submenu nzTitle="Team" nzIcon="team">-->
<!--                <ul>-->
<!--                    <li nz-menu-item>Team 1</li>-->
<!--                    <li nz-menu-item>Team 2</li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li nz-menu-item>-->
<!--                <i nz-icon nzType="file"></i>-->
<!--                <span>File</span>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nz-sider>-->
<!--    <nz-layout>-->
<!--&lt;!&ndash;        <nz-header></nz-header>&ndash;&gt;-->
<!--        <nz-content>-->
<!--            <router-outlet></router-outlet>-->
<!--        </nz-content>-->
<!--&lt;!&ndash;        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>&ndash;&gt;-->
<!--    </nz-layout>-->
<!--</nz-layout>-->
