i {
    color: red;
}
a{
    color: aliceblue;
}
ul>li:hover{
    color: aliceblue;
    border-radius: 10px;
}
.content-me{
  min-height: 700px;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #D10024;
}
.ant-layout-sider{
    background-color: #15161D;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #15161D;
}

