input {
    max-width: 500px;
}
.form-label {
    margin-left: 111px;
}
h3,
h5 {
    text-transform: uppercase;
}
[nz-radio] {
    display: block;
    height: 32px;
    line-height: 32px;
}
.form-check{
    margin-left: 10px;
}
