<section>
    <div class="container-fluid">
        <div class="row mt-md-3">
            <h3>{{ "product-returns.title" | translate }}</h3>
            <hr />
            <span>{{ "product-returns.note" | translate }}</span>
        </div>
        <div class="row mt-md-3">
            <h5>{{ "product-returns.orderInfo" | translate }}</h5>
            <hr />
        </div>
        <div class="row" style="margin-left: 100px;">
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "common.fullName" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "common.email" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "common.cellPhone" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <!-- <div class="mt-md-4">
                <div class="col-md-2">
                    <label for="dob" class="form-label">{{ "product-returns.orderId" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="mt-md-4">
                <div class="col-md-2">
                    <label for="dob" class="form-label">{{ "product-returns.orderDate" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input type="date" class="form-control" />
                </div>
            </div> -->
        </div>
        <br />

        <div class="row">
            <h5>{{ "product-returns.productInfo" | translate }}</h5>
            <hr />
        </div>
        <div class="row" style="margin-left: 100px;"> 
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "product-returns.productName" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="{{ 'product-returns.productName' | translate }}"
                    />
                </div>
            </div>
            <!-- <div class="mt-md-4">
                <div class="col-md-2">
                    <label for="dob" class="form-label">{{ "product-returns.productCode" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="{{ 'product-returns.productCode' | translate }}"
                    />
                </div>
            </div> -->
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "cart.quantity" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "product-returns.reason" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">{{
                            "product-returns.deadOnArrival" | translate
                        }}</label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault2"
                            checked
                        />
                        <label class="form-check-label" for="flexRadioDefault2">
                            {{ "product-returns.faultyOrOtherDetails" | translate }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{ "product-returns.orderError" | translate }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{ "product-returns.orderPlease" | translate }}</label
                        >
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{ "product-returns.receivedWrongItem" | translate }}</label
                        >
                    </div>
                </div>
            </div>
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "product-returns.productIsOpened" | translate }}</label>
                </div>
                <div class="col-md-9 p-2">
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            value="option1"
                        />
                        <label class="form-check-label" for="inlineRadio1">{{'common.action.yes' | translate}}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="radio"
                            value="option2"
                        />
                        <label class="form-check-label" for="inlineRadio2">{{'common.action.no' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="mt-md-4">
                <div class="col-md-3">
                    <label for="dob" class="form-label">{{ "product-returns.faultyOrOtherDetails" | translate }}</label>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</section>
