.btn-apply {
  height: 30px;
  width: 100px;
  background: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  position: relative;
//   top: -10px;
}

.btn-order {
  height: 40px;
  width: 180px;
  background-color: #D10024;
  color: #FFF;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  position: relative;
//   top: -10px;
}

.btn-order:hover {
  // background: #FFF;
  // color: #D10024;
  // border: solid 2px #D10024;
}
.quantity {

}

//.content {
//  height: 70vh ;
//}
