<section class="content">
    <div class="inner-content">
        <div class="container-fluid" style="padding: 0px 9px">
            <div class="row ml-md-5">
                <div class="col-md-7 mt-md-3" style="margin-left: 64px">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 inner-content mt-md-3">
                    <nz-table
                        #rowSelectionTable
                        nzShowSizeChanger
                        [nzShowPagination]="true"
                        [nzData]="listOfData"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                    >
                        <thead>
                            <tr>
                                <th
                                    [nzSelections]="listOfSelection"
                                    [(nzChecked)]="checked"
                                    [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="onAllChecked($event)"
                                ></th>
                                <th scope="col">
                                    {{ "cart.all" | translate }}( {{ this.numberProducts }}
                                    {{ "cart.products" | translate }})
                                </th>
                                <th scope="col">{{ "Phân loại hàng" | translate }}</th>
                                <th scope="col">{{ "cart.price" | translate }}</th>
                                <th scope="col">{{ "cart.quantity" | translate }}</th>
                                <th scope="col">{{ "cart.intoMoney" | translate }}</th>
                                <th scope="col">
                                    <button nz-button (click)="onDeleteCartById()"><i class="bi bi-trash"></i></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of rowSelectionTable.data">
                                <td
                                    [nzChecked]="setOfCheckedId.has(data.cartItemId)"
                                    (nzCheckedChange)="onItemChecked(data.id, $event, data)"
                                ></td>
                                <td [routerLink]="['/product/'+ data?.productId]" >
                                    <img
                                        src="{{
                                            this.fileService.viewImageByOwnerIdAndOwnerType(
                                                data?.productId,
                                                TYPE_PRODUCT
                                            )
                                        }}"
                                        alt="image product"
                                        style="width: 60px; height: 60px"
                                    />
                                   <a href="javascript:void(0)">{{ data?.productName }}</a>
                                </td>
                                <td>{{ data?.optionProductName }}</td>
                                <td>{{ data.productPrice | currency: "VND":"symbol" }}</td>
                                <td style="width: 200px">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button nz-button (click)="decrement(data)"
                                                    [disabled]="this.isChangeQuantity || data.quantity == 1 ">
                                                <i class="bi bi-dash"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-3">
                                            <input
                                                    nz-input
                                                    type="number"
                                                    nzMin="1"
                                                    value="{{ data.quantity }}"
                                                    (change)="changeSubtotal(data)"
                                                    [(ngModel)]="data.quantity"
                                                    [disabled]="this.isChangeQuantity"
                                                    class="form-control"
                                                    style="width: 108px"
                                            />
                                        </div>
                                        <div class="col-md-2 ml-5">

                                            <button nz-button type="button" [disabled]="this.isChangeQuantity"
                                                    (click)="increment(data)">
                                                <i class="bi bi-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ total(data) | currency: "VND":"symbol" }}</td>
                                <td>
                                    <button nz-button (click)="onDeleteCart(data)"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
                <div class="col-md-3 mt-md-3 ml-md-3 inner-content">
                    <div class="row container-fluid">
                        <div class="col-md-12 mt-md-4">
                            <nz-input-group [nzAddOnAfter]="suffixButton">
                                <input type="text" nz-input placeholder="{{ 'cart.discountCode' | translate }}" />
                            </nz-input-group>
                            <ng-template #suffixButton>
                                <button class="btn-apply">{{ "cart.apply" | translate }}</button>
                            </ng-template>
                        </div>
                        <div class="row ml-md-2 mt-md-3">
                            <div class="col-md-6 justify-content-start">
                                <p>{{ "cart.transience" | translate }}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <b>{{ this.intoMoney() | currency: "VND":"symbol" }}</b>
                            </div>
                            <hr />
                            <div class="col-md-6 justify-content-start">
                                <p>{{ "cart.discount" | translate }}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <b>{{ this.totalDiscount | currency: "VND":"symbol" }}</b>
                            </div>
                            <hr />
                            <div class="col-md-6 justify-content-start">
                                <p>{{ "cart.intoMoney" | translate }}</p>
                            </div>
                            <div class="col-md-6 justify-content-end">
                                <p style="color: #d10024; font-weight: 700; font-size: x-large">
                                    {{ this.intoMoney() - this.totalDiscount | currency: "VND":"symbol" }}
                                </p>
                            </div>
                            <div class="col-md-9 ml-md-5">({{ "cart.vat" | translate }})</div>
                            <hr />
                        </div>
                    </div>
                    <div class="row mb-md-5 mt-md-2 justify-content-center">
                        <div class="col-md-5" >
                            <button nz-button (click)="this.onCreate()" [disabled]="onChecked()" class="btn-order">{{ "cart.order" | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
