<section class="mt-3 inner-content">

    <div class="container-fluid pt-3">
        <form [formGroup]="this.productForm" *ngIf="!!this.productForm">
            <div class="row">
                <div class="col-xl-8 col-md-10">
                    <h5 class="mb-3">{{'productManagement.createProduct.baseInfo'| translate}} </h5>
                    <div class="row ">
                        <div class="form-group col-lg-6 col-md-12">
                            <label>{{'productManagement.createProduct.productName'| translate}}
                                <span
                                        class="text-danger">*</span></label>
                            <input nz-input class="form-control" formControlName="productName"
                                   placeholder="{{'productManagement.createProduct.productName'| translate}}"/>
                            <span class="text-danger"
                                  *ngIf="this.productForm?.get('productName').invalid && (this.productForm?.get('productName').dirty || this.productForm?.get('productName').touched)">
                                        <small *ngIf="this.productForm?.getError('required','productName')">Tên sản phẩm là bắt buộc</small>
                                    </span>
                        </div>
                        <div class="form-group col-lg-6 -col-md-12">
                            <label>{{'productManagement.createProduct.shortName'| translate}} <span class="text-danger">*</span></label>
                            <input nz-input class="form-control" formControlName="subCateName"
                                   placeholder="{{'productManagement.createProduct.shortName'| translate}}"/>
                            <span class="text-danger"
                                  *ngIf="this.productForm.get('subCateName').invalid && (this.productForm.get('subCateName').dirty || this.productForm.get('subCateName').touched)">
                                        <small *ngIf="this.productForm.getError('required','subCateName')">Tên ngắn là bắt buộc</small>
                                    </span>
                        </div>
                    </div>
                    <hr>
                    <h5 class="mb-3">{{'productManagement.createProduct.infoDetail'| translate}}</h5>
                    <div class="row">
                        <div class="col-6">
                            <label> {{'productManagement.createProduct.category'| translate}}</label>
                            <nz-tree-select
                                    formControlName="categoryId"
                                    class="ml-2 w-100"
                                    style="width: 250px"
                                    [nzExpandedKeys]="expandKeys"
                                    [nzNodes]="category"
                                    nzShowSearch
                                    nzPlaceHolder="Danh mục"
                                    (ngModelChange)="this.loadAttributeByCategory($event)"
                            ></nz-tree-select>
                        </div>
                        <div class="col-6">
                            <label>Mã sản phẩm</label>
                            <nz-select nzShowSearch
                                       class="w-100"
                                       formControlName="serial"
                                       nzAllowClear
                                       [nzDropdownRender]="renderTemplate"
                                       nzPlaceHolder="Mã sản phẩm">
                                <nz-option *ngFor="let item of this.serrials" [nzLabel]="item?.serriName"
                                           [nzValue]="item?.id"></nz-option>
                            </nz-select>
                            <ng-template #renderTemplate>
                                <nz-divider></nz-divider>
                                <div class="container">
                                    <input type="text" nz-input #inputElement />
                                    <a class="add-item" (click)="addItem(inputElement)">
                                        <i nz-icon nzType="plus"></i>
                                        Add item
                                    </a>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <label class="mt-3 mb-3">{{'productManagement.createProduct.description'| translate}}<span
                            class="text-danger">* </span></label>
                    <dk-editor
                            *ngIf="!!this.productInfor?.description || !this.isUpdate"
                            [value]="this.productInfor?.description"
                            (data)="onChangeData($event)"
                    ></dk-editor>
                    <span class="text-danger"
                          *ngIf="this.productForm.get('description').invalid && (this.productForm.get('description').dirty || this.productForm.get('description').touched)">
                                        <small *ngIf="this.productForm.getError('required','description')">mô tả sản phẩm là là bắt buộc</small>
                    </span>

                    <div class="row">

                    </div>
                    <hr>
                    <!--                    Thông tin bán hàng-->
                    <div class="row">
                        <h5>Thông tin bán hàng</h5>

                        <div *ngFor="let item of optionProduct; index as i">
<!--                            {{item | json}}-->
                            <div class="row">
                                <h4 class="col">{{i + 1}}.</h4>
                                <button class="col-1 btn btn-delete  " (click)="deleteOptionProduct(i)">X</button>
                            </div>
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tên loại sản phẩm</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <input nz-input
                                           [value]="item.name"
                                           appKeyUptime
                                           maxlength="100"
                                           (keyupDelay)="this.onChangeOptionProduct($event.target, 'name',i)"/>
                                </nz-form-control>

                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24"
                                               nzRequired>{{'productManagement.createProduct.price'| translate}}</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <input nz-input
                                           appDecimalNumber
                                           [value]="item.price"
                                           appKeyUptime
                                           (keyupDelay)="this.onChangeOptionProduct($event.target, 'price',i)" />
                                </nz-form-control>

                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Kho hàng</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <input nz-input
                                           type="number"
                                           [value]="item.stockQuantity"
                                           appDecimalNumber
                                           appKeyUptime
                                           (keyupDelay)="this.onChangeOptionProduct($event.target, 'stockQuantity',i)" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24" >Giảm giá</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24">
                                    <input nz-input
                                           appDecimalNumber
                                           numberFormatter
                                           [maxValue]="100"
                                           [value]="item.discount"
                                           (keyupDelay)="this.onChangeOptionProduct($event.target, 'discount',i)"/>
                                </nz-form-control>
                            </nz-form-item>
                            <hr/>
                        </div>
                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24">Phân loại hàng</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24">
                                <button (click)="this.addOptionProduct()" nz-button nzType="dashed"
                                        style="width: 100%;">+ Thêm nhóm phân loại hàng
                                </button>
                            </nz-form-control>

                        </nz-form-item>
                    </div>

                </div>
                <div class="col-xl-4 col-md-2">
                    <div class="clearfix">
                        <nz-upload
                                [nzBeforeUpload]="beforeUpload"
                                nzListType="picture-card"
                                [(nzFileList)]="fileList"
                                [nzShowButton]="fileList.length < 8"
                                [nzCustomRequest]="handleCustomUploadReq"
                                (nzChange)="handleUploadImg($event)"
                                [nzDownload]="handleDownload"
                                [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
                                [nzMultiple]="true"
                                [nzLimit]="10"
                                [nzSize]="26214400"
                                [nzRemove]="handleRemoveImg"
                                [nzPreview]="handlePreview">
                            <div>
                                <i nz-icon nzType="plus"></i>
                                <div style="margin-top: 8px">Upload</div>
                            </div>
                        </nz-upload>
                        <nz-modal
                                [nzVisible]="previewVisible"
                                [nzContent]="modalContent"
                                [nzFooter]="null"
                                (nzOnCancel)="previewVisible = false"
                        >
                            <ng-template #modalContent>
                                <img [src]="previewImage" [ngStyle]="{ width: '100%' }"/>
                            </ng-template>
                        </nz-modal>
                    </div>
                    <nz-form-label>{{'productManagement.createProduct.productMeta'| translate}}<span class="text-danger">*</span></nz-form-label>
                    <nz-form-item>
                        <nz-select formControlName="metaData" nzMode="tags" nzPlaceHolder="meta param">
                        </nz-select>
                    </nz-form-item>
                    <label>{{'productManagement.createProduct.productStatus'| translate}}</label>
                    <nz-select formControlName="status"
                               nzPlaceHolder="{{'productManagement.createProduct.productStatus'| translate}}"
                               style="width: 100%;">
                        <nz-option nzLabel="Tạm ngừng bán" [nzValue]="-2"></nz-option>
                        <nz-option nzLabel="bán hàng" [nzValue]="1"></nz-option>
                        <nz-option nzLabel="Hết hàng" [nzValue]="-1"></nz-option>
                    </nz-select>
                    <div class="row mt-3">
                        <div class="col-auto">
                            <label>Cho phép đặt trước</label>
                        </div>
                        <div class="col-auto">
                            <nz-select formControlName="isOrder">
                                <nz-option [nzValue]="true" nzLabel="có"></nz-option>
                                <nz-option [nzValue]="false" nzLabel="không"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                    <div class="row" *ngIf="!!this.productForm.value['isOrder']">
                        <b style="text-align: center; margin: 5%;">Có hàng sau
                            <input type="number" nz-input formControlName="estimateTime"
                                   style="width: 50px; margin: 0% 2% 0% 2%;"/>
                            kể từ khi đặt hàng</b>
                    </div>
                    <div class="row">
                        <nz-table [nzData]="productAttriBute">
                            <thead>
                            <tr>
                                <th>Tên thuộc tính</th>
                                <th>Giá trị</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of productAttriBute; index as i">
                                <td>{{data.name}}</td>
                                <td>
                                    <input type="text"
                                           nz-input
                                           [value]="data.value || ''"
                                           appKeyUptime
                                           (keyupDelay)="this.onChangeDataAttribute($event.target,  i)"
                                    style="width: 100%;">
                                </td>
                            </tr>
                            </tbody>
                        </nz-table>
                    </div>

                </div>
            </div>
        </form>
        <div class="row d-flex justify-content-end">

            <div class="col-auto" *ngIf="!!isUpdate">
                <button nz-button nzType="primary" nzDanger
                        [disabled]="this.productForm.invalid"
                        (click)="this.onUpdate()">Cập nhật sản phẩm
                </button>
            </div>
            <div class="col-auto" *ngIf="!isUpdate">
                <button nz-button nzType="primary"
                        [disabled]="this.productForm.invalid"
                        (click)="this.onSubmitForm()">{{'productManagement.createProduct.saveProduct'| translate}}</button>
            </div>

        </div>
        <hr>
    </div>
</section>
