 .inner-content {
    height: calc(100% - 30px);
    overflow-y: auto;
  }
 //:host ::ng-deep
 // :host ::ng-deep .long-div-inner {
 //   //height: 1500px;
 //  height: 100%
 // }

  //:host ::ng-deep .long-div .ant-back-top {
  //  right: 150px;
  //}

  //:host ::ng-deep .long-div .ant-back-top-rtl {
  //  right: unset;
  //  left: 150px;
  //}

  :host ::ng-deep strong {
    color: rgba(64, 64, 64, 0.6);
  }

  .detail-info-select {
    width: 80%;
    margin: 5px;
  }

.form-group{
  margin-bottom: 10px;
}
 nz-select {
   width: 240px;
 }
 nz-divider {
   margin: 4px 0;
 }
 .container {
   display: flex;
   flex-wrap: nowrap;
   padding: 8px;
 }
 input {
 }
 .add-item {
   flex: 0 0 auto;
   padding: 8px;
   display: block;
 }

 .btn-delete:hover{
   background-color: #c00725;
   color: white;
   font-weight: bold;
 }

