/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #CECFD3;
}

.inner-content {
  padding: 0px !important;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 6%);
  border-radius: 10px;
  padding: 24px;
  background: #fff;
  height: 100%;
  margin: auto;
}
//
//.ant-layout-content {
//  margin: 5px !important;
//}
//
//.add-record-button {
//  align-items: flex-start;
//  height: 42px;
////  width: 100%;
//  color: white;
//  background-color: #da4f46;
//  border-radius: 20px;
//  //box-shadow: #ea4242 3px 5px 7px 0px;
//  display: inline-block;
//  padding: 10px 10.5px;
//  border: none;
//}
//
.avatar {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0.75rem;
  height: 48px;
  width: 48px;
  transition: all .2s ease-in-out;
}
//
.avatar img {
  width: 100%;
}

.avatar+.avatar-content {
  display: inline-block;
  margin-left: 0.75rem;
}

.avatar.avatar-raised {
  margin-top: -24px;
}

.avatar.avatar-scale-up:hover {
  transform: scale(1.2);
}

.active .avatar.avatar-scale-up {
  transform: scale(1.2);
}

.avatar-xxl {
  width: 110px !important;
  height: 110px !important;
}

.avatar-xxl.avatar-raised {
  margin-top: -55px;
}

.avatar-xl {
  width: 74px !important;
  height: 74px !important;
}

.avatar-xl.avatar-raised {
  margin-top: -37px;
}

.avatar-lg {
  width: 58px !important;
  height: 58px !important;
  font-size: 0.875rem;
}
//
.avatar-lg.avatar-raised {
  margin-top: -29px;
}
//
.avatar-sm {
  width: 36px !important;
  height: 36px !important;
  font-size: 0.875rem;
}
//
.avatar-sm.avatar-raised {
  margin-top: -18px;
}
//
.avatar-xs {
  width: 24px !important;
  height: 24px !important;
  font-size: 0.75rem;
}

.avatar-xs.avatar-raised {
  margin-top: -12px;
}

.avatar-group .avatar {
  position: relative;
  z-index: 2;
  border: 2px solid #fff;
}

.avatar-group .avatar:hover {
  z-index: 3;
}

.avatar-group .avatar+.avatar {
  margin-left: -1rem;
}
.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
//
//.btnz {
//  border: 2px solid black;
//  background-color: white;
//  color: black;
//  padding: 14px 28px;
//  font-size: 16px;
//  cursor: pointer;
//}
//
///* Green */
//.success {
//  border-color: #04AA6D;
//  color: green;
//}
//
//.success:hover {
//  background-color: #04AA6D;
//  color: white;
//}
//
///* Blue */
//.info {
//  border-color: #2196F3;
//  color: dodgerblue
//}
//
//.info:hover {
//  background: #2196F3;
//  color: white;
//}
//
///* Orange */
//.warning {
//  border-color: #ff9800;
//  color: orange;
//}
//
//.warning:hover {
//  background: #ff9800;
//  color: white;
//}
//
///* Red */
//.danger {
//  border-color: #f44336;
//  color: red
//}
//
//.danger:hover {
//  background: #f44336;
//  color: white;
//}
//
///* Gray */
//.default {
//  border-color: #e7e7e7;
//  color: black;
//}
//
//.default:hover {
//  background: #e7e7e7;
//}
//
//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//
//.avatar-content{
//  border: solid 2px white;
//}
//*:focus {
//  outline: none !important;
//}
//
//.inner-content{
//  margin: 20px !important;
//}
//button:focus {
//  -webkit-box-shadow: none;
//  box-shadow: none;
//  outline: none !important;
//  outline: thin dotted;
//  outline: 5px auto -webkit-focus-ring-color;
//  outline-offset: -2px;
//}
//.sidenav-purple{
//  background-color: #6f42c1;
//  //border-radius: 20px;
//  color: #fff;
//}
.add-record-button {
  background-color: #4e73df;

}
.avatar-content {
  border: solid 2px white;
}

.form-group .ng-invalid.ng-touched {
  border: 1px solid red;
}
.ant-rate {
  color: #d10024;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
