[nz-carousel-content] {
  text-align: center;
  height: 360px;
  line-height: 180px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}
.slide-img{
  width: 100%;
}
