<section class="container">
<!--    <nz-carousel nzAutoPlay>-->
<!--        <div nz-carousel-content *ngFor="let index of array">-->
            <img class="slide-img" src="https://www.playzone.vn/image/cache/catalog/Banner/2021/corsair/GEAR-975x400.png" />
<!--        </div>-->
<!--    </nz-carousel>-->
</section>
