
.logo {
  height: 32px;
  //background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  //background-color: #ffbc00;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  height: 100%;
  position: fixed;
  left: 0;
  overflow: auto;
  transition: 0.5s;

}


.right-layout-open {
  margin-left: 200px;
  transition: 0.2s;
}
.right-layout-off{
  margin-left: 80px;
  transition: 0.5s;

}
nz-header {
  //background: #ffbc00 ;
  background:    #292929 ;
  height: 50px;
  padding: 5px 20px 5px 10px;
}
//nz-header div{
//  position: absolute;
//  right: 0px;
//  width: 300px;
//  border: 3px solid #73AD21;
//  padding: 10px;
//}
nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 24px;
  background: #fff;
  text-align: center;
}

nz-footer {
  text-align: center;
}
