<section class="inner-content">
    <nz-tabset class="ml-md-5"
            [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="onChangeStatus($event)">
        <nz-tab nzTitle="{{ 'order.orderStatus.all' | translate }}"></nz-tab>
        <nz-tab nzTitle="{{ 'order.waitingForPayment' | translate }}"></nz-tab>
        <nz-tab nzTitle="{{ 'order.waitingConfirm' | translate }}"></nz-tab>
        <nz-tab nzTitle="{{ 'order.confirmed' | translate }}"></nz-tab>
        <nz-tab nzTitle="{{ 'order.shipping' | translate }}"></nz-tab>
        <nz-tab nzTitle="{{ 'order.paid' | translate }}"></nz-tab>
        <nz-tab nzTitle="{{ 'order.orderStatus.cancel' | translate }}"></nz-tab>
    </nz-tabset>
    <app-order-box *ngFor="let item of this.listOfOrderDetails" [order]="item"></app-order-box>
</section>
<!--<section class="inner-content">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row inner-content-sub mt-md-4">-->
<!--            <ul class="main-nav nav navbar-nav d-inline">-->
<!--                <li-->
<!--                        *ngFor="let item of this.orderStatus"-->
<!--                        [ngClass]="{ active: item.id?.toString() == this.indexOrderMOI?.toString() }"-->
<!--                >-->
<!--                    <a (click)="changeOrder(item.id)">{{ item.label | translate }} </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div *ngIf="this.indexOrderMOI == '1'">-->
<!--            &lt;!&ndash; <div class="row inner-content-sub" *ngFor="let order of listOfOrderDetails">-->
<!--                <div class="col-1">-->
<!--                    <img-->
<!--                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz8ApQxg7aRtt1uHn-9owxox0f8LauWU9VPQ&usqp=CAU"-->
<!--                    alt=""-->
<!--                    style="width: 65px; height: 60px"-->
<!--                />-->
<!--                </div>-->
<!--                <div class="col-10 mb-md-4">-->
<!--                    <strong>{{ order?.receiver }}</strong> <br />-->
<!--                    <span>x{{ order?.totalQuantity }} </span> <br />-->
<!--                    <button-->
<!--                        [routerLink]="['/user/order-detail/' + order.id]"-->
<!--                        class="btn btn-danger btn-detail"-->
<!--                        style="margin-left: 1246px"-->
<!--                    >-->
<!--                        {{ "common.action.detail" | translate }}-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="col-1 mt-md-2">-->
<!--                    <strong>{{ order?.totalPrice | currency: "VND":"symbol" }}</strong>-->
<!--                </div>-->
<!--            </div> &ndash;&gt;-->

<!--            <nz-table #basicTable [nzShowPagination]="false" [nzData]="listOfOrderDetails">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Product Name</th>-->
<!--                    <th>Quantity</th>-->
<!--                    <th>Price</th>-->
<!--                    <th>Total</th>-->
<!--                    <th>Action</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr *ngFor="let orderDetail of basicTable.data">-->
<!--                    <td>{{orderDetail.receiver}}</td>-->
<!--                    <td>{{orderDetail.totalQuantity}}</td>-->
<!--                    <td>{{ orderDetail.totalPrice | currency: "VND":"symbol" }}</td>-->
<!--                    <td>{{ orderDetail.totalQuantity * orderDetail.totalPrice | currency: "VND":"symbol" }}</td>-->
<!--                    <td>-->
<!--                        &lt;!&ndash; <button class="btn btn-default" style="background-color: #D10024;">-->
<!--                            <i class="bi bi-pencil"></i>-->
<!--                        </button> &ndash;&gt;-->
<!--                        <button [routerLink]="['/user/order-detail/' + orderDetail.id]" nz-button nzType="default" nzDanger style="color: #D10024;"><i nz-icon nzType="eye"></i></button>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </nz-table>-->
<!--            <div class="row inner-content-sub mt-md-2">-->
<!--                <div class="col-md-10 total-text mt-md-5 text-capitalize">-->
<!--                    <strong>{{ "orderDetail.total" | translate }}</strong>-->
<!--                </div>-->
<!--                <div class="col-md-2 text-danger mt-md-5" style="font-size: 26px">-->
<!--                    <strong>{{ this.totalOrder | currency: "VND":"symbol" }}</strong>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div *ngIf="this.indexOrderMOI == '2'">cho lay hang</div>-->
<!--        <div *ngIf="this.indexOrderMOI == '3'">shipping</div>-->
<!--        <div *ngIf="this.indexOrderMOI == '5'">Delivery</div>-->
<!--        <div *ngIf="this.indexOrderMOI == '6'">Cancel</div>-->
<!--    </div>-->
<!--</section>-->
