.row > button {
    margin-left: 10px;
}
.btn {
    width: 120px;
}
.main-nav > li + li {
    margin-left: 135px;
}
.main-nav{
    margin-left: 157px;
}

.inner-content-sub {
  padding: 0px !important;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 24px;
  background: rgb(253, 253, 253);
  height: 100%;
}
.size-table{
    width: 700px;
    text-align: end;
}
.btn-detail{
    background-color: #D11024;
    border-radius: 5px;
    color: #fff;
    width: 147px;
}
.total-text{
    text-align: end;
    height: 50px;
}